<app-header></app-header>
<mat-card class="innerpagebanner testimonialbg">
  <span class="mainwrappercontent">
    <mat-card-content>
      <h1>Testimonials</h1>
    </mat-card-content>
  </span>
</mat-card>

<mat-card class="innerpagetitle">
  <span class="mainwrappercontent">    
    <mat-card-content class="bred_cram_wrapper_list bred_cram_wrapper_list_front">
      <mat-list class="bred_cram_wrapper">
          <mat-list-item mat-list-item> <a [routerLink]="'/home'">home</a> </mat-list-item>
          <mat-list-item mat-list-item> <a [routerLink]="'/testimonial'">testimonial List</a> </mat-list-item>
      </mat-list>       
    </mat-card-content>
  </span>
</mat-card>

<mat-card class="ptb-35 generalcls testimonial">
  <!-- <span class="mainwrappercontent">
        <img src="../../../../assets/images/testimonial_blockimg1.jpg" style="width: 100%; display: block; margin: 0; padding: 0;">
    </span> -->
  <span class="mainwrappercontent">
    <mat-list role="list">
      <mat-list-item role="listitem" class="testimonialserv"
        *ngFor="let testmon of TestimonialListArray | slice:0:indexval; let i=index">
      
        <mat-card>
          <span class="testiimgwarpper">
            <img src="{{testmon.testimonial_img}}" class="iconcls">
          </span>
          <mat-card-content class="testicontent">
            <span class="bnticons">
              <button *ngIf="testmon.video" (click)="showvideo()"><img
                  src="../../../../assets/images/videoicon.png"></button>
              <button *ngIf="testmon.audio" (click)="showaudio()"><img
                  src="../../../../assets/images/audioicon.png"></button>
            </span>
            <span class="testibottomcontent">
              <mat-card-title class="title1">{{testmon.name}}</mat-card-title>
            </span>
            <!--<span class="rateingdiv">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                        </span>-->
            <span class="quatation">
              <p class="truncate" [ngClass]="{'truncate truncateopen':testmon._id == p_id }">
                <span [innerHtml]="testmon.description_html"></span>
              </p>


              <span *ngIf="testmon.description_html != '' && testmon.description_html != null">
                <a *ngIf="testmon.description_html != '' && testmon.description_html.length > 0"
                  [ngClass]="{'hide':testmon._id == p_id}" (click)="showmore(testmon)"> read more</a>
              </span> 
              
              
            </span>
            <span class="blogsociallists">
              <a class="sociallink fa fb" (click)="comingSoonDialogTestimonList()"><fa name="facebook" class="fa-facebook"></fa></a>
              <a class="sociallink fa twi" (click)="comingSoonDialogTestimonList()"><fa name="twitter" class="fa-twitter"></fa></a>
              <a class="sociallink fa lin" (click)="comingSoonDialogTestimonList()"><fa name="linkedin" class="fa-linkedin"></fa></a>
              <a class="sociallink fa tumblr" (click)="comingSoonDialogTestimonList()"><fa name="tumblr" class="fa-tumblr"></fa></a>
              <!-- <a class="sociallink fa share" (click)="comingSoonDialogTestimonList()"><fa name="share" class="fa-share"></fa></a> -->
              <a class="sociallink fa link" (click)="comingSoonDialogTestimonList()"><fa name="link" class="fa-link"></fa></a>
            </span>
          </mat-card-content>
        </mat-card>
      </mat-list-item>
    </mat-list>
    <button mat-button class="btnblue sim-button" *ngIf="TestimonialListArray !=null && indexval < TestimonialListArray.length" (click)="showMoreFunc()">Load More</button>

    <!-- <button *ngIf="indexval.length > 0" (click)="showMoreFunc()" mat-stroked-button class="btngeneral btngray">Load more</button> -->
  </span>
</mat-card>

<app-footer></app-footer>
