<div class="adminwrappercls">
  <app-header></app-header>
  <div class="main-content-wrap">
    <mat-card class="generalcls blog" style="padding: 0 !important;">
      <mat-card-content class="adm_inner_banner testimoniallistsadmin">
        <mat-card-title class="adm_inner_title">Manage Quiz</mat-card-title>
      </mat-card-content>
      <mat-card-content class="bred_cram_wrapper_list">
        <mat-list class="bred_cram_wrapper">

          <mat-list-item mat-list-item *ngIf="userCookies.type == 'admin'"> <a
            [routerLink]="'/admin-dashboard'">Dashboard</a> </mat-list-item>
        <mat-list-item mat-list-item *ngIf="userCookies.type == 'customer'"> <a
            [routerLink]="'/customer-dashboard'">Dashboard</a> </mat-list-item>
        <mat-list-item mat-list-item *ngIf="userCookies.type == 'salesrep'"> <a
            [routerLink]="'/rep-dashboard'">Dashboard</a> </mat-list-item>

            <mat-list-item mat-list-item *ngIf="userCookies.type == 'admin'"> <a
              [routerLink]="'/admin-dashboard'">Training Manager</a> </mat-list-item>
          <mat-list-item mat-list-item *ngIf="userCookies.type == 'customer'"> <a
              [routerLink]="'/customer-dashboard'">Training Manager</a> </mat-list-item>
          <mat-list-item mat-list-item *ngIf="userCookies.type == 'salesrep'"> <a
              [routerLink]="'/rep-dashboard'">Training Manager</a> </mat-list-item>

            <mat-list-item mat-list-item *ngIf="userCookies.type == 'admin'"> <a>Manage Quiz</a> </mat-list-item>
          <mat-list-item mat-list-item *ngIf="userCookies.type == 'customer'"> <a>Manage Quiz</a> </mat-list-item>
          <mat-list-item mat-list-item *ngIf="userCookies.type == 'salesrep'"> <a>Manage Quiz</a> </mat-list-item>
          
        </mat-list>       
      </mat-card-content>
      <div class="tablediv">
        <lib-manage-quiz [AddPageRoute]="addPageRoute" [LessonPageRoute]="lessonPageRoute"
          [allDataList]="quizQuestionList" [serverDetails]="serverDetails" [formSource]="formSource"
          [EditPageRoute]="editPageRoute" [AddUpdateAnswerRoute]="addUpdateAnswerRoute" [ParamsId]="paramsId">
        </lib-manage-quiz>
      </div>
    </mat-card>
  </div>
</div>
<app-footer></app-footer>
