<app-header></app-header>
<mat-card class="innerpagebanner aboutusbg">
  <span class="mainwrappercontent">
    <mat-card-content>
      <h1>About us</h1>
    </mat-card-content>
  </span>
</mat-card>
<mat-card class="innerpagetitle">
  <span class="mainwrappercontent">
    <mat-card-content class="bred_cram_wrapper">
      <mat-list class="bred_cram_wrapper_list">
        <mat-list-item routerLinkActive="active">
          <a> home </a>
          <span class="breadcrumb__divider" aria-hidden="true">›</span>
        </mat-list-item>
        <mat-list-item routerLinkActive="active activebread">
          <a [routerLink]="'/aboutus'"> About us </a>
          <span class="breadcrumb__divider" aria-hidden="true">›</span>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
  </span>
</mat-card>

<mat-card class="ptb-35 generalcls aboutusblock1">
  <span class="mainwrappercontent">
    <mat-card-content class="aboutusblock1content">
      <span class="aboutb1img">
        <img src="../../../../assets/images/aboutb1img.jpg" style="width: 100%; display: block; margin: 0; padding: 0;">
      </span>
      <span class="aboutb1info">
        <h1>Leading The Way In The Online Auto Industry</h1>
        <p>With a Powerhouse team of industry leaders, <span class="txtred">ProBidAuto</span> has launched hundreds of
          successful projects online. These projects include dealer marketing technologies and services among a number
          of other various services.<br><br>Massive successes in each of these projects have transformed us into leaders
          of the Online Auto Industry, catering to current buyers in the internet space. We have successfully
          revolutionized the car-buying process into a seamless, hassle-free experience that is beneficial to everyone
          involved. Our services and technologies are built towards delivering a smooth pathway for all interactions
          involved in the car-buying process.</p>
      </span>
    </mat-card-content>
  </span>
  <!-- <img src="../../../../assets/images/aboutus-img1.jpg" style="width: 100%; display: block; margin: 0; padding: 0;"> -->
</mat-card>

<mat-card class="ptb-35 generalcls aboutusblock2">
  <span class="mainwrappercontent">
    <mat-card-content class="aboutusblock2content">
      <span class="aboutb1info">
        <h1>Numerous Global Awards And Accolades Adorn Our Walls</h1>
        <p>As the years rolled by, we have also picked up a number of prestigious awards and accolades along the way,
          and have built a reputation for setting new standards and trends in the industry. Our success story has
          stemmed from the very core of our services, which is aimed towards offering every buyer the opportunity to
          land their dream vehicles.<br><br>With the online auto industry as our playing field, we have taken giant
          strides towards achieving enormous success in almost every endeavor that we have laid our hands-on. Our
          advanced services and technologies have been leading the way in the Online Auto Industry for years, and will
          continue to do so for a long time to come.</p>
      </span>
    </mat-card-content>
  </span>
  <!-- <img src="../../../../assets/images/aboutb2img.png" style="margin: 0; padding: 0;"> -->
  <!-- <img src="../../../../assets/images/aboutus-img2.jpg" style="width: 100%; display: block; margin: 0; padding: 0;"> -->
</mat-card>

<app-footer></app-footer>
