.aboutusbg.mat-card{background:url(../../../../assets/images/aboutusbg.jpg) no-repeat center center!important}
.testimonialblock1{background:#fff}
.testimonialblock2{background:#7fafcd}
@media only screen and (max-width:1024px) {
.aboutusbg.mat-card{background:url(../../../../assets/images/aboutusbg.jpg) no-repeat left 25% center!important}
}