<div class="adminwrappercls">
  <app-header></app-header>
  <div class="main-content-wrap">
    <mat-card class="generalcls blog" style="padding: 0 !important;">
      <mat-card-content class="adm_inner_banner testimoniallistsadmin">
        <mat-card-title class="adm_inner_title">Add Edit Answer</mat-card-title>
      </mat-card-content>
      <mat-card-content class="bred_cram_wrapper_list">
        <mat-list class="bred_cram_wrapper">
            <mat-list-item mat-list-item> <a href="#">Dashboard</a> </mat-list-item>
            <mat-list-item mat-list-item> <a href="#">Training Manager</a> </mat-list-item>
            <mat-list-item mat-list-item> <a [routerLink]="'/'"> Add Edit Answer</a> </mat-list-item>
        </mat-list>       
      </mat-card-content>
      <div class="tablediv">
        <lib-add-edit [serverDetails]="serverDetails" [formSource]="formSource" [ListingPageRoute]="listingPageRoute"
          [DataList]="quizQuestionSingleDataList" [LessonId]="lessonId"></lib-add-edit>
      </div>
    </mat-card>
  </div>
</div>
<app-footer></app-footer>
