<div class="adminwrappercls">
  <app-header></app-header>
  <div class="main-content-wrap">
    <mat-card class="generalcls blog" style="padding: 0 !important;">
      <img src="../../../../assets/images/customerlists-dashboard-img1.jpg"
        style="width: 100%; display: block; margin: 0; padding: 0;">

      <mat-card-content class="bred_cram_wrapper_list">
        <mat-list class="bred_cram_wrapper">
          <mat-list-item mat-list-item *ngIf="userDetails.type == 'admin'"> <a
              [routerLink]="'/admin-dashboard'">Dashboard</a>
          </mat-list-item>
          <mat-list-item mat-list-item *ngIf="userDetails.type == 'customer'"> <a
              [routerLink]="'/customer-dashboard'">Dashboard</a> </mat-list-item>
          <mat-list-item mat-list-item *ngIf="userDetails.type == 'salesrep'"> <a
              [routerLink]="'/rep-dashboard'">Dashboard</a> </mat-list-item>
          <mat-list-item mat-list-item *ngIf="userDetails.type == 'admin'"> <a>customer List</a> </mat-list-item>
          <mat-list-item mat-list-item *ngIf="userDetails.type == 'customer'"> <a>customer List</a> </mat-list-item>
          <mat-list-item mat-list-item *ngIf="userDetails.type == 'salesrep'"> <a>customer List</a> </mat-list-item>
        </mat-list>
      </mat-card-content>

      <span class="searchblock">
        <span class="searchblockwrapper">
          <span>
            <h2>customer list</h2>
          </span>
          <span>
            <button mat-button class="btnorange sim-button" [routerLink]="['/add-customer']"><i
                class="material-icons">add</i> Add customer</button>
          </span>
        </span>
      </span>

      <div class="tablediv customertablediv">

        <lib-listing *ngIf="pendingmodelapplicationarray!=null && pendingmodelapplicationarray.length>0"
          [datasource]="pendingmodelapplicationarray" [skip]="pendingmodelapplicationarray_skip"
          [modify_header_array]="modify_header_array" [apiurl]="apiService.serverUrlDemo"
          [deleteendpoint]="deleteendpoint" [updateendpoint]="updateendpoint"
          [jwttoken]="this.cookieService.get('jwtToken')" [editroute]="editroute" [sourcedata]="tablename"
          [statusarr]="statusarray" [detail_skip_array]="pendingmodelapplicationarray_detail_skip"
          [searchendpoint]="searchendpoint"></lib-listing>

      </div>
    </mat-card>
  </div>
</div>
<app-footer></app-footer>