.generalcls .sectionheader {
	font-size: 30px !important;
	line-height: normal !important;
	color: #2E2E2E;
	text-transform: uppercase;
	background-color: #DDE2E5;
	-webkit-box-pack: start;
	justify-content: flex-start;
	padding: 20px 20px 15px;
	margin-bottom: 12px !important;
	width: auto;
}
.adm_inner_banner .adm_inner_title.mat-card-title {
	font-size: 48px !important;
	color: #fff !important;
	font-family: "HelveticaBold";
	text-transform: uppercase !important;
	text-shadow: -1px -1px 1px rgba(255, 255, 255, .1), 1px 1px 1px rgba(0, 0, 0, .5);
}
.socialadvoblock1 .mainwrappercontent {
	width: 100%;
	margin: 0;
	padding: 0;
}
.socialadvolistwarpper {
	display: block;
}
.socialadvolistwarpper .mat-list {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
}
.socialadvolistwarpper .mat-list .mat-list-item {
	box-sizing: border-box;
	width: 16%;
	display: -webkit-box;
	display: flex;
	padding: 0px;
	background-color: #fff;
	box-shadow: -5px 3px 18px 0px rgba(168, 168, 168, 1);
	position: relative;
	overflow: hidden;
	margin: 0.3%;
	align-items: stretch;
}
.socialadvolistwarpper .mat-list .mat-list-item img {
	height: 100% !important;
	width: 100%;
	height: auto;
	max-width: 100%;
	-o-object-fit: cover;
	object-fit: cover;
}
.bannerlistwrapper {
	padding: 25px;
	background-color: #DDE2E5;
	display: block;
}
.loadmorewarpper {
	display: block;
	text-align: right;
}
.socialadvolistwarpper .facebookbanner .mat-list .mat-list-item {
	height: auto;
}
.socialadvolistwarpper .mat-list .mat-list-item:hover .postblock {
	display: block;
	background: rgba(0, 0, 0, 0.7);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.socialadvolistwarpper .mat-list .mat-list-item:hover .postblock .btnshare {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-transform: uppercase;
}
.socialadvolistwarpper .mat-list .mat-list-item:hover .postblock .btnshare span {
	padding: 0px 30px;
	font-size: 24px;
}
.socialadvolistwarpper .linkedinbanner .mat-list .mat-list-item {
	height: auto;
}
.socialadvolistwarpper .mat-list .mat-list-item .mat-list-item-content {
	padding: 0 !important;
}
.btnsharewrapper {
	display: block;
	margin-top: 20px;
	margin-bottom: 20px;
}
.btnshare {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 0;
	overflow: hidden;
	text-transform: capitalize;
}
.btnshare span {
	padding: 0px 50px;
	font-size: 24px;
}
.btnshare span sub {
	padding: 0 5px;
	font-size: 20px;
	;
	font-family: 'Helvetica-Normal';
	text-transform: lowercase;
}
.btnshare span sup {
	padding: 0 5px;
	font-size: 20px;
	font-family: 'Helvetica-Normal';
	text-transform: lowercase;
}
.btnshare .fa {
	padding: 10px;
	font-size: 32px;
	width: 64px;
	border-radius: 0;
	text-decoration: none;
	height: 100%;
}
.sharecontentinfo .btnshare .fa {
	padding: 4px 4px;
	font-size: 20px;
	width: 20px;
	border-radius: 0;
	text-decoration: none;
	height: 100%;
}
.btnsharecls {
	background: -moz-linear-gradient(270deg, rgba(53, 54, 55, 1) 0%, rgba(33, 34, 34, 1) 100%);
	/* ff3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(53, 54, 55, 1)), color-stop(100%, rgba(33, 34, 34, 1)));
	/* safari4+,chrome */
	background: -webkit-linear-gradient(270deg, rgba(53, 54, 55, 1) 0%, rgba(33, 34, 34, 1) 100%);
	/* safari5.1+,chrome10+ */
	background: -o-linear-gradient(270deg, rgba(53, 54, 55, 1) 0%, rgba(33, 34, 34, 1) 100%);
	/* opera 11.10+ */
	background: -ms-linear-gradient(270deg, rgba(53, 54, 55, 1) 0%, rgba(33, 34, 34, 1) 100%);
	/* ie10+ */
	background: linear-gradient(180deg, rgba(53, 54, 55, 1) 0%, rgba(33, 34, 34, 1) 100%);
	/* w3c */
	filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#353637', endColorstr='#212222', GradientType=0);
	/* ie6-9 */
	color: #fff;
	border-radius: 0;
}
.sharecontentinfo .btnremove {
	background: #FF0000;
	color: #fff;
	min-width: 20px !important;
	height: auto;
	line-height: normal;
	position: absolute;
	right: 0;
	top: 0;
	border-radius: 0;
}
.fa:hover {
	opacity: 0.7;
}
.fa-facebook {
	background: #3B5998;
	color: white;
}
.fa-twitter {
	background: #55ACEE;
	color: white;
}
.fa-google {
	background: #DD4B39;
	color: white;
}
.fa-linkedin {
	background: #007BB5;
	color: white;
}
.fa-youtube {
	background: #BB0000;
	color: white;
}
.fa-instagram {
	background: #125688;
	color: white;
}
.fa-pinterest {
	background: #CB2027;
	color: white;
}
.fa-snapchat-ghost {
	background: #FFFC00;
	color: white;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.fa-skype {
	background: #00AFF0;
	color: white;
}
.fa-android {
	background: #A4C639;
	color: white;
}
.fa-dribbble {
	background: #EA4C89;
	color: white;
}
.fa-vimeo {
	background: #45BBFF;
	color: white;
}
.fa-tumblr {
	background: #2C4762;
	color: white;
}
.fa-vine {
	background: #00B489;
	color: white;
}
.fa-foursquare {
	background: #45BBFF;
	color: white;
}
.fa-stumbleupon {
	background: #EB4924;
	color: white;
}
.fa-flickr {
	background: #F40083;
	color: white;
}
.fa-yahoo {
	background: #430297;
	color: white;
}
.fa-soundcloud {
	background: #FF5500;
	color: white;
}
.fa-reddit {
	background: #FF5700;
	color: white;
}
.fa-rss {
	background: #FF6600;
	color: white;
}
.socialmediaheader {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
}
.socialmediaheader > span {
	margin-right: 10px;
}

.socialmediaheader h2{
	color: #333;
	margin-top: 0;
    margin-bottom: 0;
}

.sharecontent {
	display: -webkit-box;
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	justify-content: space-between;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	flex-direction: row;
}
.sharecontentimgwrapper {
	width: 76px;
	height: 66px;
	overflow: hiden;
	position: relative;
	display: block;
}
.sharecontentimgwrapper img {
	height: 100% !important;
	width: 100%;
	height: auto;
	max-width: 100%;
	-o-object-fit: cover;
	object-fit: cover;
}
.sharecontentinfo {
	border: 1px solid #E1E1E1;
	padding: 5px 5px;
	margin-left: 5px;
	-webkit-box-flex: 1;
	flex: 1 1 86%;
	position: relative;
	display: flex;
	align-items: center;
}
.sharecontentinfo .mat-list-base {
	padding-top: 0;
	width: 88%;
}
.sharecontentinfo .mat-list-base .mat-list-item {
	height: auto;
	width: 100%;
	background-color: transparent;
	box-shadow: none;
	margin: 0;
	margin-bottom: 5px;
}
.sharecontentinfo .mat-list-base .mat-list-item:last-child {
	margin-bottom: 0px;
}
.sharecontentinfo .mat-list-base .mat-list-item .mat-list-item-content {
	padding: 0 !important;
	width: 100%;
	height: 100%;
}
.sharecontentinfo .mat-list .mat-list-item span {
	font-family: "Helvetica-Normal";
	font-size: 18px;
}
.sharecontentinfo .mat-list .mat-list-item .labelcls {
	color: #222424;
	margin-right: 6px;
}


.postblock {
	display: none;
	position: relative;
}
.postblock .btnshare {
	background: #12C3E3 !important;
}

.grapurl{
	position: relative;
    z-index: 9;
    width: 100%;
    height: auto;
    white-space: normal;
    word-break: break-all;
}

.grapurl button{
	width: 100%;
    margin: 0px auto 0px;
    display: block;
	padding: 5px;
	color: rgb(230, 230, 230);
    font-size: 16px;
    padding: 9px;
text-shadow: 0px -1px 0px rgba(30, 30, 30, 0.8);
background: rgb(0, 0, 0);
background: -moz-linear-gradient(90deg, rgb(0, 0, 0) 30%, rgb(89, 89, 89) 70%);
background: -webkit-linear-gradient(90deg, rgb(0, 0, 0) 30%, rgb(89, 89, 89) 70%);
background: -o-linear-gradient(90deg, rgb(0, 0, 0) 30%, rgb(89, 89, 89) 70%);
background: -ms-linear-gradient(90deg, rgb(0, 0, 0) 30%, rgb(89, 89, 89) 70%);
background: linear-gradient(0deg, rgb(0, 0, 0) 30%, rgb(89, 89, 89) 70%);
-webkit-box-shadow: 0px 2px 1px rgba(50, 50, 50, 0.75);
-moz-box-shadow:    0px 2px 1px rgba(50, 50, 50, 0.75);
box-shadow:         0px 2px 1px rgba(50, 50, 50, 0.75);
}

.grapurl input.mat-input-element {
	margin-top: 0;
    width: 100%;
    margin: 0 auto 0px;
    display: block;
    border: 0;
    height: 24px;
    padding: 1px 6px;
}