<mat-toolbar *ngIf="userCookies.type == 'admin'" class="header fixed">
  <mat-toolbar-row class="toolbar-row">
    <div class="logo" [routerLink]="['/home']">
      <img src="assets/images/logomain.png" alt="">
    </div>
    <!-- <div class="topmenuicon menu-toggle rightSidenav_toggle" [class.active]="toggleActive"
            (click)="toggleRightSidenav()">
            <div></div>
            <div></div>
            <div></div>
          </div> -->
    <div class="topmenulist">
      <mat-list class="navigation-left">
        <mat-list-item class="nav-item">
          <a class="nav-item-hold" mat-menu-item routerLinkActive="activemenu" [routerLink]="['/home']">
            <span class="nav-text">home</span>
          </a>
          <div class="triangle"></div>
        </mat-list-item>

        <mat-list-item class="nadminav-item" routerLinkActive="activemenu" (click)="open(1)">
          <a class="nav-item-hold" mat-menu-item routerLinkActive="activemenu" [routerLink]="['/admin-dashboard']">
            <span class="nav-text">Dashboard</span>
          </a>
          <div class="triangle"></div>
        </mat-list-item>
        <mat-list-item fxFlex class="nav-item" routerLinkActive="activemenu">
          <a [matMenuTriggerFor]="menu3">Inventory</a>
          <mat-menu #menu3="matMenu" class="activedropmenu">
            <!-- <a class="nav-item-hold" mat-menu-item routerLinkActive="activemenu"
                    [routerLink]="['/inventory-list']">Inventory list</a> -->
            <a class="nav-item-hold" mat-menu-item routerLinkActive="activemenu"
              [routerLink]="['/basic-inventory-search-admin']">basic inventory search</a>

            <a class="nav-item-hold" mat-menu-item routerLinkActive="activemenu"
              [routerLink]="['/advance-inventory-search-admin']">Advance Inventory Search</a>

            <a class="nav-item-hold" mat-menu-item routerLinkActive="activemenu"
              [routerLink]="['/saved-search-admin']">Saved Search</a>

            <a class="nav-item-hold" mat-menu-item routerLinkActive="activemenu"
              [routerLink]="['/create-new-inventory']">Create new Inventory</a>
            <a class="nav-item-hold" mat-menu-item routerLinkActive="activemenu" [routerLink]="['/manage-type']">Manage
              Type</a>
            <a class="nav-item-hold" mat-menu-item routerLinkActive="activemenu" [routerLink]="['/manage-make']">Manage
              Make</a>
            <a class="nav-item-hold" mat-menu-item routerLinkActive="activemenu" [routerLink]="['/manage-model']">Manage
              Model</a>
            <a class="nav-item-hold" mat-menu-item routerLinkActive="activemenu" [routerLink]="['/manage-year']">Manage
              Year</a>
          </mat-menu>
          <div class="triangle"></div>
        </mat-list-item>
        <mat-list-item class="nav-item" routerLinkActive="activemenu" (click)="open(2)">
          <a class="nav-item-hold" mat-menu-item routerLinkActive="activemenu" [routerLink]="['/job-ticket-admin']">
            <span class="nav-text">Job Ticket</span>
          </a>
          <div class="triangle"></div>
        </mat-list-item>

        <mat-list-item class="nav-item" routerLinkActive="activemenu">
          <a class="nav-item-hold" mat-menu-item routerLinkActive="activemenu" [routerLink]="['/rsvp-admin']">
            <span class="nav-text">RSVP</span>
          </a>
          <div class="triangle"></div>
        </mat-list-item>

        <mat-list-item fxFlex class="nav-item" routerLinkActive="activemenu">
          <a [matMenuTriggerFor]="menu2">Report</a>
          <mat-menu #menu2="matMenu" class="activedropmenu">
            <a class="nav-item-hold" mat-menu-item routerLinkActive="activemenu" [routerLink]="['/sales-report']">Sales
              Report</a>
            <a class="nav-item-hold" mat-menu-item routerLinkActive="activemenu"
              [routerLink]="['/commission-report']">Commission Report</a>
          </mat-menu>
          <div class="triangle"></div>
        </mat-list-item>

        <mat-list-item fxFlex class="nav-item" routerLinkActive="activemenu">
          <a [matMenuTriggerFor]="menu1">User Management</a>
          <mat-menu #menu1="matMenu" class="activedropmenu">
            <a class="nav-item-hold" mat-menu-item routerLinkActive="activemenu"
              [routerLink]="['/customer-list-admin']">Customers</a>
            <a class="nav-item-hold" mat-menu-item routerLinkActive="activemenu"
              [routerLink]="['/salesrep-list-admin']">SalesRep</a>
            <a class="nav-item-hold" mat-menu-item routerLinkActive="activemenu"
              [routerLink]="['/birddog-list']">Birddogs</a>
          </mat-menu>
          <div class="triangle"></div>
        </mat-list-item>

        <mat-list-item class="nav-item" routerLinkActive="activemenu">
                <a [matMenuTriggerFor]="menu4">Training Manager</a>
                <mat-menu #menu4="matMenu" class="activedropmenu">
                  <a class="nav-item-hold" mat-menu-item routerLinkActive="activemenu" [routerLink]="['/manage-training/list']">Manage
                    Training</a>
                  <a class="nav-item-hold" mat-menu-item routerLinkActive="activemenu"
                     [routerLink]="['/manage-lesson/list']">Manage Lessons</a>
                  <a class="nav-item-hold" mat-menu-item routerLinkActive="activemenu" [routerLink]="['/training-center/list']"
                    >Training Center</a>
                  <a class="nav-item-hold" mat-menu-item routerLinkActive="activemenu">Training Report</a>
                </mat-menu>
                <div class="triangle"></div>
              </mat-list-item>

        <mat-list-item class="nav-item" routerLinkActive="activemenu">
          <a [matMenuTriggerFor]="menu5">Calendar Manager</a>
          <mat-menu #menu5="matMenu" class="activedropmenu">
            <a class="nav-item-hold" mat-menu-item routerLinkActive="activemenu"
              [routerLink]="['/manage-availability']">Manage Availability</a>
            <a class="nav-item-hold" mat-menu-item routerLinkActive="activemenu"
              [routerLink]="['/manage-appointment-admin']">Manage Appointment</a>
          </mat-menu>
          <div class="triangle"></div>
        </mat-list-item>

        <mat-list-item fxFlex class="nav-item" routerLinkActive="activemenu">
          <a [matMenuTriggerFor]="menu6">Manage Website</a>
          <mat-menu #menu6="matMenu" class="activedropmenu">
            <a class="nav-item-hold" mat-menu-item routerLinkActive="activemenu"
              [routerLink]="['/manage-commission']">Manage Commission</a>
            <a class="nav-item-hold" mat-menu-item routerLinkActive="activemenu"
              [routerLink]="['/social-advo-admin']">Social Advo</a>
            <a class="nav-item-hold" mat-menu-item routerLinkActive="activemenu"
              [routerLink]="['/blog-management']">Blog Management</a>
            <a class="nav-item-hold" mat-menu-item routerLinkActive="activemenu"
              [routerLink]="['/service-listing']">Manage Service</a>
            <a class="nav-item-hold" mat-menu-item routerLinkActive="activemenu"
              [routerLink]="['/testimonial-lists-admin']">testimonial lists</a>
            <a class="nav-item-hold" mat-menu-item routerLinkActive="activemenu"
              [routerLink]="['/newsletter-list']">newsletter</a>
            <a class="nav-item-hold" mat-menu-item routerLinkActive="activemenu"
              [routerLink]="['/api-manager']">API Manager</a>
            <a class="nav-item-hold" mat-menu-item routerLinkActive="activemenu"
              [routerLink]="['/miscellaneous']">Miscellaneous</a>
          </mat-menu>
          <div class="triangle"></div>
        </mat-list-item>
      </mat-list>
    </div>
    <div style="margin: auto"></div>
    <div class="header-part-right">
      <h4>{{user_full_name}}</h4>
      <div class="dropdown">
        <div class="user">
          <button mat-button class="userwrapper" [matMenuTriggerFor]="menu"> 
             <img *ngIf="profile_img !=''" [src]="profile_img" alt="">
             <img *ngIf="profile_img ==''" src="https://dev.probidauto.com/assets/images/no-image-default.jpg">
            </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="myAccount()">My Account</button>
            <button mat-menu-item (click)="logout()">Logout</button>

          </mat-menu>
        </div>
      </div>
    </div>
  </mat-toolbar-row>
</mat-toolbar>


<mat-toolbar class="header fixed" *ngIf="userCookies.type == 'customer'">
  <!-- <mat-toolbar class="header fixed" *ngIf="router.url == '/customer-dashboard' || router.url == '/manage-availability-user' || router.url == '/my-appointment-user' || router.url == '/mysalesrep' || router.url == '/advance-inventory-search-user' || router.url == '/basic-inventory-search-user'"> -->
  <mat-toolbar-row class="toolbar-row">
    <div class="logo" [routerLink]="['/home']">
      <img src="assets/images/logomain.png" alt="">
    </div>
    <!-- <div class="topmenuicon menu-toggle rightSidenav_toggle" [class.active]="toggleActive"
            (click)="toggleRightSidenav()">
            <div></div>
            <div></div>
            <div></div>
          </div> -->
    <div class="topmenulist">
      <mat-list class="navigation-left">
        <mat-list-item class="nav-item">
          <a class="nav-item-hold" mat-menu-item routerLinkActive="activemenu" [routerLink]="['/home']">
            <span class="nav-text">home</span>
          </a>
          <div class="triangle"></div>
        </mat-list-item>
        <mat-list-item class="nav-item" routerLinkActive="activemenu" (click)="open(1)">
          <a class="nav-item-hold" mat-menu-item routerLinkActive="activemenu" [routerLink]="['/customer-dashboard']">
            <span class="nav-text">Dashboard</span>
          </a>
          <div class="triangle"></div>
        </mat-list-item>
        <!-- <mat-list-item class="nav-item" routerLinkActive="activemenu" (click)="open(2)">
          <a class="nav-item-hold" mat-menu-item routerLinkActive="activemenu" [routerLink]="['/mysalesrep']">
            <span class="nav-text">SalesRep</span>
          </a>
          <div class="triangle"></div>
        </mat-list-item> -->
        <mat-list-item fxFlex class="nav-item" routerLinkActive="activemenu">
          <a [matMenuTriggerFor]="menu1">Inventory</a>
          <mat-menu #menu1="matMenu" class="activedropmenu">
            <!-- <a mat-menu-item routerLinkActive="activemenu" [routerLink]="['/basic-inventory']">Basic Inventory Search</a> -->
            <a class="nav-item-hold" mat-menu-item routerLinkActive="activemenu"
              [routerLink]="['/basic-inventory-search-customer']">Basic Inventory Search</a>
            <!-- <a mat-menu-item routerLinkActive="activemenu" [routerLink]="['/advance-inventory']">Advance Inventory Search</a> -->
            <a class="nav-item-hold" mat-menu-item routerLinkActive="activemenu"
              [routerLink]="['/advance-inventory-search-customer']">Advance Inventory Search</a>
            <a class="nav-item-hold" mat-menu-item routerLinkActive="activemenu"
              [routerLink]="['/saved-search-customer']">Saved Search</a>
          </mat-menu>
          <div class="triangle"></div>
        </mat-list-item>
        <mat-list-item class="nav-item" routerLinkActive="activemenu">
          <a class="nav-item-hold" mat-menu-item routerLinkActive="activemenu" [routerLink]="['/rsvp-customer']">
            <span class="nav-text">RSVP</span>
          </a>
          <div class="triangle"></div>
        </mat-list-item>
        <!-- <mat-list-item  class="nav-item" routerLinkActive="activemenu">
                  <a class="nav-item-hold" (click)="Header.openDialog()">
                      <span class="nav-text">Social Advo</span>
                  </a>
                  <div class="triangle"></div>
              </mat-list-item> -->
              
        <mat-list-item fxFlex class="nav-item" routerLinkActive="activemenu">
          <a class="nav-item-hold" mat-menu-item routerLinkActive="activemenu" [routerLink]="['/job-ticket-customer']">
            <!-- <span class="nav-text">Communication</span> -->
            <span class="nav-text">job ticket</span>
          </a>
          <div class="triangle"></div>
        </mat-list-item>
        <mat-list-item class="nav-item" routerLinkActive="activemenu">
          <!-- <a class="nav-item-hold" (click)="Header.openDialog()">
                    <span class="nav-text">Manager’s Calendar</span>
                </a> -->
          <a class="nav-item-hold" [matMenuTriggerFor]="menu3">Manage Calendar</a>
          <mat-menu #menu3="matMenu" class="activedropmenu">
            <a class="nav-item-hold" mat-menu-item routerLinkActive="activemenu"
              [routerLink]="['/manage-availability-user']">Manage Availability</a>
            <a class="nav-item-hold" mat-menu-item routerLinkActive="activemenu"
              [routerLink]="['/manage-appointment-user']">Manage Appointment</a>
          </mat-menu>
          <div class="triangle"></div>
        </mat-list-item>
      </mat-list>
    </div>
    <div style="margin: auto"></div>
    <div class="header-part-right">
      <h4>{{user_full_name}}</h4>
      <!-- User avatar dropdown -->
      <div class="dropdown">
        <div class="user">
          <button mat-button class="userwrapper" [matMenuTriggerFor]="menu"> 
             <img *ngIf="profile_img !=''" [src]="profile_img" alt="">
             <img *ngIf="profile_img ==''" src="https://dev.probidauto.com/assets/images/no-image-default.jpg">
            </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="myAccount()">My Account</button>
            <button mat-menu-item (click)="logout()">Logout</button>

          </mat-menu>
        </div>
      </div>
    </div>
  </mat-toolbar-row>
</mat-toolbar>



<mat-toolbar class="header fixed" *ngIf="userCookies.type == 'salesrep'">
  <mat-toolbar-row class="toolbar-row">
    <div class="logo" [routerLink]="['/home']">
      <img src="assets/images/logomain.png" alt="">
    </div>
    <!-- <div class="topmenuicon menu-toggle rightSidenav_toggle" [class.active]="toggleActive"
            (click)="toggleRightSidenav()">
            <div></div>
            <div></div>
            <div></div>
          </div> -->
    <div class="topmenulist">
      <mat-list class="navigation-left">
        <mat-list-item class="nav-item">
          <a class="nav-item-hold" mat-menu-item routerLinkActive="activemenu" [routerLink]="['/home']">
            <span class="nav-text">home</span>
          </a>
          <div class="triangle"></div>
        </mat-list-item>
        <mat-list-item class="nav-item" routerLinkActive="activemenu" (click)="open(1)">
          <a class="nav-item-hold" mat-menu-item routerLinkActive="activemenu" [routerLink]="['/rep-dashboard']">
            <span class="nav-text">Dashboard</span>
          </a>
          <div class="triangle"></div>
        </mat-list-item>
        <mat-list-item class="nav-item" routerLinkActive="activemenu" (click)="open(2)">
          <a class="nav-item-hold" mat-menu-item routerLinkActive="activemenu" [routerLink]="['/customer-list-rep']">
            <span class="nav-text">Customers</span>
          </a>
          <div class="triangle"></div>
        </mat-list-item>
        <mat-list-item fxFlex class="nav-item" routerLinkActive="activemenu">
          <a [matMenuTriggerFor]="menu1">Inventory</a>
          <mat-menu #menu1="matMenu" class="activedropmenu">
            <a class="nav-item-hold" mat-menu-item routerLinkActive="activemenu"
              [routerLink]="['/basic-inventory-search-rep']">Basic Inventory Search</a>
            <a class="nav-item-hold" mat-menu-item routerLinkActive="activemenu"
              [routerLink]="['/advance-inventory-search-rep']">Advance Inventory Search</a>
            <a class="nav-item-hold" mat-menu-item routerLinkActive="activemenu"
              [routerLink]="['/saved-search-rep']">Saved Search</a>
          </mat-menu>
          <div class="triangle"></div>
        </mat-list-item>
        <mat-list-item fxFlex class="nav-item" routerLinkActive="activemenu">
          <a class="nav-item-hold" mat-menu-item routerLinkActive="activemenu" [routerLink]="['/rsvp-salesrep']">
            <span class="nav-text">RSVP</span>
          </a>
          <div class="triangle"></div>
        </mat-list-item>
        <mat-list-item fxFlex class="nav-item" routerLinkActive="activemenu">
          <a class="nav-item-hold" mat-menu-item routerLinkActive="activemenu" [routerLink]="['/job-ticket-salesrep']">
            <!-- <span class="nav-text">Communication</span> -->
            <span class="nav-text">job ticket</span>
          </a>
          <div class="triangle"></div>
        </mat-list-item>
        <mat-list-item fxFlex class="nav-item" routerLinkActive="activemenu" (click)="open(1)">
          <a class="nav-item-hold" mat-menu-item routerLinkActive="activemenu" [routerLink]="['/my-commission']">
            <span class="nav-text">My Commission</span>
          </a>
          <div class="triangle"></div>
        </mat-list-item>
        <mat-list-item fxFlex class="nav-item" routerLinkActive="activemenu" (click)="open(1)">
          <a class="nav-item-hold" mat-menu-item routerLinkActive="activemenu" [routerLink]="['/my-birddog']">
            <span class="nav-text">My Birddog</span>
          </a>
          <div class="triangle"></div>
        </mat-list-item>
        <mat-list-item fxFlex class="nav-item" routerLinkActive="activemenu">
          <a class="nav-item-hold" mat-menu-item routerLinkActive="activemenu" [routerLink]="['/social-advo-rep']">
            <span class="nav-text">Social Advo</span>
          </a>
          <div class="triangle"></div>
        </mat-list-item>
        <mat-list-item fxFlex class="nav-item" routerLinkActive="activemenu">
          <a class="nav-item-hold" mat-menu-item routerLinkActive="activemenu" [routerLink]="['/training-center-rep']">
            <span class="nav-text">Training Center</span>
          </a>
          <div class="triangle"></div>
        </mat-list-item>
        <mat-list-item fxFlex class="nav-item" routerLinkActive="activemenu">
          <a class="nav-item-hold" [matMenuTriggerFor]="menu2">Manage Calendar</a>
          <mat-menu #menu2="matMenu" class="activedropmenu">
            <a class="nav-item-hold" mat-menu-item routerLinkActive="activemenu"
              [routerLink]="['/manage-availability-rep']">Manage Availability</a>
            <a class="nav-item-hold" mat-menu-item routerLinkActive="activemenu"
              [routerLink]="['/manage-appointment-rep']">Manage Appointment</a>
          </mat-menu>
          <div class="triangle"></div>
        </mat-list-item>
      </mat-list>
    </div>
    <div style="margin: auto"></div>
    <div class="header-part-right">
      <h4>{{user_full_name}}</h4>
      <div class="dropdown">
        <div class="user">
          <button mat-button class="userwrapper" [matMenuTriggerFor]="menu"> 
             <img *ngIf="profile_img !=''" [src]="profile_img" alt="">
             <img *ngIf="profile_img ==''" src="https://dev.probidauto.com/assets/images/no-image-default.jpg">
            </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="myAccount()">My Account</button>
            <button mat-menu-item (click)="logout()">Logout</button>

          </mat-menu>
        </div>
      </div>
    </div>
  </mat-toolbar-row>
</mat-toolbar>