<div class="adminwrappercls">
  <app-header></app-header>
      <div class="main-content-wrap">
        <mat-card class="generalcls blog" style="padding: 0 !important;">  

          <mat-card-content class="bred_cram_wrapper_list">
            <mat-list class="bred_cram_wrapper">

                <mat-list-item mat-list-item *ngIf="user_details.type == 'admin'"> <a [routerLink]="'/admin-dashboard'">Dashboard</a> </mat-list-item>
                <mat-list-item mat-list-item *ngIf="user_details.type == 'customer'"> <a [routerLink]="'/customer-dashboard'">Dashboard</a> </mat-list-item>
                <mat-list-item mat-list-item *ngIf="user_details.type == 'salesrep'"> <a [routerLink]="'/rep-dashboard'">Dashboard</a> </mat-list-item>

                <mat-list-item mat-list-item *ngIf="user_details.type == 'admin'"> <a [routerLink]="'/testimonial-lists-admin'">testimonial lists</a> </mat-list-item> 
                <mat-list-item mat-list-item *ngIf="user_details.type == 'customer'"> <a [routerLink]="'/testimonial-lists-customer'">testimonial lists</a> </mat-list-item> 
                <mat-list-item mat-list-item *ngIf="user_details.type == 'salesrep'"> <a [routerLink]="'/testimonial-lists-salesrep'">testimonial lists</a> </mat-list-item> 

                <mat-list-item mat-list-item *ngIf="user_details.type == 'admin'"> <a>{{header_text}}</a> </mat-list-item> 
                <mat-list-item mat-list-item *ngIf="user_details.type == 'customer'"> <a>{{header_text}}</a> </mat-list-item> 
                <mat-list-item mat-list-item *ngIf="user_details.type == 'salesrep'"> <a>{{header_text}}</a> </mat-list-item> 

            </mat-list>       
          </mat-card-content>

          <span class="searchblock">
              <span class="searchblockwrapper">
                  <span>
                      <h2>Manage Testmonial</h2>
                  </span>            
              </span>
          </span>
          <lib-addedit class="lib-addedit-testimonial" [config]="configAddEdit" [imageUpload]="configData" 
          [audioUpload]="configAudioFileUpload"></lib-addedit>
        </mat-card>
      </div> 
  </div>
<app-footer></app-footer>