<div class="adminwrappercls">
  <app-header></app-header>
      <div class="main-content-wrap">
        <mat-card class="generalcls blog" style="padding: 0 !important;">  
          <span class="searchblock">
              <span class="searchblockwrapper">
                  <span>
                      <h2>Manage Testmonial</h2>
                  </span>            
              </span>
          </span>
          <lib-addedit class="lib-addedit-testimonial" [config]="configAddEdit" [imageUpload]="configData" 
          [audioUpload]="configAudioFileUpload"></lib-addedit>
        </mat-card>
      </div> 
  </div>
<app-footer></app-footer>