<div class="adminwrappercls">
  <app-header></app-header>
  <div class="main-content-wrap">
    <mat-card class="generalcls blog" style="padding: 0 !important;">
      <mat-card-content class="adm_inner_banner testimoniallistsadmin">
        <mat-card-title class="adm_inner_title">Manage Training</mat-card-title>
      </mat-card-content>
      <mat-card-content class="bred_cram_wrapper">
        <a mat-list-item routerLinkActive="active"> Dashboard </a>
        <a mat-list-item routerLinkActive="active"> Training Manager </a>
        <a mat-list-item routerLinkActive="active activebread">
          Manage Training
        </a>
      </mat-card-content>
      <div class="tablediv">
        <lib-listing-training [allDataList]="manageTrainingList" [serverDetails]="serverDetails"
          [formSource]="formSource" [EditPageRoute]="editPageRoute" [AddPageRoute]="addPageRoute"
          [SearchSourceName]="searchSourceName"></lib-listing-training>
      </div>
    </mat-card>
  </div>
</div>
<app-footer></app-footer>
