<app-header></app-header>
<mat-card class="innerpagebanner blogbg">
  <span class="mainwrappercontent">
    <mat-card-content>
      <h1>Blogs</h1>
    </mat-card-content>
  </span>
</mat-card>
<mat-card class="innerpagetitle">
  <span class="mainwrappercontent">    
    <mat-card-content class="bred_cram_wrapper_list bred_cram_wrapper_list_front">
      <mat-list class="bred_cram_wrapper">
          <mat-list-item mat-list-item> <a [routerLink]="'/home'">home</a> </mat-list-item>
          <mat-list-item mat-list-item> <a [routerLink]="'/blogs'">Blogs</a> </mat-list-item>
      </mat-list>       
    </mat-card-content>
  </span>
</mat-card>




<mat-card class="ptb-40 generalcls blog bloglist">
  <span class="mainwrappercontent">


    <span class="bloglistinner">
      <span class="bloglistswrapper"> 
          <span class="search-sec">
              <span class="mat-search-bar">
                <!-- <form class="example-form"> -->
                  <span class="example-form ">
                    <span class="example-full-width">
                        <span matPrefix></span>
                        <input type="text" matInput placeholder="search by title, keyword" [(ngModel)]='keyword_search' (ngModelChange)="searchByKey($event)">
                        <button mat-button>
                          <i class="material-icons">
                            search
                          </i>
                        </button>
                      </span>
                      <span class="example-full-width">
                        <span matPrefix></span>
                        <mat-form-field class="example-full-width"  >
                          <mat-label>Search By Category</mat-label>
                          <mat-select [(ngModel)]="blogCat" name="blogCat">
                            <mat-option *ngFor="let category of blogcategory" [value]="category._id" (click)="blogCatSearch(category._id)"   >
                              {{category.blogtitle}}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                        <!-- <button mat-button >
                          <i class="material-icons">
                            search
                          </i>
                        </button> -->
                      </span>
                    <!-- </form> -->
                </span>
              </span>
              <button  mat-button color="primary" type="button" (click)="reset()">Reset</button>
            </span>       
        <mat-card-content class="bottom_blog">
          <span class="item_wrapper">
            <mat-card-content class="item" *ngFor="let item of bloglisting | slice:0:indexval ; let i=index">
              <span class="item_images" (click)="blogdetail(item)">
                <span *ngIf="item.blogs_image !=''"><img [src]="item.blogs_image" (click)="blogdetail(item)"></span>
               <span *ngIf="item.blogs_image == ''"><img src="../../../../assets/images/no-image-default.jpg" (click)="blogdetail(item)"></span>
               
                <!-- <img  [src]="item.blogs_image">
               <span *ngIf="item.blogs_image ==''">
                
                <img  src="https://dev.probidauto.com/assets/images/no-image-default.jpg">
                </span> -->
              </span>
              <mat-card-content class="contentsection">
                <span class="bnticons" *ngFor="let vurl of item.credentials">
                  <button *ngIf="vurl.video_url !='' && vurl.video_url !=null "
                    (click)="openvideourl(vurl.video_url)"><img src="../../../../assets/images/videoicon.png"></button>
                </span>
                <mat-card-title class="inner_header" (click)="blogdetail(item)">{{item.blogtitle}}</mat-card-title>
                <span class="author">
                  <span class="authornmimg">
                    <span class="writer_image">
                      <img src="../../../../assets/images/blog-icon.png">
                    </span>
                    <p class="authorName">{{item.author}}</p>
                  </span>
                  <p class="date">Date: {{item.date_added}} </p>
                </span>
                <p class="description"><span [innerHtml]="item.description_html"></span></p>
                <!-- {{item.description_html}} -->
                <a class="next_page" (click)="blogdetail(item)">read more</a>

                <span class="blogsociallists absolute">
                  <a class="sociallink fa fb" target="_blank" (click)="fbShare(item)">
                    <fa name="facebook" class="fa-facebook"></fa>
                  </a>
                  <a class="sociallink fa twi" target="_blank" (click)="twitterShare(item)">
                    <fa name="twitter" class="fa-twitter"></fa>
                  </a>
                  <!-- <a class="sociallink fa pin">
                    <fa name="pinterest" class="fa-pinterest"></fa>
                  </a> -->
                  <a class="sociallink fa lin" target="_blank" (click)="linkedinShare(item)">
                    <fa name="linkedin" class="fa-linkedin" ></fa>
                  </a>
                  <!-- <a class="sociallink fa env">
                    <fa name="envelope" class="fa-envelope"></fa>
                  </a> -->
                  <a class="sociallink fa tumblr" target="_blank" (click)="tumblrShare(item)">

                    <fa name="tumblr" class="fa-tumblr"></fa>
                  </a>
                  <!-- <a class="sociallink fa share" (click)="comingSoonDialogBlog()">
                    <fa name="share" class="fa-share"></fa>
                  </a> -->
                </span>
              </mat-card-content>
            </mat-card-content>
          </span>
          <button mat-button class="btnblue sim-button" *ngIf="bloglisting !=null && highLoadMore == false && bloglisting.length > 0 "
            (click)="blogloadmore()">Load More</button>
            <!-- <button mat-button class="btnblue sim-button" (click)="blogloadmore()">Load More</button> -->
        </mat-card-content>
      </span>
      <span class="categorywrapper">       
          <h2>Categories ({{blogcategorycount}})</h2>
          <mat-accordion class="category">
            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false"
              *ngFor="let item of blogcategory">
              <mat-expansion-panel-header (click)="getAllBlogs(item._id)" >
                <mat-panel-title >
                  {{item.blogtitle}} &nbsp;
                  <h4 >( {{item.count_blogs}} )</h4>
                </mat-panel-title>
              </mat-expansion-panel-header>
              
                <ng-container *ngFor="let cat of catBlogs; let i=index;" >
                  <span >
                    <div class="categorysub" [ngClass]="{'active': blogcat }">
                      <h5 class="inner_header" (click)="blogdetail(cat)">
                        <span class="blogsubcattitle" (click)="blogdetail(cat)">{{ cat.blogtitle }}</span>
                        <span class="buttominfocls">
                          <span ><span class="labelcls">Date:</span>{{cat.date_added}}</span>
                          <span ><span class="labelcls">By:</span>{{cat.author}}</span>
                        </span>
                      </h5>
                    </div>
                  </span>
                 
                </ng-container>
                <button mat-button class="btnblue sim-button" type="button" *ngIf="catBlogs !=null && catBlogs.length >4"  (click)="viewAllCatBlogs(item)">View All</button>
            
              
            </mat-expansion-panel>
          </mat-accordion>
      </span>
    </span>
  </span>
</mat-card>

<app-footer></app-footer>
