.blogbg.mat-card{background:url(../../../../assets/images/blogbannerbg.jpg) no-repeat center center !important;}

@media only screen and (max-width:1024px) {
    .blogbg.mat-card {background: url(../../../../assets/images/blogbannerbg.jpg) no-repeat left 25% center !important;}
}

.bloglistswrapper .search-sec button {
    margin-right: 5px;
    margin-top: 0;
    background: #1cb7eb;
    border-radius: 0;
    text-transform: capitalize;
    text-align: center;
    min-width: auto;
    color: #fff;
}

.categorysub .inner_header .buttominfocls{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.categorysub .inner_header .buttominfocls span{
    font-size: 13px;
}
.categorysub .inner_header .buttominfocls span .labelcls{
    color:#fb4a32;margin-right: 5px;
}

.categorysub:hover{
    background-color: #545252;
}

.blogsubcattitle{font-size: 15px;}