<div class="adminwrappercls">
  <app-header></app-header>
  <div class="main-content-wrap">
    <mat-card style="padding: 0 !important;">
      <mat-card-content class="adm_inner_banner adminbannerdashnboard">
        <mat-card-title class="adm_inner_title"><span>Welcome to</span> ProBid Auto</mat-card-title>
        <p class="adm_inner_para">Sourcing Action-Direct Vehicles At Unbelievable Prices Unmatched Anywhere Else In The
          Industry.</p>
      </mat-card-content>
      <mat-card-content class="bred_cram_wrapper rightsideformcls">
        <a mat-list-item routerLinkActive="active activebread"> Dashboard </a>

        <span>

          <form [formGroup]="apikeyForm" class="formrightside">
            <mat-label _ngcontent-serverapp-c1="">Enter New Api Key :</mat-label>
            <mat-form-field>
              <input matInput type="text" placeholder="Enter Api Key" (blur)="inputUntouched('apikey')"
                formControlName="apikey">

            </mat-form-field>&nbsp;
            <mat-error
              *ngIf="!apikeyForm.controls['apikey'].valid && apikeyForm.controls['apikey'].errors.required && apikeyForm.controls['apikey'].touched">
              api key field can not be blank</mat-error>
            <mat-error style="color: crimson;"
              *ngIf="errorApiKey !='' && apikeyForm.value.apikey.length !=32 && apikeyForm.value.apikey.length !='' && apikeyForm.value.apikey.length !=null">
              {{errorApiKey}}
            </mat-error>


            <mat-form-field class="serialnumbercls">
              <input matInput type="number" placeholder="0" (blur)="inputUntouched('keynum')"
                formControlName="keynum">

            </mat-form-field>&nbsp;
            <mat-error
              *ngIf="!apikeyForm.controls['keynum'].valid && apikeyForm.controls['keynum'].errors.required && apikeyForm.controls['keynum'].touched">
              number field can not be blank</mat-error>

            <button mat-raised-button type="button'" class="btnblue" (click)="apiKeySubmit()">Update Api Key</button>
            &nbsp;

            <button mat-raised-button type="reset" class="btnblue greenbtn">Reset</button>




          </form>

        </span>

      </mat-card-content>
    </mat-card>
    <mat-card class="generalcls" style="padding: 0 !important;">
      <mat-card-content class="adm_dashboard_block1">
        <span class="adm_dashboard_block1_left">
          <span class="block1totalreviewwrapper">
            <mat-card-content class="block1totalreview">
              <span class="block1_single orangecolor">
                <span class="block1_single_content">
                  <h2>{{count.customer_count}}</h2>
                  <p>Customers</p>
                </span>
                <button mat-button [routerLink]="['/customer-list-admin']">view all</button>
                <span class="block1_single_icon">
                  <img src="../../../../assets/images/adm-dashboard-b1-icon1.png">
                </span>
              </span>
              <span class="block1_single bluecolor">
                <span class="block1_single_content">
                  <h2>{{count.salesrep_count}}</h2>
                  <p>Salesrep</p>
                </span>
                <button mat-button [routerLink]="['/salesrep-list-admin']">view all</button>
                <span class="block1_single_icon">
                  <img src="../../../../assets/images/adm-dashboard-b1-icon2.png">
                </span>
              </span>
              <span class="block1_single greencolor">
                <span class="block1_single_content">
                  <h2>{{count.birddog_count}}</h2>
                  <p>Birddogs</p>
                </span>
                <button mat-button [routerLink]="['/birddog-list']">view all</button>
                <span class="block1_single_icon">
                  <img src="../../../../assets/images/adm-dashboard-b1-icon3.png">
                </span>
              </span>
            </mat-card-content>
          </span>

          <span class="block1socialadvo">
            <mat-card-title class="sectionheader">Social Advo Banners</mat-card-title>
            <h2>facebook Banner</h2>
            <mat-list role="list" class="flexbox4column">

              <mat-list-item role="listitem" class="block1socialadvosingle"
                *ngFor="let item of allFacebookBanner | slice:0:indexval;">
                <img src="../../../../assets/images/{{item}}">
                <span class="postblock">
                  <a class="btnshare btnsharecls txtwhite" target="_blank" (click)="share(item)"><span>Post</span></a>
                </span>
                <p class="grapurl"><button (click)="copyMessage(item)" value="click to copy">Grab
                    URL</button><span>https://dev.probidauto.com/customer-signup/{{item}}/{{userCookies._id}}</span>
                </p>
              </mat-list-item>
            </mat-list>
            <h2>linkedin Banner</h2>
            <mat-list role="list" class="flexbox4column">
              <mat-list-item role="listitem" class="block1socialadvosingle"
                *ngFor="let item of allLinkdinBanner | slice:0:indexValForLinkdin;">
                <img src="../../../../assets/images/{{item}}">
                <span class="postblock">
                  <a class="btnshare btnsharecls txtwhite" target="_blank"
                    [attr.href]="'https://www.linkedin.com/sharing/share-offsite/?url=dev.probidauto.com/customer-signup/linkedinbanner-img1.jpg/' + userCookies._id"><span>Post</span></a>
                </span>
                <p class="grapurl"><button (click)="copyMessage(item)" value="click to copy">Grab
                    URL</button><span>https://dev.probidauto.com/customer-signup/{{item}}/{{userCookies._id}}</span></p>
              </mat-list-item>
            </mat-list>
            <span class="btnwrappercls">
              <button mat-button class="btnblue" [routerLink]="['/social-advo-admin']">View All</button>
            </span>
          </span>
        </span>
        <span class="adm_dashboard_block1_right">
          <mat-card>
            <mat-card-title class="sectionheader">Current RSVP</mat-card-title>
            <mat-list role="list" class="flexbox1column">
              <mat-list-item role="listitem" class="rsvplistsingle"
                *ngFor="let item of rsvp_list | slice:0:rsvpIndex; let i = index">
                <span (click)="deleteAny(item._id,i,'rsvp')" class="deletecls"><i
                    class="material-icons">delete</i></span>
                <span class="rsvplistsingleinner">

                  <span class="rsvplistsingleleft">
                    <span class="rsvpliststop">
                      <span class="rsvplistimgwrapper">
                        <img *ngIf="item.media.photo_links[0] != null" [src]="item.media.photo_links[0]"
                          (click)="viewRsvpDetails(item._id)">
                        <img class="defaultimg" *ngIf="item.media.photo_links[0] == null"
                          src="assets/images/no-image-default.jpg">
                      </span>
                    </span>
                    <span class="rsvplistsbottom">
                      <h2 (click)="viewRsvpDetails(item._id)">{{item.heading}}</h2>
                      <span class="rsvplistsbottombtm">
                        <span>Status</span>
                        <span *ngIf="item.status == 2" class="btnactive">Rejected <span class="colorred"></span></span>
                        <span *ngIf="item.status == 0" class="btnactive">Pending <span
                            class="coloryellow"></span></span>
                        <span *ngIf="item.status == 1" class="btnactive">Accepted <span
                            class="colorgreen"></span></span>
                      </span>
                    </span>
                  </span>
                  <span class="rsvplistsingleright">
                    <span class="rsvplisttypecontent">
                      <h2>User</h2>
                      <span class="rsvplisttypecontentinfo">
                        <span class="rsvplisttypeimgwrapper">
                          <img *ngIf="item.added_for_picture !=null && item.added_for_picture !=''" [src]="item.added_for_picture">

                          <img *ngIf="item.added_for_picture ==null || item.added_for_picture ==''" src="../../../../assets/images/default_car_img.jpeg">
                        </span>
                        <span class="listscontent">
                          <mat-list>
                            <mat-list-item><span class="labelcls">Name:</span> <span>{{item.added_for_fullname}}</span>
                            </mat-list-item>
                            <mat-list-item><span class="labelcls">Email ID:</span> <span>{{item.added_for_email}}</span>
                            </mat-list-item>
                            <!-- <mat-list-item><span class="labelcls">Phone:</span> <span>{{item.added_for_phone}}</span> </mat-list-item> -->
                          </mat-list>

                        </span>
                      </span>
                      <!-- <span class="rsvplisttypebottom">
                                            <span>Qualified for Finance: <span class="redcls">NO</span></span>
                                            <span>Job Ticket related to this car: <span class="greencls">[1]</span></span>
                                          </span>             -->
                    </span>
                    <span class="rsvplisttypecontent">
                      <h2>Salesrep</h2>
                      <span class="rsvplisttypecontentinfo">
                        <span class="rsvplisttypeimgwrapper">
                          <img *ngIf="item.added_by_picture !=null && item.added_by_picture !=''" [src]="item.added_by_picture">

                                      <img *ngIf="item.added_by_picture ==null || item.added_by_picture ==''" src="../../../../assets/images/default_car_img.jpeg">
                        </span>
                        <span class="listscontent">
                          <mat-list>
                            <mat-list-item><span>Name:</span> <span>{{item.added_by_fullname}}</span> </mat-list-item>
                            <mat-list-item><span>Email ID:</span> <span>{{item.added_by_email}}</span> </mat-list-item>
                            <!-- <mat-list-item><span>Phone:</span> <span>{{item.added_by_phone}}</span> </mat-list-item> -->
                          </mat-list>
                        </span>
                      </span>
                      <!-- <span class="rsvplisttypebottom">
                                                <span>Commission: <span class="redcls">NO</span></span>
                                                <span> 
                                                  <button mat-button class="btnblue greenbtn" *ngIf="item.status == 0 || item.status == 2" (click)="changeStatus(item, 1)">Accepted</button>
                                                  <button mat-button class="btnblue yellowbtn" *ngIf="item.status == 1 || item.status == 2" (click)="changeStatus(item, 0)">Pending</button>
                                                  <button mat-button class="btnblue redbtn" *ngIf="item.status == 0 || item.status == 1" (click)="changeStatus(item, 2)">Rejected</button>
                                                  <button mat-button class="btnblue">View All</button>
                                                </span>                                   
                                              </span> -->
                    </span>
                    <span class="rsvplisttypebottom">
                      <span>
                        <span *ngIf="userCookies.type == 'admin'">

                          <button mat-button class="btnblue greenbtn"
                            *ngIf=" (item.status != 1) && item.status == 0 || item.status == 2"
                            (click)="changeStatus(item, 1)">Accept</button>

                          <button *ngIf="item.status == 1 " (click)="openModale(item)" mat-button
                            class="btnblue whitebtn">Send Email To Customer</button>

                          <button mat-button class="btnblue yellowbtn" *ngIf="item.status != 1 && item.status == 2"
                            (click)="changeStatus(item, 0)">Pending</button>

                          <button mat-button class="btnblue redbtn" *ngIf="item.status == 0 && item.status != 1"
                            (click)="changeStatus(item, 2)">Reject</button>

                        </span>
                        <!-- 
                                            <button mat-button class="btnblue orangebtn" 
                                            (click)="viewJobTicket(item)">View ticket</button> -->

                        <button mat-button *ngIf="item.job_ticket ==null || item.job_ticket != 1"
                          class="btnblue orangebtn" (click)="goToOpenTicket(item,'')">Open Ticket</button>

                        <button mat-button *ngIf="item.job_ticket == 1" class="btnblue orangebtn"
                          (click)="goToOpenTicket(item,'1')">View Ticket</button>

                        <button mat-button class="btnblue" (click)="viewRsvpDetails(item._id)">Know More</button>
                      </span>
                    </span>
                  </span>
                </span>
              </mat-list-item>

            </mat-list>
            <span class="btnwrappercls">
              <button mat-button class="btnblue" [routerLink]="['/rsvp-admin']"
                *ngIf="rsvp_list !=null && rsvp_list.length !='' ">View All</button>
            </span>

          </mat-card>
        </span>
      </mat-card-content>

      <mat-card-content class="adm_dashboard_block2">
        <mat-card-title class="sectionheader">Saved Search</mat-card-title>
        <mat-list role="list" class="flexbox5column">
          <mat-list-item role="listitem" class="block1socialadvosingle"
            *ngFor="let item of saveSearch_list | slice:0:saveSearchIndex; let i = index">


            <span (click)="deleteAny(item._id,i,'save_search')" class="deletecls"><i
                class="material-icons">delete</i></span>

            <span class="block1socialadvosingleinner">
              <span class="topblock">
                <span class="rsvplistimgwrapper">
                  <img
                    *ngIf="item.card_data.media.photo_links != null && item.card_data.media.photo_links[0] !=null && modalImg == ''"
                    [src]="item.card_data.media.photo_links[0]" (click)="viewSaveDetails(item._id)">
                  <img *ngIf="modalImg != ''" [src]="modalImg">
                  <img *ngIf="item.card_data.media.photo_links == null" src="../../assets/images/default_car_img.jpeg">
                </span>
              </span>
              <span class="middleblock">
                <span class="pricecls">
                  <span *ngIf="item.card_data.price != null">
                    ${{item.card_data.price}}
                  </span>
                  <span *ngIf="item.card_data.price == null">
                    N/A
                  </span>
                </span>

                <span class="titlecls">

                  <span *ngIf="item.card_data.heading != null"
                    (click)="viewSaveDetails(item)">{{item.card_data.heading}}</span>
                  <span *ngIf="item.card_data.heading == null"> N/A</span>
                </span>
              </span>
              <span class="bottomblockss">
                <mat-list>

                  <mat-list-item class="pa_blockfootertext">
                    <span *ngIf="item.card_data.miles != null"> <strong><img
                          src="../../../../assets/images/milesicon.png"></strong> {{item.card_data.miles}}</span>

                    <span *ngIf="item.card_data.miles == null"> <strong><img
                          src="../../../../assets/images/milesicon.png"></strong> {{item.card_data.miles}}</span>
                  </mat-list-item>

                  <mat-list-item class="pa_blockfootertext">
                    <span *ngIf="item.card_data.build.drivetrain != null"> <strong><img
                          src="../../../../assets/images/drivetrainicon.png"></strong>
                      {{item.card_data.build.drivetrain}}</span>

                    <span *ngIf="item.card_data.build.drivetrain == null"> <strong><img
                          src="../../../../assets/images/drivetrainicon.png"></strong>N/A</span>

                  </mat-list-item>

                  <mat-list-item class="pa_blockfootertext">
                    <span *ngIf="item.card_data.build.transmission != null"> <strong><img
                          src="../../../../assets/images/bodytypeicon.png"></strong>
                      {{item.card_data.build.transmission}}</span>

                    <span *ngIf="item.card_data.build.transmission == null"> <strong><img
                          src="../../../../assets/images/bodytypeicon.png"></strong>
                      N/A</span>


                  </mat-list-item>
                </mat-list>
              </span>
            </span>
          </mat-list-item>
        </mat-list>
        <span class="btnwrappercls">
          <button mat-button class="btnblue" [routerLink]="['/save-search-admin']">View All</button>
        </span>
      </mat-card-content>


      <!-- <img src="../../../../assets/images/adm-dashboard-img3.jpg" style="width: 100%; display: block; margin: 0; padding: 0;"> -->


      <!-- <mat-card-content class="adm_dashboard_block3">
                <mat-list class="flexbox2column">
                    <mat-list-item class="listsingle">
                        <span class="adm_dashboard_block3_inner">
                            <h2>Upcoming appointment</h2>
                            <div class="mat-elevation-z8">
                                <div class="tablediv">
                                    <table mat-table [dataSource]="upcomingAppoinementDataSource">

                                        <ng-container matColumnDef="name">
                                          <th mat-header-cell *matHeaderCellDef> Name </th>
                                          <td mat-cell *matCellDef="let element"><span class="namewrapper"> <span class="image_URL_wrapper"><img src="{{element.image_URL}}"></span> <span class="nametxt">{{element.name}}</span> </span></td>
                                        </ng-container>
                                    
                                        <ng-container matColumnDef="phoneNumber">
                                          <th mat-header-cell *matHeaderCellDef>  Phone Number </th>
                                          <td mat-cell *matCellDef="let element"> {{element.phoneNumber}} </td>
                                        </ng-container>
                                    
                                        <ng-container matColumnDef="date">
                                          <th mat-header-cell *matHeaderCellDef> Date </th>
                                          <td mat-cell *matCellDef="let element"> {{element.date}} </td>
                                        </ng-container>
                                    
                                        <ng-container matColumnDef="repName">
                                          <th mat-header-cell *matHeaderCellDef> Rep Name </th>
                                          <td mat-cell *matCellDef="let element"> {{element.repName}} </td>
                                        </ng-container>

                                        <ng-container matColumnDef="action">
                                            <th mat-header-cell *matHeaderCellDef> Action </th>
                                            <td mat-cell *matCellDef="let element"> <a class="btnorange"> {{element.action}}</a> </td>
                                          </ng-container>
                                    
                                        <tr mat-header-row *matHeaderRowDef="UAColumns"></tr>
                                        <tr mat-row *matRowDef="let row; columns: UAColumns;"></tr>
                                    </table>
                                    
                                      <mat-paginator [pageSizeOptions]="[4, 10, 20]" showFirstLastButtons></mat-paginator>
                                </div>                               
                            </div>                           
                        </span>
                        <span class="btnwrappercls">
                            <button mat-button class="btnblue" [routerLink]="['/my-appointment-admin']">View All</button>
                        </span>
                    </mat-list-item>
                    <mat-list-item class="listsingle">
                        <span class="adm_dashboard_block3_inner">
                            <h2>Job ticket</h2>
                            <div class="mat-elevation-z8">
                                <div class="tablediv">
                                    <table mat-table [dataSource]="jobTicketDataSource">

                                        <ng-container matColumnDef="ticket">
                                          <th mat-header-cell *matHeaderCellDef> TICKET# </th>
                                          <td mat-cell *matCellDef="let element">{{element.ticket}}</td>
                                        </ng-container>
                                    
                                        <ng-container matColumnDef="repName">
                                          <th mat-header-cell *matHeaderCellDef> REP NAME </th>
                                          <td mat-cell *matCellDef="let element"> {{element.repName}} </td>
                                        </ng-container>
                                    
                                        <ng-container matColumnDef="title">
                                          <th mat-header-cell *matHeaderCellDef> TITLE </th>
                                          <td mat-cell *matCellDef="let element"> {{element.title}} </td>
                                        </ng-container>
                                    
                                        <ng-container matColumnDef="category">
                                          <th mat-header-cell *matHeaderCellDef> CATEGORY </th>
                                          <td mat-cell *matCellDef="let element"> {{element.category}} </td>
                                        </ng-container>

                                         <ng-container matColumnDef="status">
                                            <th mat-header-cell *matHeaderCellDef> STATUS </th>
                                            <td mat-cell *matCellDef="let element"> {{element.status}} </td>
                                          </ng-container>

                                        <ng-container matColumnDef="action">
                                            <th mat-header-cell *matHeaderCellDef> Action </th>
                                            <td mat-cell *matCellDef="let element"> <a class="btnorange"> {{element.action}}</a> </td>
                                          </ng-container>
                                    
                                        <tr mat-header-row *matHeaderRowDef="JTColumns"></tr>
                                        <tr mat-row *matRowDef="let row; columns: JTColumns;"></tr>
                                    </table>
                                    
                                      <mat-paginator [pageSizeOptions]="[7, 12, 22]" showFirstLastButtons></mat-paginator>
                                </div>
                            </div>                           
                        </span>                        
                        <span class="btnwrappercls">
                            <button mat-button class="btnblue" [routerLink]="['/job-ticket']">View All</button>
                        </span>
                    </mat-list-item>
                </mat-list>               
            </mat-card-content> -->


      <mat-card-content class="adm_dashboard_block4">
        <mat-card-title class="sectionheader">Communication</mat-card-title>
        <span class="adm_dashboard_block4_inner">
          <mat-tab-group class="tabwrapper">
            <mat-tab>
              <ng-template mat-tab-label>
                <h2>Appointment</h2>
              </ng-template>
              <ng-template matTabContent>
                <div class="mat-elevation-z8">
                  <div class="tablediv">
                    <table mat-table [dataSource]="upcomingAppoinementDataSource">

                      <!-- Position Column -->
                      <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef> Name </th>
                        <td mat-cell *matCellDef="let element"><span class="namewrapper"> <span
                              class="image_URL_wrapper"><img src="{{element.image_URL}}"></span> <span
                              class="nametxt">{{element.name}}</span> </span></td>
                      </ng-container>

                      <!-- Name Column -->
                      <ng-container matColumnDef="phoneNumber">
                        <th mat-header-cell *matHeaderCellDef> Phone Number </th>
                        <td mat-cell *matCellDef="let element"> {{element.phoneNumber}} </td>
                      </ng-container>

                      <!-- Weight Column -->
                      <ng-container matColumnDef="date">
                        <th mat-header-cell *matHeaderCellDef> Date </th>
                        <td mat-cell *matCellDef="let element"> {{element.date}} </td>
                      </ng-container>

                      <!-- Symbol Column -->
                      <ng-container matColumnDef="repName">
                        <th mat-header-cell *matHeaderCellDef> Rep Name </th>
                        <td mat-cell *matCellDef="let element"> {{element.repName}} </td>
                      </ng-container>

                      <!-- Symbol Column -->
                      <ng-container matColumnDef="action">
                        <th mat-header-cell *matHeaderCellDef> Action </th>
                        <td mat-cell *matCellDef="let element"> <a class="btnorange"> {{element.action}}</a> </td>
                      </ng-container>

                      <tr mat-header-row *matHeaderRowDef="UAColumns"></tr>
                      <tr mat-row *matRowDef="let row; columns: UAColumns;"></tr>
                    </table>

                    <mat-paginator [pageSizeOptions]="[4, 10, 20]" showFirstLastButtons></mat-paginator>
                  </div>
                </div>
                <span class="btnwrappercls">
                  <button mat-button class="btnblue" [routerLink]="['/my-appointment-admin']">View All</button>
                </span>
              </ng-template>

            </mat-tab>
            <mat-tab>
              <ng-template mat-tab-label>
                <h2>Job Tickets</h2>
              </ng-template>
              <ng-template matTabContent>
                <div class="mat-elevation-z8">
                  <div class="tablediv">
                    <table mat-table [dataSource]="jobTicketDataSource">

                      <!-- Position Column -->
                      <ng-container matColumnDef="ticket">
                        <th mat-header-cell *matHeaderCellDef> Ticket# </th>
                        <td mat-cell *matCellDef="let element">{{element.ticket}}</td>
                      </ng-container>

                      <!-- Position Column -->
                      <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef> Name </th>
                        <td mat-cell *matCellDef="let element"><span class="namewrapper"> <span
                              class="image_URL_wrapper"><img src="{{element.image_URL}}"></span> <span
                              class="nametxt">{{element.name}}</span> </span></td>
                      </ng-container>

                      <!-- Weight Column -->
                      <ng-container matColumnDef="title">
                        <th mat-header-cell *matHeaderCellDef> Title </th>
                        <td mat-cell *matCellDef="let element"> {{element.title}} </td>
                      </ng-container>

                      <!-- Name Column -->
                      <ng-container matColumnDef="repName">
                        <th mat-header-cell *matHeaderCellDef> Rep Name </th>
                        <td mat-cell *matCellDef="let element"> {{element.repName}} </td>
                      </ng-container>

                      <!-- Name Column -->
                      <ng-container matColumnDef="customerName">
                        <th mat-header-cell *matHeaderCellDef> Customer Name </th>
                        <td mat-cell *matCellDef="let element"> {{element.customerName}} </td>
                      </ng-container>

                      <!-- Symbol Column -->
                      <ng-container matColumnDef="subject">
                        <th mat-header-cell *matHeaderCellDef> Subject </th>
                        <td mat-cell *matCellDef="let element"> {{element.subject}} </td>
                      </ng-container>

                      <!-- Symbol Column -->
                      <ng-container matColumnDef="status">
                        <th mat-header-cell *matHeaderCellDef> Status </th>
                        <td mat-cell *matCellDef="let element"> {{element.status}} </td>
                      </ng-container>

                      <!-- Symbol Column -->
                      <ng-container matColumnDef="action">
                        <th mat-header-cell *matHeaderCellDef> Action </th>
                        <td mat-cell *matCellDef="let element"> <a class="btnorange"> {{element.action}}</a> </td>
                      </ng-container>

                      <tr mat-header-row *matHeaderRowDef="JTColumns"></tr>
                      <tr mat-row *matRowDef="let row; columns: JTColumns;"></tr>
                    </table>

                    <mat-paginator [pageSizeOptions]="[4, 10, 20]" showFirstLastButtons></mat-paginator>
                  </div>
                </div>
                <span class="btnwrappercls">
                  <button mat-button class="btnblue" [routerLink]="['/job-ticket']">View All</button>
                </span>
              </ng-template>
            </mat-tab>
          </mat-tab-group>
        </span>
      </mat-card-content>

      <mat-card-content class="adm_dashboard_block4">
        <mat-card-title class="sectionheader">Report</mat-card-title>
        <span class="adm_dashboard_block4_inner">
          <mat-tab-group class="tabwrapper">
            <mat-tab>
              <ng-template mat-tab-label>
                <h2>Training</h2>
              </ng-template>
              <ng-template matTabContent>
                <div class="mat-elevation-z8">
                  <div class="tablediv">
                    <table mat-table [dataSource]="reportsDataSource">

                      <!-- Position Column -->
                      <ng-container matColumnDef="date_joined">
                        <th mat-header-cell *matHeaderCellDef> date joined </th>
                        <td mat-cell *matCellDef="let element">{{element.date_joined}}</td>
                      </ng-container>

                      <!-- Name Column -->
                      <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef> Full Name </th>
                        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                      </ng-container>

                      <!-- Weight Column -->
                      <ng-container matColumnDef="email">
                        <th mat-header-cell *matHeaderCellDef> Email </th>
                        <td mat-cell *matCellDef="let element"> {{element.email}} </td>
                      </ng-container>

                      <!-- Symbol Column -->
                      <ng-container matColumnDef="phoneNumber">
                        <th mat-header-cell *matHeaderCellDef> phone Number </th>
                        <td mat-cell *matCellDef="let element"> {{element.phoneNumber}} </td>
                      </ng-container>

                      <!-- Symbol Column -->
                      <ng-container matColumnDef="trainingProgress">
                        <th mat-header-cell *matHeaderCellDef> Training Progress </th>
                        <td mat-cell *matCellDef="let element"> {{element.trainingProgress}} </td>
                      </ng-container>

                      <!-- Symbol Column -->
                      <ng-container matColumnDef="date_completed">
                        <th mat-header-cell *matHeaderCellDef> Date Completed </th>
                        <td mat-cell *matCellDef="let element"> {{element.date_completed}} </td>
                      </ng-container>

                      <!-- Symbol Column -->
                      <ng-container matColumnDef="status">
                        <th mat-header-cell *matHeaderCellDef> Status </th>
                        <td mat-cell *matCellDef="let element"> {{element.status}} </td>
                      </ng-container>

                      <tr mat-header-row *matHeaderRowDef="ReportColumns"></tr>
                      <tr mat-row *matRowDef="let row; columns: ReportColumns;"></tr>
                    </table>

                    <mat-paginator [pageSizeOptions]="[4, 10, 20]" showFirstLastButtons></mat-paginator>
                  </div>
                </div>
                <span class="btnwrappercls">
                  <button mat-button class="btnblue" [routerLink]="['/training-report']">View All</button>
                </span>
              </ng-template>

            </mat-tab>
            <mat-tab>
              <ng-template mat-tab-label>
                <h2>Commission</h2>
              </ng-template>
              <ng-template matTabContent>
                <div class="mat-elevation-z8">
                  <div class="tablediv">
                    <table mat-table [dataSource]="reportsDataSource">

                      <!-- Position Column -->
                      <ng-container matColumnDef="date_joined">
                        <th mat-header-cell *matHeaderCellDef> date joined </th>
                        <td mat-cell *matCellDef="let element">{{element.date_joined}}</td>
                      </ng-container>

                      <!-- Name Column -->
                      <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef> Full Name </th>
                        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                      </ng-container>

                      <!-- Weight Column -->
                      <ng-container matColumnDef="email">
                        <th mat-header-cell *matHeaderCellDef> Email </th>
                        <td mat-cell *matCellDef="let element"> {{element.email}} </td>
                      </ng-container>

                      <!-- Symbol Column -->
                      <ng-container matColumnDef="phoneNumber">
                        <th mat-header-cell *matHeaderCellDef> phone Number </th>
                        <td mat-cell *matCellDef="let element"> {{element.phoneNumber}} </td>
                      </ng-container>

                      <!-- Symbol Column -->
                      <ng-container matColumnDef="trainingProgress">
                        <th mat-header-cell *matHeaderCellDef> Training Progress </th>
                        <td mat-cell *matCellDef="let element"> {{element.trainingProgress}} </td>
                      </ng-container>

                      <!-- Symbol Column -->
                      <ng-container matColumnDef="date_completed">
                        <th mat-header-cell *matHeaderCellDef> Date Completed </th>
                        <td mat-cell *matCellDef="let element"> {{element.date_completed}} </td>
                      </ng-container>

                      <!-- Symbol Column -->
                      <ng-container matColumnDef="status">
                        <th mat-header-cell *matHeaderCellDef> Status </th>
                        <td mat-cell *matCellDef="let element"> {{element.status}} </td>
                      </ng-container>

                      <tr mat-header-row *matHeaderRowDef="ReportColumns"></tr>
                      <tr mat-row *matRowDef="let row; columns: ReportColumns;"></tr>
                    </table>

                    <mat-paginator [pageSizeOptions]="[4, 10, 20]" showFirstLastButtons></mat-paginator>
                  </div>
                </div>
                <span class="btnwrappercls">
                  <button mat-button class="btnblue" [routerLink]="['/commission-report']">View All</button>
                </span>
              </ng-template>

            </mat-tab>

          </mat-tab-group>


        </span>

      </mat-card-content>

    </mat-card>

  </div>
</div>
<app-footer></app-footer>