
.adm_inner_banner .adm_inner_title.mat-card-title {
  font-size: 48px !important;
  color: #f7462e !important;
  font-family: "HelveticaBold";
  text-transform: uppercase !important;
  background-color: transparent !important;
  width: 40%;
}

.adm_inner_banner .adm_inner_title.mat-card-title span {
  color: #3b3b3b !important;
  font-family: "Helvetica-Regular";
}

.adm_inner_banner .adm_inner_para{    
  width: 40%;
  text-shadow: none !important;
}


.adm_dashboard_block1_left{width: 71%; display: block;}
.adm_dashboard_block1_right{
  width: 28%;
  display: block;
  border-radius: 10px;
  margin-left: 1%;
}

.block1totalreview {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
}

.block1totalreview > .block1_single {
  box-sizing: border-box;
  width: calc(1/3*100% - (1 - 1/3)*12px);
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-direction: row;
  padding: 10px 5px 10px 30px;
  position: relative;
}

.block1totalreview > .block1_single:after{
  content: '';
  background: url(../../../../assets/images/adm-dashboard-b1-icon-wrapper-bg.png);
  width: 220px;
  height: 100%;
  position: absolute;
  right: 0;
  background-repeat: no-repeat;
  opacity: 0.2;
  bottom: 0px;
}

.block1_single_icon img{width: 90%; margin: 0 auto; display: block;}

.block1totalreview > .block1_single .mat-button{
    position: absolute;
    right: 10px;
    bottom:10px;
    text-transform: capitalize;
    color:#333;
    font-size: "Helvetica-Regular";
    line-height: 30px;
    background: -moz-linear-gradient(271deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 33%, rgba(215,222,223,1) 100%); /* ff3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(33%, rgba(255,255,255,1)), color-stop(100%, rgba(215,222,223,1))); /* safari4+,chrome */
  background: -webkit-linear-gradient(271deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 33%, rgba(215,222,223,1) 100%); /* safari5.1+,chrome10+ */
  background: -o-linear-gradient(271deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 33%, rgba(215,222,223,1) 100%); /* opera 11.10+ */
  background: -ms-linear-gradient(271deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 33%, rgba(215,222,223,1) 100%); /* ie10+ */
  background: linear-gradient(179deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 33%, rgba(215,222,223,1) 100%); /* w3c */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#d7dedf',GradientType=0 ); /* ie6-9 */
  z-index: 9;
}

.block1_single_content{
    margin-bottom: 20px;
}

.block1_single_content h2{
  font-size: 102px !important;
  line-height: 52px !important;
  text-shadow: 3px 2px 3px rgba(0,0,0,.2);
}

.block1_single_content p {
  font-size: 31px;
  color: #ffffff;
  font-family: "HelveticaBold";
  margin: 0;
  text-shadow: 3px 2px 3px rgba(0,0,0,.2);
  width: 100%;
  text-transform: capitalize;
}

.orangecolor{
  background: -moz-linear-gradient(180deg, rgba(249,213,63,1) 0%, rgba(248,91,41,1) 100%); /* ff3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(248,91,41,1)), color-stop(100%, rgba(249,213,63,1))); /* safari4+,chrome */
  background: -webkit-linear-gradient(180deg, rgba(249,213,63,1) 0%, rgba(248,91,41,1) 100%); /* safari5.1+,chrome10+ */
  background: -o-linear-gradient(180deg, rgba(249,213,63,1) 0%, rgba(248,91,41,1) 100%); /* opera 11.10+ */
  background: -ms-linear-gradient(180deg, rgba(249,213,63,1) 0%, rgba(248,91,41,1) 100%); /* ie10+ */
  background: linear-gradient(270deg, rgba(249,213,63,1) 0%, rgba(248,91,41,1) 100%); /* w3c */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f85b29', endColorstr='#f9d53f',GradientType=1 ); /* ie6-9 */
}

.bluecolor{
  background: -moz-linear-gradient(180deg, rgba(48,163,245,1) 0%, rgba(28,148,236,1) 100%); /* ff3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(28,148,236,1)), color-stop(100%, rgba(48,163,245,1))); /* safari4+,chrome */
  background: -webkit-linear-gradient(180deg, rgba(48,163,245,1) 0%, rgba(28,148,236,1) 100%); /* safari5.1+,chrome10+ */
  background: -o-linear-gradient(180deg, rgba(48,163,245,1) 0%, rgba(28,148,236,1) 100%); /* opera 11.10+ */
  background: -ms-linear-gradient(180deg, rgba(48,163,245,1) 0%, rgba(28,148,236,1) 100%); /* ie10+ */
  background: linear-gradient(270deg, rgba(48,163,245,1) 0%, rgba(28,148,236,1) 100%); /* w3c */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1c94ec', endColorstr='#30a3f5',GradientType=1 ); /* ie6-9 */
}

.greencolor{
  background: -moz-linear-gradient(180deg, rgba(131,228,105,1) 0%, rgba(17,183,67,1) 100%); /* ff3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(17,183,67,1)), color-stop(100%, rgba(131,228,105,1))); /* safari4+,chrome */
  background: -webkit-linear-gradient(180deg, rgba(131,228,105,1) 0%, rgba(17,183,67,1) 100%); /* safari5.1+,chrome10+ */
  background: -o-linear-gradient(180deg, rgba(131,228,105,1) 0%, rgba(17,183,67,1) 100%); /* opera 11.10+ */
  background: -ms-linear-gradient(180deg, rgba(131,228,105,1) 0%, rgba(17,183,67,1) 100%); /* ie10+ */
  background: linear-gradient(270deg, rgba(131,228,105,1) 0%, rgba(17,183,67,1) 100%); /* w3c */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#11b743', endColorstr='#83e469',GradientType=1 ); /* ie6-9 */
}


.adm_dashboard_block1{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px !important;
}

.flexbox4column {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.flexbox4column > .mat-list-item {
  box-sizing: border-box;
  margin-bottom: 16px;
  width: calc(1/4*100% - (1 - 1/4)*16px);
  height: auto;
}

.flexbox4column > .mat-list-item > .mat-list-item-content{
    padding: 0 !important;
}

.generalcls .sectionheader{
  font-size: 30px !important;
  line-height: normal !important;
  color:#2e2e2e;
  text-transform: uppercase;
  background-color: #dde2e5;
  justify-content: flex-start;
  padding: 20px 20px 15px;    
  margin-bottom: 12px !important;
}

.block1socialadvosingleinner {
  display: flex;
  flex-direction: column !important;
  align-items: stretch !important;
  width: 100%;
}


.adm_dashboard_block2 .block1socialadvosingleinner {
  display: flex;
  flex-direction: column !important;
  align-items: stretch !important;
  width: 100%;
  height: 100%;
}

.deletecls{
  display: none;
  cursor: pointer;
  right: 0;
  position: absolute;
  top: 0;
  z-index: 99;
}

.block1socialadvosingle:hover .deletecls,  .rsvplistsingle:hover .deletecls  {
  display: block;
  color:#ff0000;
  font-size: 20px;
}

.block1socialadvosingle:hover .deletecls .material-icons,  .rsvplistsingle:hover .deletecls .material-icons{
  background-color: rgba(255, 255, 255, 0.8);
  display: block;
  border-radius: 100px;
  padding: 8px;
  border: 2px solid #e41717;
  font-size: 30px;
  color: #e41717;
  position: absolute;
  top:0;
  right: 0;
}



.topblock{
  height: 210px;
  width: 100%;
  overflow: hidden;
  display: block;
  position: relative;
  margin-bottom: 5px;
}

.topblock img{
  width: auto; height: 100% !important; width: auto; height: auto; position: absolute; top: 0; left: 50%;-webkit-transform: translate(-50%,0); -moz-transform: translate(-50%,0); -ms-transform: translate(-50%,0); -o-transform: translate(-50%,0); transform: translate(-50%,0); width: 100%; cursor: pointer; object-fit: cover;
}


.adm_dashboard_block2 .topblock {
  height: 210px;
  width: auto;
  overflow: hidden;
  display: block;
  position: relative;
  margin-bottom: 5px;
  padding: 10px;
  background: #fff;
  box-shadow: 0px 1px 4px 0px rgba(168,168,168,0.5);
}

.adm_dashboard_block2 .topblock .rsvplistimgwrapper{
  display: block;
  overflow: hidden;
  position: relative;
  height: 100%;
}

.adm_dashboard_block2 .topblock .rsvplistimgwrapper img{
  width: auto; height: 100% !important; width: auto; height: auto; position: absolute; top: 0; left: 50%;-webkit-transform: translate(-50%,0); -moz-transform: translate(-50%,0); -ms-transform: translate(-50%,0); -o-transform: translate(-50%,0); transform: translate(-50%,0); width: 100%; cursor: pointer; object-fit: cover;
}

.bottomblock{
  background-color: #1c1b1b;
  padding: 15px 10px 15px;
}


.bottomblock h2{
  font-family: "HelveticaBold";
  font-size: 14px !important;
  line-height: normal !important;
  color:#1cb7eb;
  text-transform: uppercase;
  margin: 0;
}

.blogsociallists .sociallink {
  margin-left: 5px;
}

.blogsociallists .sociallink:first-child {
  margin-left: 0px;
}


.adm_dashboard_block1_right{
    background-color: #dde2e5;
    padding: 15px 22px;
}

.adm_dashboard_block1_right .sectionheader.mat-card-title{
  font-family: "HelveticaBold";
  font-size: 48px !important;
  line-height: normal !important;
  color:#fff;
  text-transform: capitalize;
  background-color: #141b2f;
  justify-content: center;
  padding: 30px 20px 25px;
  margin-bottom: 5px !important;
  width: auto;
}

.adm_dashboard_block1_right .mat-card {
  background: 0 !important;
  padding: 0 !important;
}





.flexbox1column {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.flexbox1column > .rsvplistsingle  {
  box-sizing: border-box;
  margin-bottom: 16px;
  width: calc(1/1*100% - (1 - 1/1)*16px);
  height: auto;
}

.flexbox1column > .rsvplistsingle:last-child{
  margin-bottom: 0px !important;
}

.flexbox1column > .rsvplistsingle  > .mat-list-item-content{
    padding: 0 !important;
}

.flexbox1column .rsvplistsingleinner{
  display: -webkit-box;
  display: flex;
  -webkit-box-align: stretch;
  align-items: stretch;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: column;
  height: 100%;
  flex: 1 1 100%;
}

.flexbox1column .rsvplistsingleleft{
  display: -webkit-box;
  display: flex;
  -webkit-box-align: stretch;
  align-items: stretch;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  height: 100%;
}


.flexbox1column .rsvplistsingleleft .rsvpliststop {
  -webkit-box-flex: 1;
  flex: 1 1 35%;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: stretch;
  align-items: stretch;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
}

.flexbox1column .rsvplistsingleleft .rsvplistsbottom  {
  -webkit-box-flex: 1;
  flex: 1 1 65%;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: stretch;
  align-items: stretch;
  margin-left: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
}

.flexbox1column .rsvplistimgwrapper{
  height: 105px;
  width: 100%;
  overflow: hidden;
  display: block;
  position: relative;
  border: 5px solid #fff;
}

.flexbox1column .rsvplistimgwrapper img{
  width: auto;
  height: 100% !important;
  width: auto;
  height: auto;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%,0);
  transform: translate(-50%,0);
  width: 100%;
  cursor: pointer;
  -o-object-fit: cover;
  object-fit: cover;
}

.flexbox1column .rsvplisttypecontentinfo {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: stretch;
  align-items: stretch;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
}

.flexbox1column .rsvplisttypeimgwrapper {
  width: 76px;
  height: 82px;
  position: relative;
  display: block;
}

.flexbox1column .rsvplisttypeimgwrapper img{
  width: auto;
  height: 100% !important;
  width: auto;
  height: auto;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%,0);
  transform: translate(-50%,0);
  width: 100%;
  cursor: pointer;
  -o-object-fit: cover;
  object-fit: cover;
}

.flexbox1column .listscontent{
  border: 1px solid #e1e1e1;
  padding: 10px 13px;
  margin-left: 5px;
  flex: 1 1 86%;
  position: relative;
}
.flexbox1column .listscontent .mat-list-base{
  padding-top: 0;
}
.flexbox1column .listscontent .mat-list-base .mat-list-item{
  height: auto;
  margin-top: 2px;
}
.flexbox1column .listscontent .mat-list-base .mat-list-item:first-child{margin-top: 0px;}

.flexbox1column .rsvplisttypecontent h2{
  padding: 5px 7px;
  background-color: #465157;
  font-family: 'Helvetica-Normal';
  font-size: 18px!important;
  line-height: normal!important;
  margin-top: 8px;
  margin-bottom: 8px;
}
.flexbox1column .rsvplisttypecontent:last-child{
  margin-top: auto;
}


.rsvplisttypebottom{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  padding-top: 5px;
  padding-bottom: 0px;
}

.rsvplisttypebottom{font-family: "HelveticaBold"; font-size: 13px; text-transform: uppercase; color:#000000}
.redcls{color:#ff0000 !important;}
.greencls{color:#54aa0f !important;}

.colorred{display: block; background-color: #ff0000; width: 15px; height: 15px; border-radius: 100%; margin-left: 5px;}
.coloryellow{display: block; background-color: #f99118; width: 15px; height: 15px; border-radius: 100%; margin-left: 5px;}
.colorgreen{display: block; background-color: #54aa0f;width: 15px; height: 15px; border-radius: 100%; margin-left: 5px;}

.rsvplistsbottombtm{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  background-color: #c0c1c2;
  padding: 6px;
  margin-top: auto;
}
.rsvplistsbottombtm span{font-family: "HelveticaBold"; font-size: 16px; text-transform: uppercase; display: flex; align-items: center; justify-content: space-between;}
.rsvplistsbottom h2 {
  color: #1cb7eb;
  font-family: 'HelveticaBold';
  font-size: 24px !important;
  text-transform: uppercase;
  margin: 5px 0px;
  line-height: normal !important;
}

.rsvplistsingleright{
  box-sizing: border-box;
  margin-bottom: 10px;
  width: calc(1/1*100% - (1 - 1/1)*10px);
  margin-top: 10px;
  padding: 0px 8px 8px;
  box-shadow: 0px 1px 4px 0px rgba(168,168,168,0.5);
  background-color: #fff;
}

.btnwrappercls{display: block; text-align: right;}

.btnwrappercls{
  font-size: 30px !important;
  line-height: normal !important;
  color: #2e2e2e;
  text-transform: uppercase;
  background-color: #dde2e5;
  -webkit-box-pack: start;
  justify-content: flex-start;
  padding: 5px 20px 15px;
  display: block;
  text-align: right;
}


.adm_dashboard_block2{margin-top: 20px; display: block;}
.adm_dashboard_block2 > .mat-card{padding: 0 !important;}





.flexbox2column {
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: space-between;
}

.flexbox2column > .listsingle  {
box-sizing: border-box;
margin-top: 0px;
width: calc(1/2*100% - (1 - 1/2)*2px);
height: auto;
padding: 24px;
background-color: #dde2e5;
height: auto;
}

.flexbox2column > .listsingle:last-child{
margin-bottom: 0px !important;
}

.adm_dashboard_block3_inner{  
padding: 10px;
background-color: #fff;
display: block;
width: 100%;
}

.adm_dashboard_block3_inner h2{  
padding: 24px;
background-color: #1db7eb;
display: block;
margin-bottom: 3px;
margin-top: 0;
}



/* .adm_dashboard_block3_inner .example-container {
height: 653px;
overflow: auto;
} */


.adm_dashboard_block3_inner table {
width: 100%;
}

.tablediv {
margin-top: 0;
}
.mat-elevation-z8{box-shadow: none !important;margin-bottom: 20px;}






.flexbox5column {
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: flex-start;
}

.flexbox5column > .mat-list-item {
box-sizing: border-box;
margin: 6px 6px 6px 6px;
width: calc(1/5*100% - (1 - 1/5)*16px);
height: auto;
padding: 16px;
background-color: #dde2e5;
}

.flexbox5column > .mat-list-item > .mat-list-item-content{
  padding: 0 !important;
}

.middleblock{
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: space-between;
align-items: center;
margin-top: auto;
margin-bottom: 5px;
}

.middleblock > span {
box-sizing: border-box;
margin-bottom: 0;
width: calc(1/2*100% - (1 - 1/2)*11px);
height: auto;  
align-items: center;
justify-content: center;
display: flex;
}

.pricecls {
background: #f7462e;
border-radius: 5px;  
font-family: 'HelveticaBold';
font-size: 24px !important;
text-transform: uppercase;
height: 50px !important;
color:#fff;
}

.bottomblockss{
padding: 16px;
background-color: #465157;
margin-top: auto;
}

.bottomblockss .mat-list-base{
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: space-between;
align-items: center;
width: 100%;
}

.bottomblockss .mat-list-base .mat-list-item {
box-sizing: border-box;
margin-bottom: 0;
width: calc(1/3*100% - (1 - 1/3)*10px);
height: auto;  
align-items: center;
justify-content: center;
display: flex;
font-family: 'Helvetica-Regular';
font-size: 14px !important;
text-transform: capitalize;
color:#fff;
}

.bottomblockss .mat-list-base .mat-list-item strong{margin-right: 5px;}


.adm_dashboard_block3_inner .tablediv .btnorange{margin-top: 0 !important;}

.namewrapper{display: flex; align-items: center; justify-content: space-between;}

.image_URL_wrapper{
width: 56px;
height: 56px;
display: block;
overflow: hidden;
border-radius:100%;
position: relative;
border: 4px solid #fff;  
box-shadow: 0px 1px 4px 0px rgba(168,168,168,0.5);
}

.image_URL_wrapper img{
width: auto;
height: 100% !important;
width: auto;
height: auto;
position: absolute;
top: 0;
left: 50%;
-webkit-transform: translate(-50%,0);
transform: translate(-50%,0);
width: 100%;
cursor: pointer;
-o-object-fit: cover;
object-fit: cover;
}




.block1socialadvo .flexbox4column{    
display: -webkit-box;
display: flex;
-webkit-box-orient: horizontal;
-webkit-box-direction: normal;
flex-direction: row;
flex-wrap: wrap;
-webkit-box-pack: start;
justify-content: flex-start;
}

.block1socialadvo .flexbox4column > .mat-list-item {
box-sizing: border-box;
width: 16%;
display: -webkit-box;
display: flex;
padding: 0px;
background-color: #fff;
box-shadow: 0px 1px 4px 0px rgba(168,168,168,0.5);
position: relative;
overflow: hidden;
margin: 0.3%;
-webkit-box-align: stretch;
align-items: stretch;
height: auto;
}

.generalcls .block1socialadvo h2{
color: #333;
margin: 10px 20px 0px;
font-size: 20px !important;
}

.generalcls .block1socialadvo .btnwrappercls{
margin-top: 8px;
}

.block1socialadvo .flexbox4column .mat-list-item .mat-list-item-content {
padding: 0 !important;
height: 100% !important;
width: 100%;
}

.block1socialadvo .flexbox4column .mat-list-item .mat-list-item-content {
height: 100% !important;
width: 100%;
padding: 0;
}

.block1socialadvo .flexbox4column .mat-list-item img {
height: 100% !important;
width: 100%;
height: auto;
max-width: 100%;
-o-object-fit: cover;
object-fit: cover;
}