<!-- <div *ngIf="httpLoading == true" class="mainOverlayLoader">
    <mat-spinner color="warn"></mat-spinner>
</div> -->


<span class="overlay progressBarLoaderoverlay" *ngIf="httpLoading == true">
    <span class="app-loading">  
      <!-- <mat-spinner class="loader"></mat-spinner> -->
      <mat-progress-bar class="loader" mode="indeterminate"></mat-progress-bar>
      <!-- <mat-progress-bar class="loader" mode="indeterminate"></mat-progress-bar> -->
    </span>
  </span>


  <!-- <div class="loder_body" *ngIf="httpLoading == true"> -->
    <!-- <div class="loder_wrapper"> -->
      <!-- <img src="assets/images/logomain.png"> -->
      <!-- <div class="loader"></div> -->
    <!-- </div> -->
  <!-- </div> -->