<app-header></app-header>
<mat-card class="innerpagebanner inventorydetailbg">
  <span class="mainwrappercontent">
    <mat-card-content>
      <h1>Inventory detail</h1>
    </mat-card-content>
  </span>
</mat-card>
<mat-card class="innerpagetitle">
  <span class="mainwrappercontent">
    <mat-card-content class="bred_cram_wrapper">
      <mat-list class="bred_cram_wrapper_list">
        <mat-list-item routerLinkActive="active">
          <a> inventory </a>
          <span class="breadcrumb__divider" aria-hidden="true">›</span>
        </mat-list-item>
        <mat-list-item routerLinkActive="active activebread">
          <a [routerLink]="'/basic-inventory-search'"> Inventory detail </a>
          <span class="breadcrumb__divider" aria-hidden="true">›</span>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
  </span>
</mat-card>
<mat-card class="ptb-35 generalcls inventorysearch" style="padding: 0 !important;">
    <span class="mainwrappercontent">

        <p>inventory-detail works!</p>
        
    </span>
</mat-card>

<app-footer></app-footer>
