<div class="generalmodalcls">
    <div class="modal-content">
        <div class="logowrapperouter">
            <div class="logowrapper">
                <img src="../../assets/images/logomain.png">
            </div>
        </div>       
        <h1 mat-dialog-title>{{data.loginMsg}}</h1>
        <div mat-dialog-actions>   
                <button class="btnbluecls" mat-button mat-dialog-close="yes" cdkFocusInitial>Login</button>
            <!-- <button mat-button (click)="LinkToLogin()">Login</button>     -->
        </div>
    </div>
</div>