<div class="generalmodalcls">
    <div class="modal-content">
          <div class="logowrapperouter">
              <div class="logowrapper">
                  <img src="../../assets/images/logomain.png">
              </div>
          </div>       
          <div mat-dialog-content>
            <img [src]="data" width="520" height="315" >
          </div>
          <mat-dialog-actions >
            
            <button mat-button class="btnredcls" [mat-dialog-close]="data" cdkFocusInitial>Okay!</button>
          </mat-dialog-actions>
      </div>
    </div>
  
  
  
  
   