<div class="generalmodalcls">
  <div class="modal-content">
        <div class="logowrapperouter">
            <div class="logowrapper">
                <img src="../../assets/images/logomain.png">
            </div>
        </div>       
        <div mat-dialog-content>
          <p>{{ data}}</p>
        </div>
        <mat-dialog-actions >
          <button class="btnredcls" mat-button mat-dialog-close="no" cdkFocusInitial>Cancel</button>
          <button class="btnbluecls" mat-button mat-dialog-close = "yes" cdkFocusInitial>Confirm</button>
        </mat-dialog-actions>
    </div>
  </div>




 