<div class="adminwrappercls">
  <app-header></app-header>
      <div class="main-content-wrap">
        <mat-card class="generalcls job-title-pg" style="padding: 0 !important;" >
            <span>
              <mat-card-content class="adm_inner_banner rsvpadmin">
                  <mat-card-title class="adm_inner_title" *ngIf=" router.url =='/job-ticket-admin'">job ticket admin</mat-card-title>
                  <mat-card-title class="adm_inner_title" *ngIf=" router.url =='/job-ticket-customer'">job ticket Customer</mat-card-title>
                  <mat-card-title class="adm_inner_title" *ngIf=" router.url =='/job-ticket-salesrep'">job ticket SalesRep</mat-card-title>
                  <mat-card-title class="adm_inner_title" *ngIf=" router.url =='/communication'">communication</mat-card-title>
                  <p class="adm_inner_para" *ngIf=" router.url =='/job-ticket-admin'">View Job Tickets Explaining Issues or Containing Queries and Information Requests Regarding RSVPs Submitted by Customers or Their Corresponding Sales Reps.</p>
                  <p class="adm_inner_para" *ngIf=" router.url =='/job-ticket-customer'">View Job Tickets Explaining Issues or Containing Queries and Information Requests Regarding RSVPs Submitted by Customers or Their Corresponding Sales Reps.</p>
                  <p class="adm_inner_para" *ngIf=" router.url =='/job-ticket-salesrep'">View Job Tickets Explaining Issues or Containing Queries and Information Requests Regarding RSVPs Submitted by Customers or Their Corresponding Sales Reps.</p>
                  <p class="adm_inner_para" *ngIf=" router.url =='/communication'">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
              </mat-card-content>
              <mat-card-content class="bred_cram_wrapper">
                  <a mat-list-item routerLinkActive="active"> Dashboard </a>
                  <!-- <a mat-list-item routerLinkActive="active activebread" [routerLink]="'/job-ticket'"> job ticket</a> -->
              </mat-card-content>                
              <span class="searchblock rsvpsearch">
                <span class="searchblockwrapper">
                  <span>
                    <h2 *ngIf=" router.url =='/job-ticket-admin'">job ticket admin</h2>
                    <h2 *ngIf=" router.url =='/job-ticket-customer'">job ticket customer</h2>
                    <h2 *ngIf=" router.url =='/job-ticket-salesrep'">job ticket salesrep</h2>
                    <h2 *ngIf=" router.url =='/communication'">communication</h2>
                  </span>
                  <!-- <span *ngIf="userCookies.type == 'admin'">
                    <mat-label>Search By Status :</mat-label>
                    <mat-form-field>
                      <select matNativeControl (change)="selectOption($event.target.value)" >
                        <option value=''>Select Status</option>
                        <option value=0>Pending</option>
                        <option value=1>Accept</option>
                        <option value=2>Reject</option>
                        <option value=4>Decline</option>
                        <option value=5>Confirm</option>
                        <option value=3>Awaiting Confirmation</option>
                      </select>
                    </mat-form-field>
                  </span> -->
                </span>
              </span>

              <span class="rsvplistwrapper" >
                <span class="norecordfound"
                 *ngIf="jobTicketDataList ==null || jobTicketDataList ==''" >
                  <h3 >No Record Found</h3>
                </span>

              <mat-card-content class="adm_dashboard_block4 communicationsection">                
                <span class="adm_dashboard_block4_inner">
                  <span class="tabwrapper" (selectedIndexChange)="_setCommunicationDataSource($event)"> 
                    <div class="tablediv">
                      <span class="searchbar" *ngIf="jobTicketDataList !=null && jobTicketDataList !=''">
                        <span class="searchbar">

                          <mat-form-field>
                            <select matNativeControl (change)="statusFilterForJT($event.target.value)" >
                              <option value=''>Select Status</option>
                              <option value=0>Open</option>
                              <option value=1>Replied By Admin</option>
                              <option value=2>Closed</option>
                              <option value=3>Re-Opened</option>
                            </select>
                          </mat-form-field>
                        </span>

                        <mat-form-field>
                      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter" />
                        </mat-form-field>
                      </span>
                    </div>
                      <div class="example-container mat-elevation-z8" *ngIf="jobTicketDataList !=null && jobTicketDataList !=''">
                        <div class="tablediv">
                          
                          <mat-table #table [dataSource]="jobTicketList">
                            <!-- Position Column -->
                            <ng-container matColumnDef="ticket">
                              <mat-header-cell *matHeaderCellDef> Ticket ID </mat-header-cell>
                              <mat-cell *matCellDef="let element">
                                {{ element._id }}
                              </mat-cell>
                            </ng-container>
        
                            <!-- Car Image Column -->
                            <ng-container matColumnDef="car_image">
                              <mat-header-cell *matHeaderCellDef> image </mat-header-cell>
                              <mat-cell *matCellDef="let element">
                                <span class="namewrapper">
                                  <span class="image_URL_wrapper"><img src="{{ element.car_image }}" /></span>
                                </span>
                              </mat-cell>
                            </ng-container>
      
                            <!-- Name Column -->
                            <ng-container matColumnDef="name">
                              <mat-header-cell *matHeaderCellDef> Car Name </mat-header-cell>
                              <mat-cell *matCellDef="let element">
                                <span class="namewrapper">
                                  <span class="nametxt">{{element.car_heading}}</span>
                                </span>
                              </mat-cell>
                            </ng-container>
                          
                            <!-- Weight Column -->
                            <ng-container matColumnDef="title">
                              <mat-header-cell *matHeaderCellDef>
                                Title
                              </mat-header-cell>
                              <mat-cell *matCellDef="let element">
                                {{ element.car_heading }}
                              </mat-cell>
                            </ng-container>
        
                            <!-- Symbol Column -->
                            <ng-container matColumnDef="repName">
                              <mat-header-cell *matHeaderCellDef>
                                Rep Name
                              </mat-header-cell>
                              <mat-cell *matCellDef="let element">
                                {{ element.added_by_fullname }}
                              </mat-cell>
                            </ng-container>
        
        
                            <!-- Symbol Column -->
                            <ng-container matColumnDef="customerName">
                              <mat-header-cell *matHeaderCellDef>
                                Customer Name
                              </mat-header-cell>
                              <mat-cell *matCellDef="let element">
                                {{ element.added_for_fullname }}
                              </mat-cell>
                            </ng-container>
        
                            
                            <!-- Symbol Column -->
                            <ng-container matColumnDef="subject">
                              <mat-header-cell *matHeaderCellDef>
                                subject
                              </mat-header-cell>
                              <mat-cell *matCellDef="let element">
                                {{ element.subject }}
                              </mat-cell>
                            </ng-container>
      
                            <!-- Symbol Column -->
                            <ng-container matColumnDef="date">
                              <mat-header-cell *matHeaderCellDef>
                               Date
                              </mat-header-cell>
                              <mat-cell *matCellDef="let element">
                                {{ element.date }}
                              </mat-cell>
                            </ng-container>
        
        
        
                            <!-- Symbol Column -->
                            <ng-container matColumnDef="status">
                              <mat-header-cell *matHeaderCellDef>
                                Status
                              </mat-header-cell>
                              <mat-cell *matCellDef="let element">
                                <span *ngIf="element.job_ticket_status == 0">Open</span>
                                    <span *ngIf="element.job_ticket_status == 1">Replied By Admin</span>
                                    <span *ngIf="element.job_ticket_status == 2">Closed</span>
                                    <span *ngIf="element.job_ticket_status == 3">Re-Opened</span>
                              </mat-cell>
                            </ng-container>
        
        
                            <!-- Symbol Column -->
                            <ng-container matColumnDef="action">
                              <mat-header-cell *matHeaderCellDef>
                                Action
                              </mat-header-cell>
                              <mat-cell *matCellDef="let element;let i = index">
                                <a (click)="viewDetails(element, '1')"><i class="material-icons"> visibility </i></a>
                                <a  (click)="deleteJobTicket(element._id,i)" ><i class="material-icons">
                                  delete_outline
                                  </i></a> 
                              </mat-cell>
                            </ng-container>
        
                            <mat-header-row *matHeaderRowDef="displayedColumns4"></mat-header-row>
                            <mat-row *matRowDef="let row; columns: displayedColumns4"></mat-row>
                          </mat-table>
        
                          <mat-paginator #paginator4 [pageSize]="5" [pageSizeOptions]="[5, 10, 20]">
                          </mat-paginator>
                        </div>
                      </div>  
                  </span>
                </span>
              </mat-card-content>

              </span>

              <!-- <span class="rsvplistwrapper" >
                <span class="norecordfound"
                 *ngIf="jobTicketDataList ==null || jobTicketDataList ==''" >
                  <h3 >No Record Found</h3>
                </span>
                <span class="rsvplists">


       
                <span class="rsvplistsingle" 
                  *ngFor="let item of jobTicketDataList | slice:0:indexVal ; let i=index">
                    <span class="rsvplistsingleinnerwrapper">
                      <span class="rsvplistsingleinner">
                        <span class="rsvplistsingleleft">
                            <span class="rsvpliststop">
                              <span class="rsvplistimgwrapper">
                                  <img class="defaultimg" 
                                  *ngIf="item.car_image !=null && item.car_image !=''" 
                                  [src]="item.car_image">
                                  <img *ngIf="item.car_image ==null || item.car_image ==''" 
                                  src="../../../../assets/images/no-image-default.jpg">

                              </span>                        
                            </span>
                            <span class="rsvplistsbottom">
                              <h2>{{item.car_heading}}</h2>
                              <span class="rsvplistsbottombtm">
                               <span>Status</span>                               
                               <span class="btnactive" *ngIf="item.status==0">Pending <span class="coloryellow"></span></span>
                               <span class="btnactive" *ngIf="item.status==1">Accept <span class="colorgreen"></span></span>

                               <span class="btnactive" *ngIf="item.status==2">Reject <span class="colorred"></span></span>
                              </span>
                            </span>
                        </span>
                        <span class="rsvplistsingleright">
                            <span class="rsvplisttypecontent">  
                              <span class="deletecls" (click)="deleteJobTicket(item._id,i)"><i class="material-icons" 
                                >delete</i></span>
                              <h2>User</h2>
                              <span class="rsvplisttypecontentinfo">
                                <span class="rsvplisttypeimgwrapper">
                                  <img *ngIf="item.customer_image !=null && item.customer_image !=''" [src]="item.customer_image">
                                  <img *ngIf="item.customer_image ==null || item.customer_image ==''" src="../../../../assets/images/no-image-default.jpg">
                                  <span class="listscontentshape"></span>
                                </span>
                                <span class="listscontent">
                                   <mat-list>
                                     <mat-list-item><span class="labelcls">Name:{{item.added_for_fullname}}</span> <span></span> </mat-list-item>
                                     <mat-list-item><span class="labelcls">Email ID:{{item.added_for_email}}</span> <span></span> </mat-list-item>
                                     <mat-list-item><span class="labelcls">Phone:{{item.added_for_phone}}</span> <span></span> </mat-list-item>
                                   </mat-list>
                                   
                                </span>
                              </span>
                              <span class="rsvplisttypebottom">
                                <span>Qualified for Finance: <span class="redcls">NO</span></span>
                                <span>Job Ticket related to this car: <span class="greencls">[1]</span></span>
                              </span>
                            </span>
                            <span class="rsvplisttypecontent">  
                              
                              <span class="deletecls" (click)="deleteJobTicket(item._id,i)"><i class="material-icons">delete</i></span>
                              <h2>Salesrep</h2>
                              <span class="rsvplisttypecontentinfo">
                                <span class="rsvplisttypeimgwrapper">
                                  <img *ngIf="item.salesrep_image !=null && item.salesrep_image !=''" [src]="item.salesrep_image">

                                  <img *ngIf="item.salesrep_image ==null || item.salesrep_image ==''" src="../../../../assets/images/no-image-default.jpg">

                                  <span class="listscontentshape"></span>
                                </span>
                                <span class="listscontent">
                                   <mat-list>
                                     <mat-list-item><span class="labelcls">
                                       Name:{{item.added_by_fullname}}</span> <span></span> </mat-list-item>
                                     <mat-list-item><span class="labelcls">Email ID:
                                      {{item.added_by_email}}
                                     </span> <span></span> </mat-list-item>
                                     <mat-list-item><span class="labelcls">Phone:
                                      {{item.added_by_phone}}
                                     </span> <span></span> </mat-list-item>
                                   </mat-list>
                                   
                                </span>
                              </span>
                              <span class="rsvplisttypebottom">
                                <span>Qualified for Finance: <span class="redcls">NO</span></span>
                                <span>Job Ticket related to this car: <span class="greencls">[1]</span></span>
                              </span>
                            </span>
                                                      
                        </span>
                      </span>
                      <span class="rsvplisttypecontent mt10">
                          <h2>{{item.subject}}</h2>
                          <span class="rsvplisttypecontentinfo">
                            <span class="jobcommentboxcontent">
                              <mat-card-title></mat-card-title>
                              <mat-card-content>{{item.description}}</mat-card-content>
                            </span>                                  
                          </span>
                          <span class="rsvplisttypebottom datefieldcls">
                            <span>Date:{{item.date}}</span>

                           
                            <span>Job Ticket Status :
                              <span class="btnblue greenbtn" *ngIf=" item !=null &&item.job_ticket_status == 0"> Open</span>

                              <span class="btnblue greenbtn" *ngIf=" item !=null &&item.job_ticket_status == 1">Replied By Admin </span>

                              <span class="btnblue redbtn" *ngIf=" item !=null &&item.job_ticket_status == 2">Closed </span>

                              <span class="btnblue greenbtn" *ngIf=" item !=null &&item.job_ticket_status == 3" >Re-Opened </span>

                            </span>

                           
                        

                            <button mat-button class="btnblue" (click)="viewDetails(item,'1')">Know More</button>                              
                        </span>
                      </span>  
                    </span>
                  </span>
                 

                

                  
                  
                   <div>
                    <mat-form-field>
                      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
                    </mat-form-field>
                   </div>
                    <div class="mat-elevation-z8"
                    *ngIf="jobTicketList != null && jobTicketList != ''">
                      <div class="tablediv">
                        <table mat-table [dataSource]="jobTicketList">
    
                          <ng-container matColumnDef="ticket">
                            <th mat-header-cell *matHeaderCellDef> Ticket ID</th>
                            <td mat-cell *matCellDef="let element">{{element._id}}</td>
                          </ng-container>
    
                          <ng-container matColumnDef="name">
                            <th mat-header-cell *matHeaderCellDef>Car Name </th>
                            <td mat-cell *matCellDef="let element"><span class="namewrapper"> <span
                                  class="image_URL_wrapper"><img src="{{element.car_image}}"></span> <span
                                  class="nametxt">{{element.car_heading}}</span> </span></td>
                          </ng-container>
    
                          <ng-container matColumnDef="title">
                            <th mat-header-cell *matHeaderCellDef> Title </th>
                            <td mat-cell *matCellDef="let element"> {{element.car_heading}} </td>
                          </ng-container>
    
                          <ng-container matColumnDef="repName">
                            <th mat-header-cell *matHeaderCellDef> Rep Name </th>
                            <td mat-cell *matCellDef="let element"> {{element.added_by_fullname}} </td>
                          </ng-container>
    
                          <ng-container matColumnDef="customerName">
                            <th mat-header-cell *matHeaderCellDef> Customer Name </th>
                            <td mat-cell *matCellDef="let element"> {{element.added_for_fullname}} </td>
                          </ng-container>
    
                          <ng-container matColumnDef="subject">
                            <th mat-header-cell *matHeaderCellDef> Subject </th>
                            <td mat-cell *matCellDef="let element"> {{element.subject}} </td>
                          </ng-container>

                          <ng-container matColumnDef="Date">
                            <th mat-header-cell *matHeaderCellDef> Date </th>
                            <td mat-cell *matCellDef="let element"> {{element.date}} </td>
                          </ng-container>
    
                          <ng-container matColumnDef="status" >
                            <th mat-header-cell *matHeaderCellDef> Status </th>
                            <td mat-cell *matCellDef="let element"  >
                              <span *ngIf="element.job_ticket_status == 0">Open</span>
                              <span *ngIf="element.job_ticket_status == 1">Replied By Admin</span>
                              <span *ngIf="element.job_ticket_status == 2">Closed</span>
                              <span *ngIf="element.job_ticket_status == 3">Re-Opened</span>
                              </td>
                          </ng-container>
    
                          <ng-container matColumnDef="action">
                            <th mat-header-cell *matHeaderCellDef> Action </th>
                            <td mat-cell *matCellDef="let element; let i = index"> 
                              <a (click)="viewDetails(element,'1')" ><i class="material-icons"> visibility </i></a> 

                              <a  (click)="deleteJobTicket(element._id,i)" ><i class="material-icons">
                                delete_outline
                                </i></a> </td>
                          </ng-container>

                          
    
                          <tr mat-header-row *matHeaderRowDef="JTColumns"></tr>
                          <tr mat-row *matRowDef="let row; columns: JTColumns;"></tr>
                        </table>
    
                        <mat-paginator [pageSizeOptions]="[5, 10, 25, 50]" showFirstLastButtons></mat-paginator>
                      </div>
                    </div>
                    
               



                 
                </span>                
              </span>   -->
            </span>  
        </mat-card>
        <!-- <div>
          <button mat-flat-button class="btnblue" type="button" (click)="loadMore()" *ngIf="jobTicketDataList !=null && indexVal < jobTicketDataList.length" >Load More</button>
        </div> -->
      </div>
  </div>
<app-footer></app-footer>