@media only screen and (max-width: 1620px) {
    .topmenulist .navigation-left .nav-item .mat-list-item-content{padding:0 4px}
    }
    @media only screen and (max-width: 1540px) {
    .topmenulist .navigation-left .nav-item .mat-list-item-content{padding:0}
    }
    @media only screen and (max-width: 1350px) {
    .topblock .mat-list .mat-list-item .mat-list-item-content button{margin:0;padding:0 10px}
    .topmenulist .navigation-left a, .topmenulist .navigation-left a:hover {font-size: 13px;padding: 9px !important;}
    .admcls .header .toolbar-row .logo{width:168px}
        
    }
    @media only screen and (max-width: 1300px) {
    }
    @media only screen and (max-width: 1280px) {
    .topmenulist .navigation-left .nav-item .mat-list-item-content{padding:0 6px}
    }
    @media only screen and (max-width: 1199px) {
    .adm_inner_banner.adminbannerdashnboard {background-position: center left 45%!important;background-size: cover!important;padding: 30px 14px!important;}
    .adm_dashboard_block1{flex-wrap: wrap;}
    .adm_dashboard_block1_left {width: 100% !important;}
    .adm_dashboard_block1_right {width: 100% !important;}
    .admcls .header{height:auto;position: relative;}
    .adminwrappercls .main-content-wrap {padding: 20px 20px 20px;min-height: calc(100vh - 20px);}
    .block1totalreview > .block1_single {padding: 5px;}
    .admcls .header .header-part-right{display:-webkit-box;display:flex;-webkit-box-align:center;align-items:center;flex:1 1 100%;justify-content:center;margin-bottom: 10px;}
    .admcls .header .toolbar-row{padding:0!important;overflow:hidden;height:auto;flex-wrap:wrap}
    .admcls .header .toolbar-row .logo{width:150px;display:flex;flex:1 1 100%;justify-content:center;padding:10px}
    .topmenulist{margin-left:auto;display:flex;flex:1 1 100%;justify-content:center;flex-wrap:wrap;margin-top: 10px;}
    .tablediv{margin-top:0}
    .bloglists .tablediv .searchbar,.blogcatlists .tablediv .searchbar{background:#70daee}
    .tablediv .searchbar{background:#70daee}
    .mat-form-field-appearance-legacy .mat-form-field-wrapper{padding-bottom:0!important}
    }
    @media only screen and (max-width: 991px) {
    .bred_cram_wrapper.rightsideformcls{flex-wrap: wrap;}
    .rightsideformcls span .formrightside {text-align: center;}
    .topmenulist .navigation-left {flex-wrap: wrap;}
    .topmenulist .navigation-left .mat-list-item {width: auto;}
    .tablediv table td{text-align:right!important}
    .tabblock .tablists ul li.nav-item a.nav-link{font-size:20px;line-height:24px;padding:15px}
    .tablediv table td.tablebuttondiv{border:0!important;border-bottom:0 solid #fff!important}
    .tablediv table td.norecordfound{border:0!important;border-bottom:0 solid #fff!important;font-size:16px;border:0!important;border-bottom:0 solid #fff!important;font-size:16px}
    .tablediv table td.tablebuttondiv{padding-left:0!important}
    .tablediv table td.empycell{border:0!important;border-bottom:0 solid #fff!important;display:none}
    .tablediv table tr:last-child td.empycell{border-bottom:0 solid #ddd!important}
    .tablediv table tr:last-child td{border-bottom:0 solid #ddd!important}
    .tablediv table td, .tablediv table th {width: initial;}
    .newcheckboxdiv{text-align:left;float:right}
    .tablediv table th,.tablediv table td{border-bottom:1px solid #646464!important}
    .tablediv table td{padding:10px}
    .tablediv.affiliatetree table.mat-table tr:nth-child(even){background-color:#353434}
    .n-audiodeadeline_admin_header .n-audiodeadeline_admin_header_user .n-audiodeadeline_user{width:37px;height:auto}
    .tablediv.affiliatetree table th,.tablediv.affiliatetree table td{width:100%}
    .n-socialsinglepostcontentinner{padding:0;width:48.33%;margin:.5% 1%}
    .n-sponsorblocklists{justify-content:center}
    .tablediv table td.text-center{text-align:right!important}
    .tablediv .btnedit,.tablediv .btndelete,.tablediv .btnedit:hover,.tablediv .btndelete:hover{display:inline-block;float:none;margin-left:auto;margin-right:auto}
    .tablediv table{border:0}
    .tablediv table caption{font-size:1.3em}
    .tablediv table thead{border:none;clip:rect(0 0 0 0);height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute;width:1px}
    .tablediv table tr{border-bottom:0 solid #ddd;width:100%;margin-bottom:.625em}
    .tablediv table td{border-bottom:1px solid #ddd;display:block;font-size:13px;text-align:right;padding-left:25%}
    .adminlisttable .whitebtnlists{text-align:right!important}
    .tablediv table td button,.tablediv table td button:hover{float:right}
    .tablediv table td:first-child::before{content:attr(data-label)!important;float:left;font-weight:700;text-transform:uppercase;text-align:left;margin-left:-18px;color:#000}
    .adminlisttable.adminlisttabledashboard .tablediv table tr{display:table-row!important}
    .tablediv table td:last-child::before{content:attr(data-label)!important;float:left;font-weight:700;text-transform:uppercase;text-align:left;color:#000}
    /* .tablediv table td::after{content:attr(data-label);float:left;font-weight:700;text-transform:uppercase;text-align:left;margin-left:-33%;color:#000} */
    .tablediv .mytranningcategory .admin_table_wrapper table td::before{content:attr(datalabel)!important;float:left;font-weight:700;text-transform:uppercase;text-align:left;margin-left:0;color:#000}
    .tablediv table td::before{content:attr(title);float:left;font-weight:700;text-transform:uppercase;text-align:left;margin-left:-33%;color:#000}
    .tablediv table td:last-child{border-bottom:0}
    .tablediv table td.mat-column-Actions {width: auto; padding-right: 8px;}
    }
    @media only screen and (max-width: 1080px) {
    .clearmenu{clear:both;overflow:hidden;background:none!important;border:none!important;box-shadow:none!important;margin:0!important;padding:0!important;border-radius:0!important;display:block!important}
    .topblock .mat-list{display:block;float:none;margin:22px auto;padding:0;clear:both;width:586px}
    }



    @media only screen and (max-width: 991px) {
    .adm_inner_banner.testimoniallistsadmin {background: #333 url(../../assets/images/testimoniallistsadmin_banner.jpg) no-repeat top right!important;background-size: 150%!important;text-align: center;padding: 10px;}
    .adm_inner_banner.servicelistsadmin {background: #333 url(../../assets/images/managetype_banner.jpg) no-repeat top right!important;background-size: 150%!important;text-align: center;padding: 10px;}
    .adm_inner_banner.manageblog {background: #333 url(../../assets/images/manageblog_banner.jpg) no-repeat top right!important;background-size: 150%!important;text-align: center;padding: 10px;}
    .adm_inner_banner.socialadvoblog {background: #333 url(../../assets/images/managetype_banner.jpg) no-repeat top right!important;background-size: 150%!important;text-align: center;padding: 10px;}
    .adm_inner_banner.manageavailabilityadmin {background: #333 url(../../assets/images/manageavailabilityadmin_banner.jpg) no-repeat top right!important;background-size: 150%!important;text-align: center;padding: 10px;}
    .adm_inner_banner.rsvpadmin {background: #333 url(../../assets/images/adminrsvp_banner.jpg) no-repeat top right!important;background-size: 150%!important;text-align: center;padding: 10px;}
    .adm_inner_banner.saveinventorysearchbg {background: #333 url(../../assets/images/managetype_banner.jpg) no-repeat top right!important;background-size: 150%!important;text-align: center;padding: 10px;}

    .generalcls.blog .mat-card-title {height: auto;}
    .adm_inner_banner .adm_inner_para {font-size: 17px;text-shadow: none;width: 100%;}
    .generalcls.blog .adm_inner_banner .adm_inner_title.mat-card-title {font-size: 26px!important;text-shadow: none;margin: 0 auto;}
    .adm_inner_banner{min-height: auto !important;padding-top: 70px !important;}
    .topmenudevider2{display:block;width:30px;height:78px;float:left}
    .topmenudevider2 .dehazeicon{color:#fb4a32;display:block;margin:24px 0 0!important;font-size:30px;cursor:pointer}
    .topblock .mat-list{margin:0 auto;height:0;width:0;position:absolute;-webkit-transition:all .2s linear;-moz-transition:all .2s linear;-o-transition:all .2s linear;transition:all .2s linear}
    .topblock .mat-list .mat-list-item{display:block;float:none;width:auto;margin:0;padding:0;height:auto;color:#fff!important;background:#222!important;text-align:center}
    .topblock .mat-list .mat-list-item .mat-list-item-content button{margin:0;padding:5px;height:auto;line-height:32px;font-size:16px!important;color:#fff!important;text-align:center;border-bottom:solid 1px #ccc!important}
    .topblock .mat-list .mat-list-item .mat-list-item-content button:hover{color:#fff!important;background:#dc4430!important}
    .topblock .mat-list .mat-list-item .mat-list-item-content button.active{color:#fff!important;background:#dc4430!important}
    .topblock .mat-list .mat-list-item .mat-list-item-content button:last-of-type{border:none}
    }
    @media only screen and (max-width: 540px) {
    .headerlogo{width:100%;float:none;background:#222!important;padding:10px 2px;display:block}
    .headerlogo img{width:auto;max-width:90%}
    }

    @media only screen and (max-width: 540px) {
    .bred_cram_wrapper .mat-list-item a {padding: 0 7px;font-size: 14px;line-height: normal;}
    .bred_cram_wrapper_list .mat-list-base .mat-list-item .mat-list-item-content{padding: 0 4px;}
    .searchblock .searchblockwrapper {justify-content: center;flex-wrap: wrap;}
    .bred_cram_wrapper_list{width: initial;}
    }