<div class="adminwrappercls">
  <app-header></app-header>
  <div class="main-content-wrap">
    <mat-card class="generalcls blog" style="padding: 0 !important;">      

      <mat-card-content class="bred_cram_wrapper_list">
        <mat-list class="bred_cram_wrapper">
          <mat-list-item mat-list-item *ngIf="userCookies.type == 'admin'"> <a
            [routerLink]="'/admin-dashboard'">Dashboard</a> </mat-list-item>
        <mat-list-item mat-list-item *ngIf="userCookies.type == 'customer'"> <a
            [routerLink]="'/customer-dashboard'">Dashboard</a> </mat-list-item>
        <mat-list-item mat-list-item *ngIf="userCookies.type == 'salesrep'"> <a
            [routerLink]="'/rep-dashboard'">Dashboard</a> </mat-list-item>

            <mat-list-item mat-list-item *ngIf="userCookies.type == 'admin'"> <a
              [routerLink]="'/admin-dashboard'">Training Manager</a> </mat-list-item>
          <mat-list-item mat-list-item *ngIf="userCookies.type == 'customer'"> <a
              [routerLink]="'/customer-dashboard'">Training Manager</a> </mat-list-item>
          <mat-list-item mat-list-item *ngIf="userCookies.type == 'salesrep'"> <a
              [routerLink]="'/rep-dashboard'">Training Manager</a> </mat-list-item>

            <mat-list-item mat-list-item *ngIf="userCookies.type == 'admin'"> <a>Manage Lesson</a> </mat-list-item>
          <mat-list-item mat-list-item *ngIf="userCookies.type == 'customer'"> <a>Manage Lesson</a> </mat-list-item>
          <mat-list-item mat-list-item *ngIf="userCookies.type == 'salesrep'"> <a>Manage Lesson</a> </mat-list-item>

        </mat-list>       
    </mat-card-content>
      <div class="tablediv">
        <lib-traning [PageName]="pageName" [formdata]="formdataval" [serverDetails]="serverDetails"
          [formSource]="formSource" [ObjectId]="additionalData" [ListingPageRoute]="listingPageRoute"
          [FileUpload]="configFileUpload"></lib-traning>

      </div>
    </mat-card>
  </div>
</div>
<app-footer></app-footer>
