<app-header></app-header>

 <mat-card  class="innerpagebanner"> 
  <span class="mainwrappercontent">
    <mat-card-content>
      <h1>Blog Details</h1>
    </mat-card-content>
  </span>
  
  <img  *ngIf="blog !=null && blog.blogs_image !='' && blog.blogs_image[0] !='' " [src]="blog.blogs_image[0].basepath + blog.blogs_image[0].image "  class="blogheaderimg">
  <img *ngIf="blog ==null || blog.blogs_image ==''" src="../../../../assets/images/blog-detail-default-img.jpg"  class="blogheaderimg">

  <span class="blogheaderimgbg"></span>
</mat-card>

<mat-card class="innerpagetitle">
  <span class="mainwrappercontent">    
    <mat-card-content class="bred_cram_wrapper_list bred_cram_wrapper_list_front">
      <mat-list class="bred_cram_wrapper">
          <mat-list-item mat-list-item> <a [routerLink]="'/home'">home</a> </mat-list-item>
          <mat-list-item mat-list-item> <a [routerLink]="'/blogs'">blogs</a> </mat-list-item>
          <mat-list-item mat-list-item> <a [routerLink]="'/'">Blog Details</a> </mat-list-item>
      </mat-list>       
    </mat-card-content>

  </span>
</mat-card>

<mat-card class="ptb-40 generalcls blog bloglist blogdetail" *ngIf="blog !=null">
  <span class="mainwrappercontent">
    <span class="bloglistinner">
      <span class="bloglistswrapper">
        <mat-card-content class="bottom_blog">
          <span class="item_wrapper">
            <mat-card-content class="item">

              <mat-card-title class="inner_header">{{blog.blogtitle}}</mat-card-title>
              <mat-card-content class="contentsection">
                <span class="author">
                  <span class="authornmimg">
                    <span class="writer_image">
                      <img src="../../../../assets/images/blog-icon.png">
                    </span>
                    <p class="authorName">{{blog.author}}</p>
                  </span>
                  <p class="date">Date: {{blog.date_added}}</p>
                </span>

                <span class="blogsociallists absolute">
                  <a class="sociallink fa fb" target="_blank" (click)="fbShare()">
                    <fa name="facebook" class="fa-facebook"></fa>
                  </a>
                  <a class="sociallink fa twi" target="_blank" (click)="twitterShare()">
                    <fa name="twitter" class="fa-twitter"></fa>
                  </a>
                 
                  <a class="sociallink fa lin" target="_blank" (click)="linkedinShare()">
                    <fa name="linkedin" class="fa-linkedin" ></fa>
                  </a>
                  
                  <a class="sociallink fa tumblr" target="_blank" (click)="tumblrShare()">

                    <fa name="tumblr" class="fa-tumblr"></fa>
                  </a>
                 
                </span>
              </mat-card-content>
              <span class="item_images" *ngIf="blog !=null && blog.blogs_image !='' && blog.blogs_image[0] !='' ">

                <img   [src]="blog.blogs_image[0].basepath + blog.blogs_image[0].image " >
              <!-- <img *ngIf="blog ==null || blog.blogs_image ==''" src="../../../../assets/images/no-image-default.jpg" > -->


              </span>

              <p class="description"><span [innerHtml]="blog.description_html"></span></p>
            </mat-card-content>
          </span>
        </mat-card-content>

        <mat-list class="photogallerylists" *ngIf="blog !=null && blog.blogs_image !='' && blog.blogs_image[0] !='' ">
          <mat-list-item class="writer_image">
            <span class="writer_image_wrapper"  >
              <img  [src]="blog.blogs_image[0].basepath + blog.blogs_image[0].image " >
              <!-- <img *ngIf="blog ==null || blog.blogs_image ==''" src="../../../../assets/images/no-image-default.jpg" > -->
            </span>
          </mat-list-item>



          
        </mat-list>
       
        <span *ngIf="blog !='' &&  blog.video !='' && blog.video[0].video_url !='' ">
        <mat-list class="photogallerylists" >
          <mat-list-item class="writer_image" >
            <span class="writer_image_wrapper">
              <div>
                <button 
                  (click)="openvideourl(blog.video[0].video_url)">
                  <img  src="//img.youtube.com/vi/{{blog.video[0].video_url}}/0.jpg">
                  <img class="videoiconclsnew" src='../../../../assets/images/videoicon.png'>
                </button>
              </div>
            </span>
          </mat-list-item>
        </mat-list>
      </span>
      
      </span>
      <span class="categorywrapper">
        <h2>Categories ({{blogcategory.length}})</h2>
        <mat-accordion class="category">
          <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false"
            *ngFor="let item of blogcategory">
            <mat-expansion-panel-header (click)="getAllBlogs(item._id)" >
              <mat-panel-title >
                {{item.blogtitle}} &nbsp;
                <h4 >( {{item.count_blogs}} )</h4>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <ng-container *ngFor="let cat of catBlogs; let i=index;">
              <span >
                <div class="categorysub" [ngClass]="{'active': blogcat }">
                  <h5 class="inner_header" (click)="blogdetail(cat)">
                    <span class="blogsubcattitle" (click)="blogdetail(cat)">{{ cat.blogtitle }}</span>
                    <span class="buttominfocls">
                      <span ><span class="labelcls">Date:</span>{{cat.date_added}}</span>
                      <span ><span class="labelcls">By:</span>{{cat.author}}</span>
                    </span>
                  </h5>
                </div>
              </span>
            </ng-container>
            <button mat-button class="btnblue sim-button" type="button" *ngIf="catBlogs !=null && catBlogs.length >4"  (click)="viewAllCatBlogs(item)">View All</button>
          </mat-expansion-panel>
        </mat-accordion>
      </span>
    </span>


    <span class="mostviewedblogs">
        <h2>Most Viewed Blogs</h2>
        <mat-card-content class="bottom_blog">
            <span class="item_wrapper">
              <mat-card-content class="item" *ngFor="let item of popularBlogs |  slice:0:indexVal " >
                <span class="item_images">
                  <img *ngIf="item !=null && item.blogs_image !=''" [src]="item.blogs_image" (click)="blogdetail(item)">
                  <img *ngIf="item ==null || item.blogs_image ==''" src="../../../../assets/images/no-image-default.jpg" (click)="blogdetail(item)">
                </span>
                <mat-card-content class="contentsection">                  
                  <mat-card-title class="inner_header" (click)="blogdetail(item)">{{item.blogtitle}}</mat-card-title>
                  <span class="author">
                    <span class="authornmimg">
                      <span class="writer_image">
                        <img src="../../../../assets/images/blog-icon.png">
                      </span>
                      <p class="authorName">{{item.author}}</p>
                    </span>
                    <p class="date">Date:{{item.date_added}} </p>
                  </span>
                  <p class="description"><span>{{item.description_html}}</span></p>
                  <a class="next_page" (click)="blogdetail(item)">read more</a>
  
                  <span class="blogsociallists absolute">
                    <a class="sociallink fa fb" target="_blank" (click)="fbpsShare(item)">
                      <fa name="facebook" class="fa-facebook"></fa>
                    </a>
                    <a class="sociallink fa twi" target="_blank" (click)="twitterpsShare(item)">
                      <fa name="twitter" class="fa-twitter"></fa>
                    </a>
                    <!-- <a class="sociallink fa pin">
                      <fa name="pinterest" class="fa-pinterest"></fa>
                    </a> -->
                    <a class="sociallink fa lin" target="_blank" (click)="linkedinpsShare(item)">
                      <fa name="linkedin" class="fa-linkedin" ></fa>
                    </a>
                    <!-- <a class="sociallink fa env">
                      <fa name="envelope" class="fa-envelope"></fa>
                    </a> -->
                    <a class="sociallink fa tumblr" target="_blank" (click)="tumblrpsShare(item)">
  
                      <fa name="tumblr" class="fa-tumblr"></fa>
                    </a>
                    <!-- <a class="sociallink fa share" (click)="comingSoonDialogBlog()">
                      <fa name="share" class="fa-share"></fa>
                    </a> -->
                  </span>
                </mat-card-content>
              </mat-card-content>


            </span>
            <button mat-button class="btnblue sim-button" 
             (click)="loadMorePopular()" *ngIf="popularBlogs !=null && indexVal < popularBlogs.length">Load More</button>
          </mat-card-content>

    </span>



    <span class="youmightalsolike" *ngIf="similarBlogs !=''">
        <h2>Similar Blogs</h2>
        <mat-card-content class="bottom_blog">
            <span class="item_wrapper">
              <mat-card-content class="item" *ngFor="let item of similarBlogs |  slice:0:index " >
                <span class="item_images">
                  <img *ngIf="item !=null && item.blogs_image !=''" [src]="item.blogs_image" (click)="blogdetail(item)">
                  <img *ngIf="item ==null || item.blogs_image ==''" src="../../../../assets/images/no-image-default.jpg" (click)="blogdetail(item)">
                </span>
                <mat-card-content class="contentsection">                  
                  <mat-card-title class="inner_header" (click)="blogdetail(item)">{{item.blogtitle}}</mat-card-title>
                  <span class="author">
                    <span class="authornmimg">
                      <span class="writer_image">
                        <img src="../../../../assets/images/blog-icon.png">
                      </span>
                      <p class="authorName">{{item.author}}</p>
                    </span>
                    <p class="date">Date:{{item.date_added}} </p>
                  </span>
                  <p class="description"><span>{{item.description_html}}</span></p>
                  <a class="next_page" (click)="blogdetail(item)">read more</a>
  
                  <span class="blogsociallists absolute">
                    <a class="sociallink fa fb" target="_blank" (click)="fbpsShare(item)">
                      <fa name="facebook" class="fa-facebook"></fa>
                    </a>
                    <a class="sociallink fa twi" target="_blank" (click)="twitterpsShare(item)">
                      <fa name="twitter" class="fa-twitter"></fa>
                    </a>
                    <!-- <a class="sociallink fa pin">
                      <fa name="pinterest" class="fa-pinterest"></fa>
                    </a> -->
                    <a class="sociallink fa lin" target="_blank" (click)="linkedinpsShare(item)">
                      <fa name="linkedin" class="fa-linkedin" ></fa>
                    </a>
                    <!-- <a class="sociallink fa env">
                      <fa name="envelope" class="fa-envelope"></fa>
                    </a> -->
                    <a class="sociallink fa tumblr" target="_blank" (click)="tumblrpsShare(item)">
  
                      <fa name="tumblr" class="fa-tumblr"></fa>
                    </a>
                    <!-- <a class="sociallink fa share" (click)="comingSoonDialogBlog()">
                      <fa name="share" class="fa-share"></fa>
                    </a> -->
                  </span>
                </mat-card-content>
              </mat-card-content>
            </span>
           <button mat-button class="btnblue sim-button" 
             (click)="loadMoreSimilar()" *ngIf="similarBlogs !=null && index < similarBlogs.length">Load More</button>
          </mat-card-content>

    </span>



  </span>
</mat-card> 

<!-- <iframe height="1" width="1" frameborder="0" scrolling="no"
src="https://www.emjcd.com/tags/c?containerTagId=1234567&TYPE=12345&CID=1234567&ITEMx=[ItemSku]&AMTx=1000&QTYx=4&DCNTx=[ItemDiscount]&OID=46544&DISCOUNT=[DiscountAmount]&CURRENCY=CAD&COUPO
N=[couponcode]&CJEVENT=[INBOUNDVALUE]" name="cj_conversion" ></iframe> -->

<app-footer></app-footer>
