<div class="generalmodalcls">
  <div class="modal-content">    
        <i class="material-icons closeicon" mat-dialog-close>clear</i>
        <div mat-dialog-content>
          <!-- <div class="logowrapperouter">
              <div class="logowrapper">
                  <img src="../../assets/images/logomain.png">
              </div>
          </div> -->
          <!-- <p> {{data}}</p> -->
          <div class="videoWrapper">
            <iframe width="430" height="325" [src]="data"></iframe>
          </div>
        </div>
        <!-- <mat-dialog-actions >
          <button mat-button class="btnredcls" [mat-dialog-close]="data" cdkFocusInitial >Okay!</button>
        </mat-dialog-actions> -->
      </div>
    </div>
      