<div class="generalmodalcls">
    <div class="modal-content">
        <i class="material-icons closeicon" mat-dialog-close>clear</i>
        <div class="logowrapperouter">
            <div class="logowrapper">
                <img src="../../assets/images/logomain.png">
            </div>
        </div>       
        <h2>Success</h2>
        <h4>You have been successfully registered <br/>for the newsletter.  </h4>
    </div>
</div>

<!-- 
<mat-card class="newsletter_modal newsletter_modalsuccess">
<h2>Success</h2>
    <h4>You have been successfully registered <br/>for the newsletter.  </h4>

</mat-card> -->