<div class="generalmodalcls">
    <div class="modal-content">
          <div class="logowrapperouter">
              <div class="logowrapper">
                  <img src="../../assets/images/logomain.png">
              </div>
          </div>       
          <div mat-dialog-content>
            <h1 mat-dialog-title>{{data.errorMsg}}</h1>
          </div>
          <mat-dialog-actions>
            <button class="btnredcls" mat-button (click)="onNoClick()">No Thanks</button>
          </mat-dialog-actions>
      </div>
    </div>
