.salesrepadminwrapper{
    margin: 11px 0px;
    padding: 13px;
    display: block;
    background-color: #f5f5f5;
}


.salesrepadminblock1 .headercls{
    padding: 13px 20px;
    display: block;
    background-color: #12c3e3;
    color: #fff;
    font-family: "HelveticaBold";
    font-size: 18px !important;
    margin: 0;
}

.salesrepadminblock1info{
    display:-webkit-box;
    display:-moz-box;
    display:-ms-flexbox;
    display:-webkit-flex;
    display:flex;
    align-items: stretch;
    justify-content: space-between;
    margin-top: 20px;
}

.salesrepadmininfoimg{    
    display:-webkit-box;
    display:-moz-box;
    display:-ms-flexbox;
    display:-webkit-flex;
    display:flex;
    padding:10px;
    background-color: #e7e7e7;
    width: 298px;
}

.salesrepadmininfoimg img{
    height: 100% !important;width: 100%; height: auto; max-width: 100%; object-fit: cover;
}

.salesrepadmininfocontent{   
    margin-left: 22px; 
    flex: 1;
    border-left: 1px solid #e6e7e7;
    padding-left: 8px;
    padding-right: 8px;
}

.generalcls .salesrepadmininfocontent .mat-card-header {    
    color: #30373d;
    font-family: "HelveticaBold";
    font-size: 18px !important;
    margin: 0;
    text-transform: uppercase;
    margin-bottom: 10px;
}



.salesrepadmininfocontentlist{
    display:-webkit-box;
    display:-moz-box;
    display:-ms-flexbox;
    display:-webkit-flex;
    height: 230px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding-top: 0;
}

.salesrepadmininfocontentlist .mat-list-item{
    height: auto;
    box-sizing: border-box;
    max-width: 50%;
}



.salesrepadmininfocontentlist .mat-list-item .mat-list-item-content{
    align-items: stretch;
}

.salesrepadmininfocontentlist .mat-list-item .iconbg{ 
    display:-webkit-box;
    display:-moz-box;
    display:-ms-flexbox;
    display:-webkit-flex;
    background-color: #31373d;
    padding: 7px;
    width: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1px;
}

.salesrepadmininfocontentlist .mat-list-item .iconbg img{
    max-width: 100%;
}

.salesrepadmininfocontentlist .iconcontent{
    width: 86%;
    padding-left: 10px;
    padding-right: 10px;
}

.salesrepadmininfocontentlist .iconcontent label{
    color:#959595;
    font-family: "Helvetica-Regular";
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}
.salesrepadmininfocontentlist .iconcontent p{
    color:#30373d;
    font-family: "HelveticaBold";
    font-size: 16px;
    font-weight: normal;
    flex: 1;
}





.customer-dashboard-block2{width: 100%;}
.customer-dashboard-block2-inner{width: 100%;}

.generalcls .titleadmin{
    margin: 0;
    padding: 0;
    font-family:'HelveticaBold';
    font-size:48px!important;
    line-height:normal!important;
    text-transform:capitalize;margin:0;padding:0;margin-bottom:18px;margin-top:25px;color:#343c5c;white-space:normal!important;
    position: relative;
}

.generalcls .titleadmin:after{
    content: '';
    background: #12c3e3;
    position: absolute;
    top: 100%;
    left: 0;
    width: 190px;
    display: block;
    height: 2px;
}

.customer-dashboard-block2 .titleadmin{  
  justify-content: space-between;
  display: flex;
}
.customer-dashboard-block2 .flexbox1column {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
}

.customer-dashboard-block2 .flexbox1column > .rsvplistsingle  {
  box-sizing: border-box;
  margin: 0.5%;
    width: 32.33%;
  height: auto;
}

.customer-dashboard-block2 .flexbox1column > .rsvplistsingle:last-child{
  margin-bottom: 0px !important;
}

.customer-dashboard-block2 .flexbox1column > .rsvplistsingle  > .mat-list-item-content{
    padding: 0 !important;
}

.customer-dashboard-block2 .flexbox1column .rsvplistsingleinner{
  display: -webkit-box;
  display: flex;
  -webkit-box-align: stretch;
  align-items: stretch;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: column;
  height: 100%;
  flex: 1 1 100%;
}

.customer-dashboard-block2 .flexbox1column .rsvplistsingleleft{
  display: -webkit-box;
  display: flex;
  -webkit-box-align: stretch;
  align-items: stretch;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  height: 100%;
}


.customer-dashboard-block2 .flexbox1column .rsvplistsingleleft .rsvpliststop {
  -webkit-box-flex: 1;
  flex: 1 1 30%;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: stretch;
  align-items: stretch;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
}

.customer-dashboard-block2 .flexbox1column .rsvplistsingleleft .rsvplistsbottom  {
  -webkit-box-flex: 1;
  flex: 1 1 70%;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: stretch;
  align-items: stretch;
  margin-left: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  border: 1px solid #d6d6d6;
}

.customer-dashboard-block2 .flexbox1column .rsvplistimgwrapper{
  height: 124px;
  width: 100%;
  overflow: hidden;
  display: block;
  position: relative;
  border: 10px solid #fff;
  box-shadow: 1px 1px 8px 0px rgba(168,168,168,0.5);
  background-color: #fff;
}

.customer-dashboard-block2 .flexbox1column .rsvplistimgwrapper img{
  width: auto;
  height: 100% !important;
  width: auto;
  height: auto;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%,0);
  transform: translate(-50%,0);
  width: 100%;
  cursor: pointer;
  -o-object-fit: cover;
  object-fit: cover;
}

.customer-dashboard-block2 .flexbox1column .rsvplisttypecontentinfo {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: stretch;
  align-items: stretch;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
}

.customer-dashboard-block2 .flexbox1column .rsvplisttypeimgwrapper {
  width: 76px;
  height: 82px;
  position: relative;
  display: block;
}

.customer-dashboard-block2 .flexbox1column .rsvplisttypeimgwrapper img{
  width: auto;
  height: 100% !important;
  width: auto;
  height: auto;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%,0);
  transform: translate(-50%,0);
  width: 100%;
  cursor: pointer;
  -o-object-fit: cover;
  object-fit: cover;
}

.customer-dashboard-block2 .flexbox1column .listscontent{
  border: 1px solid #e1e1e1;
  padding: 10px 13px;
  margin-left: 5px;
  flex: 1 1 86%;
  position: relative;
}
.customer-dashboard-block2 .flexbox1column .listscontent .mat-list-base{
  padding-top: 0;
}
.customer-dashboard-block2 .flexbox1column .listscontent .mat-list-base .mat-list-item{
  height: auto;
  margin-top: 2px;
}
.customer-dashboard-block2 .flexbox1column .listscontent .mat-list-base .mat-list-item:first-child{margin-top: 0px;}

.customer-dashboard-block2 .flexbox1column .rsvplisttypecontent h2{
  padding: 5px 7px;
  background-color: #465157;
  font-family: 'Helvetica-Normal';
  font-size: 18px!important;
  line-height: normal!important;
  margin-top: 8px;
  margin-bottom: 8px;
  text-align: left;
}
.customer-dashboard-block2 .flexbox1column .rsvplisttypecontent:last-child{
  margin-top: auto;
}


.customer-dashboard-block2 .rsvplisttypebottom{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  padding-top: 5px;
  padding-bottom: 0px;
}

.customer-dashboard-block2 .rsvplisttypebottom{font-family: "HelveticaBold"; font-size: 13px; text-transform: uppercase; color:#000000}
/* .redcls{color:#ff0000 !important;}
.greencls{color:#54aa0f !important;}

.colorred{display: block; background-color: #ff0000; width: 15px; height: 15px; border-radius: 100%; margin-left: 5px;}
.coloryellow{display: block; background-color: #f99118; width: 15px; height: 15px; border-radius: 100%; margin-left: 5px;}
.colorgreen{display: block; background-color: #54aa0f;width: 15px; height: 15px; border-radius: 100%; margin-left: 5px;} */

.customer-dashboard-block2 .rsvplistsbottombtm{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  background-color: #c0c1c2;
  padding: 6px;
  margin-top: auto;
}
.customer-dashboard-block2 .rsvplistsbottombtm span{font-family: "HelveticaBold"; font-size: 16px; text-transform: uppercase; display: flex; align-items: center; justify-content: space-between;}
.customer-dashboard-block2 .rsvplistsbottom h2 {
  color: #222527;
    font-family: 'HelveticaBold';
    font-size: 24px !important;
    text-transform: uppercase;
    margin: 0;
    line-height: normal !important;
    padding: 12px 10px 2px;
}

.customer-dashboard-block2 .rsvplistsbottom h1 {
  color: #0a0f19;
  font-family: 'HelveticaBold';
  font-size: 30px !important;
  text-transform: uppercase;
  margin: 0;
  line-height: normal !important;
  padding: 5px 10px 10px;
}

.customer-dashboard-block2 .rsvplistsbottom h1 span{
  color: #f7462e;
}

.customer-dashboard-block2 .rsvplistsingleright{
  box-sizing: border-box;
  margin-bottom: 10px;
  width: calc(1/1*100% - (1 - 1/1)*10px);
  margin-top: 10px;
  padding: 0px 8px 8px;
  box-shadow: 0px 1px 4px 0px rgba(168,168,168,0.5);
  background-color: #fff;
  text-align: center;
}

.customer-dashboard-block2 .rsvplistsingleright .btnblue{
  margin-bottom: 5px;
}

.customer-dashboard-block2 .btnwrappercls{display: block; text-align: right; width: 100%;}

.customer-dashboard-block2 .btnwrappercls{
  font-size: 30px !important;
  line-height: normal !important;
  color: #2e2e2e;
  text-transform: uppercase;
  background-color: #dde2e5;
  -webkit-box-pack: start;
  justify-content: flex-start;
  padding: 5px 20px 15px;
  display: block;
  text-align: right;
}



.customer-dashboard-block2 .rsvplistsbottombtm{
  padding: 10px;
  background-color: #465157;
  margin-top: auto;
}

.customer-dashboard-block2 .rsvplistsbottombtm .mat-list-base{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;  
  padding: 0 !important;
}

.customer-dashboard-block2 .rsvplistsbottombtm .mat-list-base .mat-list-item {
  box-sizing: border-box;
  margin-bottom: 0;
  width: calc(1/3*100% - (1 - 1/3)*10px);
  height: auto;  
  align-items: center;
  justify-content: center;
  display: flex;
  font-family: 'Helvetica-Regular';
  font-size: 14px !important;
  text-transform: capitalize;
  color:#fff;
}

.customer-dashboard-block2 .rsvplistsbottombtm .mat-list-base .mat-list-item strong{margin-right: 5px;}

.customer-dashboard-block2 .deletecls{
  display: none;
  cursor: pointer;
  right: 0;
  position: absolute;
  top: 0;
  z-index: 99;
}

.customer-dashboard-block2 .block1socialadvosingle:hover .deletecls,  .customer-dashboard-block2 .rsvplistsingle:hover .deletecls  {
  display: block;
  color:#ff0000;
  font-size: 20px;
}

.customer-dashboard-block2 .block1socialadvosingle:hover .deletecls .material-icons,  .customer-dashboard-block2 .rsvplistsingle:hover .deletecls .material-icons{
  background-color: rgba(255, 255, 255, 0.8);
  height: 50px;
  width: 50px;
  display: block;
  border-radius: 100px;
  padding: 8px;
  border: 2px solid #e41717;
  font-size: 30px;
  color: #e41717;
  position: absolute;
  top:0;
  right: 0;
}

.salesrepadminblock3 .titleadmin{  
    justify-content: space-between;
    display: flex;
  }


  .salesrepadminblock3 .flexbox3column{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    width: 100%;  
    padding: 0 !important;
  }
  
  .salesrepadminblock3 .flexbox3column .rsvplistsingle {
    box-sizing: border-box;
    margin: 0.5%;
    width: 32.33%;
    height: auto;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    display: -webkit-box;
    display: flex;
    font-family: 'Helvetica-Regular';
    font-size: 14px !important;
    text-transform: capitalize;
    color: #fff;
    background-color: #fff;
    box-shadow: 0px 1px 4px 0px rgba(168,168,168,0.5);
  }

  


  .salesrepadminblock3 .salesrepadmininfoimg{    
    display:-webkit-box;
    display:-moz-box;
    display:-ms-flexbox;
    display:-webkit-flex;
    display:flex;
    padding:10px;
    background-color: #e7e7e7;
    width: 174px;
}

.salesrepadminblock3 .salesrepadmininfocontentlist {
    display: -webkit-box;
    display: -webkit-flex;
    height: auto;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: start;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding-top: 0;
}

.salesrepadminblock3 .salesrepadmininfocontentlist .mat-list-item {
    height: auto;
    box-sizing: border-box;
    max-width: 100%;
}

.salesrepadminblock3 .salesrepadmininfoimg img{
    height: 100% !important;width: 100%; height: auto; max-width: 100%; object-fit: cover;
}

.salesrepadminblock3 .salesrepadmininfocontent{   
    margin-left: 22px; 
    flex: 1;
    border-left: 1px solid #e6e7e7;
    padding-left: 8px;
    padding-right: 8px;
}

.salesrepadminblock3 .salesrepadminblock1info{
    display: -webkit-box;
    display: flex;
    -webkit-box-align: stretch;
    align-items: stretch;
    -webkit-box-pack: justify;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
}

.salesrepadmininfocontentlist .iconcontent p {
    font-size: 14px;
}

.salesrepadmininfocontentlist .iconcontent label{
    font-size: 14px;
}


@media only screen and (max-width: 1199px) {
    .salesrepadmininfocontentlist {
        height: auto;
    }

}