
<div class="adminwrappercls">
    <app-header></app-header>
        <div class="main-content-wrap">
          <mat-card class="generalcls blog" style="padding: 0 !important;">  
              <mat-card-content class="adm_inner_banner testimoniallistsadmin">
                  <mat-card-title class="adm_inner_title">Training Center</mat-card-title>
              </mat-card-content>
              <mat-card-content class="bred_cram_wrapper">
                  <a mat-list-item routerLinkActive="active"> Dashboard </a>
                  <a mat-list-item routerLinkActive="active"> Training Manager </a>
                  <a mat-list-item routerLinkActive="active activebread"> Training Center </a>
              </mat-card-content>              
              <div class="tablediv">
                <lib-list [TrainingCategoryList]="manageTrainingList" [serverDetails]="serverDetails" [formSource]="formSource"></lib-list>
              </div>
            </mat-card>
        </div>
</div>
<app-footer></app-footer>