
<div class="adminwrappercls">
    <app-header></app-header>
        <div class="main-content-wrap">
          <mat-card class="generalcls blog" style="padding: 0 !important;">  
              <mat-card-content class="adm_inner_banner testimoniallistsadmin">
                  <mat-card-title class="adm_inner_title">api manager</mat-card-title>
                  <p class="adm_inner_para">Find Out What Our Customers and Other Industry Leaders and Professionals Have to Say About Our Services, Vehicles, Prices, and Other Offerings That We Bring To You.</p>
              </mat-card-content>
              <mat-card-content class="bred_cram_wrapper_list">
                <mat-list class="bred_cram_wrapper">
                  <mat-list-item mat-list-item *ngIf="user_details.type == 'admin'"> <a [routerLink]="'/admin-dashboard'">Dashboard</a> </mat-list-item>
                  <mat-list-item mat-list-item *ngIf="user_details.type == 'customer'"> <a [routerLink]="'/customer-dashboard'">Dashboard</a> </mat-list-item>
                  <mat-list-item mat-list-item *ngIf="user_details.type == 'salesrep'"> <a [routerLink]="'/rep-dashboard'">Dashboard</a> </mat-list-item>

                  <mat-list-item mat-list-item *ngIf="user_details.type == 'admin'"> <a>api manager</a> </mat-list-item>
                  <mat-list-item mat-list-item *ngIf="user_details.type == 'customer'"> <a>api manager</a> </mat-list-item>
                  <mat-list-item mat-list-item *ngIf="user_details.type == 'salesrep'"> <a>api manager</a> </mat-list-item>
          
                </mat-list>       
              </mat-card-content>
              <span class="searchblock">
                  <span class="searchblockwrapper">
                      <span>
                          <h2>api manager</h2>
                      </span>                                     
                  </span>
              </span>
              <div class="tablediv">

                <table mat-table [dataSource]="apiKeyList">

                    <ng-container matColumnDef="Key Id">
                      <th mat-header-cell *matHeaderCellDef> Key ID</th>
                      <td mat-cell *matCellDef="let element">{{element._id}}</td>
                    </ng-container>

                    <ng-container matColumnDef="Api Key">
                        <th mat-header-cell *matHeaderCellDef>Api Key </th>
                        <td mat-cell *matCellDef="let element"> {{element.apikey}} </td>
                      </ng-container>

                    <ng-container matColumnDef="Key Number">
                      <th mat-header-cell *matHeaderCellDef> Key Number </th>
                      <td mat-cell *matCellDef="let element"> {{element.no}} </td>
                    </ng-container>

                    <ng-container matColumnDef="Status">
                      <th mat-header-cell *matHeaderCellDef> Status </th>
                      <td mat-cell *matCellDef="let element"> Active </td>
                    </ng-container>

                    <ng-container matColumnDef="action">
                        <th mat-header-cell *matHeaderCellDef> Action </th>
                        <td mat-cell *matCellDef="let element">                           
                          <a (click)="editApiData(element._id)" ><i class="material-icons"> edit </i></a> </td>
                      </ng-container>

                   
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                  </table>
  
              </div>
          </mat-card>
        </div>
    </div>
  <app-footer></app-footer>
