<div class="adminwrappercls">
  <app-header></app-header>
      <div class="main-content-wrap">
        <mat-card-content class="adm_inner_banner">
          <mat-card-title class="adm_inner_title">Social advo</mat-card-title>
          <p class="adm_inner_para" *ngIf="userCookies.type == 'admin'">Attract New Members to Your Profile Using Attractive Banners on Your Social Media Profiles.</p>
          <!-- <p class="adm_inner_para" *ngIf="userCookies.type == 'customer'">Attract New Members to Your Profile Using Attractive Banners on Your Social Media Profiles.</p> -->
          <p class="adm_inner_para" *ngIf="userCookies.type == 'salesrep'">Attract New Customers to Your Profile Using Attractive Banners on Your Social Media Profiles.</p>
        </mat-card-content>
        <mat-card-content class="bred_cram_wrapper_list">
          <mat-list class="bred_cram_wrapper">
            <mat-list-item mat-list-item> <a href="#">Dashboard</a> </mat-list-item>
            <mat-list-item mat-list-item> <a href="#">Social advo</a> </mat-list-item>
          </mat-list>       
        </mat-card-content>
        
        <mat-card class="generalcls socialadvoblock1" style="padding:0px !important">
          <span class="mainwrappercontent">
              <mat-card-title class="sectionheader">Social Advo</mat-card-title>
              <span class="socialadvolistwarpper">
                <span class="btnsharewrapper">
                  <span class="socialmediaheader">                    
                    <h2>Facebook Banner</h2>
                  </span> 
                </span>
                <span class="bannerlistwrapper facebookbanner">
                  <mat-list role="list">
                    <mat-list-item role="listitem" *ngFor="let item of allFacebookBanner | slice:0:indexval;">
                      <img src="../../../../assets/images/{{item}}">
                      <!-- <span class="postblock">
                        
                        <button mat-button class="btnshare btnsharecls txtwhite"  (click)="share(item)"><span>Post</span></button>
                      </span>
                        <p class="grapurl"><button (click)="copyMessage(item)" >Grab URL</button><span>https://dev.probidauto.com/customer-signup/{{item}}/{{userCookies._id}}</span>
                        
                        </p> -->
                        <p class="grapurl">
                          <span class="blogsociallists">
                              <a class="sociallink fa fb" target="_blank" (click)="share(item)">
                                <fa name="facebook" class="fa-facebook"></fa>
                              </a>
                              <button (click)="copyMessage(item)" value="click to copy" >Grab URL</button>
                          </span>
                          <span>
                              <span>https://dev.probidauto.com/customer-signup/{{item}}/{{userCookies._id}}</span>      
                          </span>           
                      </p>
                    </mat-list-item>
                  </mat-list>
                  <span class="loadmorewarpper">
                    <button mat-button class="btnblue" *ngIf="allFacebookBanner !=null && indexval < allFacebookBanner.length" (click)="loadMoreSearch('facebook')" >Load More</button>
                  </span>
                </span>
                <span class="btnsharewrapper">
                  <span class="socialmediaheader">
                    <h2>linkedin Banner</h2>
                  </span> 
                </span> 
                <span class="bannerlistwrapper linkedinbanner">
                  <mat-list role="list">
                    <mat-list-item role="listitem"   *ngFor="let item of allLinkdinBanner | slice:0:indexValForLinkdin;"  >
                      <img src="../../../../assets/images/{{item}}">
                      <!-- <span class="postblock">
                        <a class="btnshare btnsharecls txtwhite" target="_blank" [attr.href]="'https://www.linkedin.com/sharing/share-offsite/?url=dev.probidauto.com/customer-signup/linkedinbanner-img1.jpg/' + userCookies._id"><span>Post</span></a>
                      </span>
                      <p class="grapurl"><button (click)="copyMessage(item)" value="click to copy" >Grab URL</button><span>https://dev.probidauto.com/customer-signup/{{item}}/{{userCookies._id}}</span>
                      
                      </p> -->
                      <p class="grapurl">
                        <span class="blogsociallists">
                            <a class="sociallink fa lin" target="_blank" [attr.href]="'https://www.linkedin.com/sharing/share-offsite/?url=dev.probidauto.com/customer-signup/'+item+'/' + userCookies._id">
                                <fa name="linkedin" class="fa-linkedin"></fa>
                            </a>
                            <button (click)="copyMessage(item)" value="click to copy" >Grab URL</button>
                        </span>
                        <span>
                            <span>https://dev.probidauto.com/customer-signup/{{item}}/{{userCookies._id}}</span>      
                        </span>           
                    </p>
                    </mat-list-item>
                  </mat-list>
                  <span class="loadmorewarpper">
                    <button mat-button class="btnblue" *ngIf="allLinkdinBanner !=null && indexValForLinkdin < allLinkdinBanner.length" (click)="loadMoreSearch('linkedin')" >Load More</button>
                  </span>
                </span>
              </span>  
          </span>
        </mat-card>
      </div>
  </div>
  
<app-footer></app-footer>
