

  <div class="generalmodalcls">
    <div class="modal-content">
          <div class="logowrapperouter">
              <div class="logowrapper">
                  <img src="../../assets/images/logomain.png">
              </div>
          </div>       
          <div mat-dialog-content>

            <h1>Update Api Key  </h1>

            <form [formGroup]="apikeyForm" class="formrightside" >
              <mat-label _ngcontent-serverapp-c1=""></mat-label>
              <mat-form-field>
                <input matInput type="text" placeholder="Enter Api Key" 
                  formControlName="apikey" >
  
              </mat-form-field>&nbsp;
              <mat-error
                *ngIf="!apikeyForm.controls['apikey'].valid && apikeyForm.controls['apikey'].errors.required && apikeyForm.controls['apikey'].touched">
                api key field can not be blank</mat-error>
              <mat-error style="color: crimson;"
                *ngIf="errorApiKey !='' && apikeyForm.value.apikey.length !=32 && apikeyForm.value.apikey.length !='' && apikeyForm.value.apikey.length !=null">
                {{errorApiKey}}
              </mat-error>
  
              <mat-form-field class="serialnumbercls">
                <input matInput type="number" placeholder= "Enter Number " 
                  formControlName="keynum" readonly>
  
              </mat-form-field>&nbsp;
              <mat-error
                *ngIf="!apikeyForm.controls['keynum'].valid && apikeyForm.controls['keynum'].errors.required && apikeyForm.controls['keynum'].touched">
                number field can not be blank</mat-error>
  
              <!-- <button mat-raised-button type="button'" class="btnblue"
               (click)="apiKeySubmit()">Update Api Key</button>
              &nbsp; -->
  
              <!-- <button mat-raised-button type="reset" class="btnblue greenbtn">Reset</button> -->
              <button class="btnbluecls" mat-button cdkFocusInitial (click)="apiKeySubmit()">Update</button>&nbsp;
              <button class="btnredcls" mat-button mat-dialog-close="no" cdkFocusInitial>Cancel</button>
  
  
  
            </form>
  



          </div>
          <mat-dialog-actions >

           
           
          </mat-dialog-actions>
      </div>
    </div>
  
  
  