<div class="adminwrappercls">
  <app-header></app-header>
  <div class="main-content-wrap">
    <span class="searchblock">
      <span class="searchblockwrapper">
        <span>
          <h2>Services List</h2>
        </span>
        <span>
          <button mat-button class="btnorange sim-button" [routerLink]="['/service/add']"><i class="material-icons">add</i> Add service</button>
        </span>
      </span>
    </span>
    <div class="tablediv">
      <lib-servicelib [config]="serviceListConfig"></lib-servicelib>
    </div>
  </div>
</div>
<app-footer></app-footer>
