<mat-progress-bar mode="indeterminate" *ngIf="loader1"></mat-progress-bar>

<app-header></app-header>
<mat-card class="innerpagebanner basicinventorysearchbg">
  <span class="mainwrappercontent">
    <mat-card-content>
      <h1>Basic Inventory Search</h1>
    </mat-card-content>
  </span>
</mat-card>
<mat-card class="innerpagetitle">
  <span class="mainwrappercontent">
    <mat-card-content class="bred_cram_wrapper">
      <mat-list class="bred_cram_wrapper_list">
        <mat-list-item routerLinkActive="active">
          <a> inventory </a>
          <span class="breadcrumb__divider" aria-hidden="true">›</span>
        </mat-list-item>
        <mat-list-item routerLinkActive="active activebread">
          <a [routerLink]="'/basic-inventory-search'"> Basic Inventory Search </a>
          <span class="breadcrumb__divider" aria-hidden="true">›</span>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
  </span>
</mat-card>
<mat-card class="ptb-35 generalcls inventorysearch" style="padding: 0 !important;">
  <span class="formblockwrapper">
    <span class="mainwrappercontent">
      <!-- <img src="../../../../assets/images/basic-inventory-search.jpg"
      style="width: 100%; display: block; margin: 0; padding: 0;"> -->

      <span class="formblock">
        
        <form class="example-container" [formGroup]="inventoryCustomerForm" 
        >

          <span class="section1">
            <span>
              <span>
                <h4>Make:</h4>
                <mat-form-field>
                  <input type="text"
                   (keyup)="searchAutoComplete($event, 'make')" placeholder="Pick one make"
                    aria-label="Number" matInput formControlName="make" [matAutocomplete]="auto">
                  <mat-autocomplete #auto="matAutocomplete">
                    <mat-option *ngFor="let option of make_list" [value]="option">
                      {{option}}
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
              </span>
              <span>
                <h4>Model:</h4>
                <mat-form-field>
                  <input type="text"
                   (keyup)="searchAutoComplete($event, 'model')" placeholder="Pick one make"
                    aria-label="Number" matInput formControlName="model" [matAutocomplete]="automodel">
                  <mat-autocomplete #automodel="matAutocomplete">
                    <mat-option *ngFor="let option of model_list" 
                    [value]="option">
                      {{option}}
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
              </span> 
              <span>
                <h4>Type:</h4>
                <mat-form-field>
                  <input type="text" (keyup)="searchAutoComplete($event, 'body_type')" placeholder="Pick one body type"
                    aria-label="Number" matInput formControlName="type" [matAutocomplete]="autotype">
                  <mat-autocomplete #autotype="matAutocomplete">
                    <mat-option *ngFor="let option of type_list" [value]="option">
                      {{option}}
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
              </span>
            </span>
            <span>
              <span>
                <h4>Vehicle Type:</h4>
                <mat-form-field>
                  <mat-select formControlName="vehicle" placeholder="Pick one Vehicle">
                    <mat-option value='Car'>Car</mat-option>
                    <mat-option value='Truck'>Truck</mat-option>
                  </mat-select>
                </mat-form-field>
              </span>
              <span>
                <h4>Year:</h4>
                <mat-form-field>
                  <mat-select formControlName="year" placeholder="Year">
                    <mat-option *ngFor="let yearval of year_list" [value]='yearval.year'>
                      {{yearval.year}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </span>
              <!-- <span>
                <h4>Trim:</h4>
                <mat-form-field>
                  <input type="text" (keyup)="searchAutoComplete($event, 'trim')" placeholder="Pick one trim"
                    aria-label="Number" matInput formControlName="trim" [matAutocomplete]="autotrim">
                  <mat-autocomplete #autotrim="matAutocomplete">
                    <mat-option *ngFor="let option of trim_list" [value]="option">
                      {{option}}
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
              </span> -->
              <!-- <span>
                <h4>VIN:</h4>
                  <mat-form-field>
                    <input matInput formControlName="vin" type="text" placeholder="VIN">
                  </mat-form-field>
              </span> -->
            </span>
            <span>
              
              <span>
                <h4>State:</h4>
                <mat-form-field>
                  <mat-select formControlName="state" placeholder="State">
                    <mat-option *ngFor="let item of stateList" [value]="item.abbreviation">{{item.name}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </span>
              <span>
                <h4>Zip:</h4>
                <mat-form-field>
                  <mat-label>ZIP</mat-label>
                  <input matInput formControlName="zip" type="ZIP" placeholder="ZIP">
                </mat-form-field>
              </span>

            </span>
            <span class="buttonslist">
              <button mat-raised-button color="primary" type="reset" 
               > Reset</button>
              <button mat-raised-button color="primary" type="button" (click)="inventoryCustomerSearch()"> Search</button>
            </span>

          </span>

        </form> 
      </span>

    </span>

    <span class="mainwrappercontent">
      <mat-list class="rightcontent" *ngIf="search != null && search.length>=0">
          <mat-list-item class="rightcontentrow" *ngFor="let item of search |  slice:0:indexval; let i= index;">
            <mat-card-content class="col-1-3">
              <span class="as_imgwrapper">
                  <span *ngIf="indexCount == i && indexCountForImg != null;then content else other_content"></span>    
                  <ng-template #content>
                    <img [src]="item.media.photo_links[indexCountForImg]">
                  </ng-template>
                  <ng-template #other_content>
                    <img [src]="item.media.photo_links[0]">
                  </ng-template>
                  <img *ngIf="item.media.photo_links == null" src="../../../../../assets/images/no-image-default.jpg">
              </span>
              <span class="as_sm_imgmainwrapper">
                  <owl-carousel [options]="carouselOptions" [items]="item.media.photo_links" [carouselClasses]="['owl-theme', 'row', 'sliding']">
                    <div class="sm-imgwrapper" *ngFor="let img of item.media.photo_links; let j= index">
                        <img *ngIf="item.media.photo_links == null" src="../../../../../assets/images/no-image-default.jpg">
                        <img *ngIf="item.media.photo_links != null && item.media.photo_links[0] !=null" [src]="img" (click)="showimg(i, j)">
                    </div>
                  </owl-carousel>
                
              </span>
              
            </mat-card-content>
            <mat-card-content class="col-1-7">
              <span class="subrighrwrapper">
                <span class="sub-col-6">
                  <span class="text-wrapper">
                    <h2 *ngIf="item.heading != null">{{item.heading}} <span (click)="viewDetails(item)" matTooltip="view detail" matTooltipClass='red-tooltip'><mat-icon>visibility</mat-icon></span></h2>
                    <h3 *ngIf="item.vin != null">VIN: {{item.vin}}</h3>

                    <p *ngIf="item.build.cylinders != null">{{item.build.cylinders}} Cylinders </p>
                    <p *ngIf="item.build.vehicle_type != null">Vehicle Type: {{item.build.vehicle_type}}</p>
                    <p *ngIf="item.build.transmission != null">Transmission: {{item.build.transmission}}</p>
                    <p *ngIf="item.build.fuel_type != null"> Fuel: {{item.build.fuel_type}}</p>

                    <label id="example-radio-group-label">Pick your favorite season</label>
                    <br>
                    <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group"
                      [(ngModel)]="favoriteSeason">
                      <mat-checkbox class="red"></mat-checkbox>
                      <mat-checkbox class="black"></mat-checkbox>
                      <mat-checkbox class="blue"></mat-checkbox>
                      <mat-checkbox class="white"></mat-checkbox>
                    </mat-radio-group>

                    <p *ngIf="item.build.body_type != null">Body Type: {{item.build.body_type}}</p>
                  </span>
                </span>
                <span class="sub-col-4">
                  <mat-card-content class="rrblock1" >
                    <span><button class="btnrsvp" (click)="rsvpSend(item)">RSVP</button></span>
                    <button class="btngreencls" (click)="favorite(item)"><i class="material-icons"> favorite </i> ADD</button>
                  </mat-card-content>
                  <mat-card-content class="rrblock1 currentbidprice">
                    <span class="text-wrapper" *ngIf="item.price != null">
                      <p>Current Bid Price: </p>
                      <h5>${{item.price}}</h5>
                      <h6 *ngIf="item.build.engine != null"><strong>Engine Type</strong>
                        <span>{{item.build.engine}}</span></h6>
                    </span>
                  </mat-card-content>
                </span>
            </span>
          </mat-card-content>
          <span class="pa_blockfooter">
            <mat-list *ngIf="item.build != null">
              <mat-list-item class="pa_blockfooterlogo"> <img src="../../assets/images/logomain.png"> </mat-list-item>
              <mat-list-item class="pa_blockfootertext"> <strong>Interior Color</strong> Black</mat-list-item>
              <mat-list-item class="pa_blockfootertext" *ngIf="item.build.drivetrain != null"> <strong>Drive
                  Train</strong> {{item.build.drivetrain}}</mat-list-item>
              <mat-list-item class="pa_blockfootertext" *ngIf="item.build.year != null"> <strong>Year</strong>
                {{item.build.year}}</mat-list-item>
              <mat-list-item class="pa_blockfootertext" *ngIf="item.build.make != null"> <strong>Make</strong>
                {{item.build.make}}</mat-list-item>
              <mat-list-item class="pa_blockfootertext" *ngIf="item.build.model != null"> <strong>Model</strong>
                {{item.build.model}}</mat-list-item>
              <mat-list-item class="pa_blockfootertext" *ngIf="item.build.body_type != null"> <strong>Type</strong>
                {{item.build.body_type}}</mat-list-item>
            </mat-list>
          </span>
        </mat-list-item>
      </mat-list>
      <div style="display: block; text-align: right; ">
        <mat-button type="button" class="btnblue" *ngIf="search !=null && indexval < search.length"
          (click)="loadMoreSearchResult() ">Load More</mat-button>
      </div>
    </span>


  </span>
</mat-card>

<app-footer></app-footer>