<div class="adminwrappercls">
  <app-header></app-header>
      <div class="main-content-wrap">
        <mat-card class="generalcls blog" style="padding: 0 !important;">
            <span>
              <!-- <img src="../../../../assets/images/rsvplists-dashboard-img1.jpg" style="width: 100%; display: block; margin: 0; padding: 0;"> -->
              <mat-card-content class="adm_inner_banner rsvpadmin">
                  <mat-card-title class="adm_inner_title">RSVP LISTS</mat-card-title>
                  <p class="adm_inner_para" *ngIf="userCookies.type == 'admin'">View All RSVPs Submitted by Customers or Their Corresponding Sales Reps.</p>
                  <p class="adm_inner_para" *ngIf="userCookies.type == 'customer'">View All RSVPs Submitted by You And The Ones Submitted By Your Sales Rep.</p>
                  <p class="adm_inner_para" *ngIf="userCookies.type == 'salesrep'">View All RSVPs Submitted by Your Customers And The Ones Submitted By You For Them.</p>
              </mat-card-content>
              <mat-card-content class="bred_cram_wrapper">
                  <a mat-list-item routerLinkActive="active"> Dashboard </a>
                  <a mat-list-item routerLinkActive="active activebread" [routerLink]="'/rsvp-admin'"> RSVP</a>
              </mat-card-content>                
              <span class="searchblock rsvpsearch">
                <span class="searchblockwrapper">
                  <span>
                    <h2>RSVP RESULT</h2>
                  </span>
                  <!-- <span>
                      <button mat-button class="btnorange sim-button"><i class="material-icons">add</i> Add New</button>
                  </span>-->
                  <span *ngIf="userCookies.type == 'admin'">
                    <mat-label>Search By Status :</mat-label>
                    <mat-form-field>
                      <select matNativeControl (change)="selectOption($event.target.value)" >
                        <option value=''>Select Status</option>
                        <option value=0>Pending</option>
                        <option value=1>Accept</option>
                        <option value=2>Reject</option>
                        <option value=4>Decline</option>
                        <option value=5>Confirm</option>
                        <option value=3>Awaiting Confirmation</option>
                      </select>
                    </mat-form-field>
                  </span>
                </span>
              </span>
              <span class="rsvplistwrapper" >
        <span class="norecordfound" *ngIf="rsvp_list.length ==0">
          <h3 >No Record Found</h3>
        </span>
                <span class="rsvplists">
                  <span class="rsvplistsingle" *ngFor="let item of rsvp_list | slice:0:indexval ; let i=index">
                    <span class="rsvplistsingleinner">
                        <span class="rsvplistsingleleft">
                            <span class="rsvpliststop">
                              <span class="rsvplistimgwrapper">
                                  <img *ngIf="item.media.photo_links[0] != null" [src]="item.media.photo_links[0]">
                                  <img class="defaultimg" *ngIf="item.media.photo_links[0] == null" src="assets/images/no-image-default.jpg">
                              </span>                        
                            </span>
                            <span class="rsvplistsbottom">
                              <h2 (click)="rsvpDetail(item._id)">{{item.heading}}</h2>
                              <span class="rsvplistsbottombtm">
                               <span>Status</span>

                               
                               <span *ngIf="item.status == 2  " class="btnactive">Reject <span class="colorred"></span></span>
                                
                               <span *ngIf="item.status == 1"  class="btnactive">Accept <span class="colorgreen"></span></span>
                              

                               <span *ngIf="item.status == 0" class="btnactive">Pending <span class="coloryellow"></span></span>
                               

                              </span>
                            </span>
                          </span>
                          <span class="rsvplistsingleright">
                            <span class="rsvplisttypecontent">  
                              <span class="deletecls" (click)="deleteRsvp(item,i)"><i class="material-icons">delete</i></span>
                            
                              <h2>User</h2>
                              <span class="rsvplisttypecontentinfo">
                                <span class="rsvplisttypeimgwrapper">
                                  <!-- <img [src]="item.media.photo_links[0]"> -->
                                  <img src="../../../../assets/images/imguser.jpg">
                                  <span class="listscontentshape"></span>
                                </span>
                                <span class="listscontent">
                                   <mat-list>
                                     <mat-list-item><span class="labelcls">Name:</span> <span>{{item.added_for_fullname}}</span> </mat-list-item>
                                     <mat-list-item><span class="labelcls">Email ID:</span> <span>{{item.added_for_email}}</span> </mat-list-item>
                                     <mat-list-item><span class="labelcls">Phone:</span> <span>{{item.added_for_phone}}</span> </mat-list-item>
                                   </mat-list>
                                   
                                </span>
                              </span>
                              <span class="rsvplisttypebottom">
                                <span>Qualified for Finance: <span class="redcls">NO</span></span>
                                <span>Job Ticket related to this car: <span class="greencls">[1]</span></span>
                              </span>

                            </span>
                            <span class="rsvplisttypecontent">
                                <h2>Salesrep</h2>
                                <span class="rsvplisttypecontentinfo">
                                    <span class="rsvplisttypeimgwrapper">
                                      <!-- <img [src]="item.media.photo_links[0]"> -->
                                      <img src="../../../../assets/images/imgsalesrep.jpg">
                                      <span class="listscontentshape"></span>
                                    </span>
                                    <span class="listscontent">
                                       <mat-list>
                                         <mat-list-item><span>Name:</span> <span>{{item.added_by_fullname}}</span> </mat-list-item>
                                         <mat-list-item><span>Email ID:</span> <span>{{item.added_by_email}}</span> </mat-list-item>
                                         <mat-list-item><span>Phone:</span> <span>{{item.added_by_phone}}</span> </mat-list-item>
                                       </mat-list>                                       
                                      
                                    </span>
                                  </span>
                                  <span class="rsvplisttypebottom">
                                    <span>Commission: <span class="redcls">NO</span></span>
                                    <span> 
                                      <span *ngIf="userCookies.type == 'admin'">


                                      <button mat-button class="btnblue greenbtn"
                                       *ngIf=" (item.status != 1) && item.status == 0 || item.status == 2" 
                                       (click)="changeStatus(item, 1)">Accept</button>


                                       <button  *ngIf="item.status == 1 " (click)="openModale(item)" mat-button class="btnblue whitebtn">Send Email To Customer</button>

                                      <!-- <button mat-button class="btnblue yellowbtn" *ngIf="item.status != 1 && item.status == 2" 
                                      (click)="changeStatus(item, 0)">Pending</button> -->

                                      <button mat-button class="btnblue redbtn" 
                                      *ngIf="item.status == 0 && item.status != 1" (click)="changeStatus(item, 2)">Reject</button>

                                    </span>
                                      <button mat-button class="btnblue" 
                                      (click)="rsvpDetail(item._id)">Know More</button>

                                  <button mat-button  class="btnblue orangebtn" (click)="goToopenTicket(item)">View Ticket</button>
                                    </span>                                   
                                  </span>
                            </span>                            
                          </span>
                    </span>
                  </span>
                </span>                
              </span>  
            </span>  
        </mat-card>
        <div>
          <button mat-flat-button class="btnblue" type="button" *ngIf="rsvp_list !=null && indexval < rsvp_list.length" (click)="loadMoreRsvp() " >Load More</button>
        </div>

      </div>
  </div>
<app-footer></app-footer>