.rsvplistwrapper{
  margin:10px;
  display:block;
}
.rsvplists {
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: space-between;
align-items:stretch;
}
.rsvplists > span {
box-sizing: border-box;
margin-bottom: 10px;
outline: 1px dotted #D7D8D2;
width: calc(1/2*100% - (1 - 1/2)*10px);
margin-top:10px;
padding:10px;
-webkit-box-shadow: 0px 1px 4px 0px rgba(168,168,168,0.5);
-moz-box-shadow: 0px 1px 4px 0px rgba(168,168,168,0.5);
box-shadow: 0px 1px 4px 0px rgba(168,168,168,0.5);
}
.rsvplistsingleinner{
display: flex;
align-items: stretch;
justify-content: space-between;
flex-direction: row;
height: 100%;
position: relative;
}
.rsvpliststop{
margin: 0;
margin-bottom: 6px;
width: 100%;
height: 100%;
position: relative;
display: block;
overflow: hidden;
border: 1px solid #D6D6D6;
}
.as_sm_imgmainwrapperinner{
overflow-x: auto;
overflow: hidden;
display: inline-flex;
}
.rsvplistimgwrapper{
width: 100%;
height: 100%;
position: relative;
display: block;
overflow: hidden;
}
.rsvplistimgwrapper img{
  /* height: 100% !important; -o-object-fit: cover; object-fit: cover; width: 100% !important; width: auto; height: auto; */
  /* height: auto !important;
  -o-object-fit: cover;
  object-fit: cover;
  width: 100% !important;
  width: auto;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  height: 100% !important;
  -o-object-fit: cover;
  object-fit: cover;
  width: 100% !important;
  width: auto;
  height: auto;
}
.rsvplistsbottom{
margin-top: auto;
background-color: #1C1B1B;
padding: 8px 10px;
}
.rsvplistsingleleft{flex: 1 1 35%; display: flex; align-items: stretch; flex-direction: column;}
.rsvplistsingleright{flex: 1 1 65%; display: flex; align-items: stretch;    margin-left: 10px; flex-direction: column;}
.rsvplistsbottom h2{
  color: #1CB7EB;
  font-family: 'HelveticaBold';
  font-size: 16px !important;
  text-transform: uppercase;
  margin: 5px 0px;
  line-height: normal !important;
}
.rsvplisttypecontentinfo{
display: flex;
align-items: stretch;
justify-content: space-between;
flex-direction: row;
}
.rsvplisttypeimgwrapper{
width: 76px;
height: 82px;
position: relative;
display: block;
}
.rsvplisttypeimgwrapper img{
height: 100% !important; -o-object-fit: cover; object-fit: cover; width: 100% !important; width: auto; height: auto;
}
.listscontentshape{
content:"";
background-image: url(../../../../assets/images/imgbottomafter.png);
width: 78px;
height: 39px;
position: absolute;
left: 0;
bottom: -19px;
}
.listscontent{
border: 1px solid #E1E1E1;
padding: 10px 13px;
margin-left: 5px;
flex: 1 1 86%;
position: relative;
}
.listscontent .mat-list-base{
padding-top: 0;
}
.listscontent .mat-list-base .mat-list-item{
height: auto;
margin-top: 2px;
}
.listscontent .mat-list-base .mat-list-item:first-child{margin-top: 0px;}
.rsvplisttypecontent h2{
padding: 5px 7px;
background-color: #465157;
font-family: 'Helvetica-Normal';
font-size: 18px!important;
line-height: normal!important;
margin-top: 0px;
margin-bottom: 8px;
}
.rsvplisttypecontent:last-child{
margin-top: auto;
}
.rsvplisttypebottom{
display: flex;
align-items: center;
justify-content: space-between;
flex-direction: row;
padding-top: 5px;
padding-bottom: 0px;
}
.rsvplisttypebottom{font-family: "HelveticaBold"; font-size: 13px; text-transform: uppercase; color:#000000}
.redcls{color:#ff0000 !important;}
.greencls{color:#54aa0f !important;}
.rsvplistsbottombtm{
display: flex;
align-items: center;
justify-content: space-between;
flex-direction: row;
background-color: #DDE2E5;
padding: 4px;
}
.rsvplistsbottombtm span{font-family: "HelveticaBold"; font-size: 16px; text-transform: uppercase; display: flex; align-items: center; justify-content: space-between;}
.listscontent .mat-list .mat-list-item span{font-family: "Helvetica-Normal"; font-size: 18px;}
.listscontent .mat-list .mat-list-item .labelcls{color:#8f979b; margin-right: 6px;}
.rsvplisttypebottom .btnblue{padding: 7px 5px 5px !important; border-radius: 0 !important; background:#1cb7eb;font-family: "Helvetica-Normal" !important;font-size: 14px !important; margin-top: 0px !important;margin-left: 3px;}
.rsvplisttypebottom .btnblue.redbtn{background:#ff0000 !important;}
.rsvplisttypebottom .btnblue.yellowbtn{background:#f99118 !important;}
.rsvplisttypebottom .btnblue.greenbtn{background:#54aa0f !important;}
.rsvplisttypebottom .btnblue.whitebtn{background:#a6a6a6 !important;}
.colorred{display: block; background-color: #FF0000; width: 15px; height: 15px; border-radius: 100%; margin-left: 5px;}
.coloryellow{display: block; background-color: #F99118; width: 15px; height: 15px; border-radius: 100%; margin-left: 5px;}
.colorgreen{display: block; background-color: #54AA0F;width: 15px; height: 15px; border-radius: 100%; margin-left: 5px;}
.btnactive{cursor: pointer;}
.deletecls{
display: none;
cursor: pointer;
right: 0;
position: absolute;
top: 0;
z-index: 99;
}
.block1socialadvosingle:hover .deletecls,  .rsvplistsingle:hover .deletecls  {
display: block;
color:#ff0000;
font-size: 20px;
}
.block1socialadvosingle:hover .deletecls .material-icons,  .rsvplistsingle:hover .deletecls .material-icons{
background-color: rgba(255, 255, 255, 0.8);
display: block;
border-radius: 100px;
padding: 8px;
border: 2px solid #E41717;
font-size: 30px;
color: #E41717;
position: absolute;
top:0;
right: 0;
}
@media only screen and (max-width: 1500px) {
  .rsvplisttypebottom .btnblue {
    margin-left: 3px;
    font-size: 12px !important;
}
.rsvplistsbottombtm span {
  font-size: 12px;
}
}
@media only screen and (max-width: 991px) {
.rsvplists > span {width: calc(1/1*100% - (1 - 1/1)*10px);}
}