
<div class="bgmain gencls">
    <div class="loginwrappernew">
    <span>
    <lib-forget-password [formTitle]="formTitle" class="formgenrl login-form" [serverUrl]="serverUrl" [signUpRouteingUrl]="signUpRouteingUrl" [domainUrl]="domainUrl" [addEndpoint]="addEndpoint"  [logo]="logo" [buttonName]="buttonName" [loginRouteingUrl]="loginRouteingUrl"> </lib-forget-password>
    </span>
    <span class="signupwrapper">
            <span class="signupsingle">
                <span class="signupsingleinner">
                    <p><span>Customer - Sign Up</span> today to browse hundreds & thousands of cars and locate the car of your dreams!!</p>
                    <button class="btnblue" [routerLink]="['/customer-signup']">Customer Signup</button>
                </span>
            </span>
            <span class="signupsingle">
                <span class="signupsingleinner">
                    <p><span>Sales Reps - Sign Up</span> today to create your rep profile and begin making massive commissions!!</p>
                    <button class="btnblue" [routerLink]="['/salesrep-signup']">Sales Reps Signup</button>
                </span>
            </span>
        </span>
    </div>
</div>