<!-- <app-header></app-header>
<mat-card class="innerpagebanner inventorydetailbg">
  <span class="mainwrappercontent">
    <mat-card-content>
      <h1>Inventory Details</h1>
    </mat-card-content>
  </span>
  <span class="blogheaderimgbg"></span>
</mat-card>
<mat-card class="innerpagetitle">
  <span class="mainwrappercontent">
    <mat-card-content class="bred_cram_wrapper">
      <mat-list class="bred_cram_wrapper_list">
        <mat-list-item routerLinkActive="active">
          <a [routerLink]="'/home'"> home </a>
          <span class="breadcrumb__divider" aria-hidden="true">›</span>
        </mat-list-item>
        <mat-list-item routerLinkActive="active activebread">
          <a [routerLink]="'/inventory-detail'"> Inventory Details </a>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
  </span>
</mat-card> -->

<div class="adminwrappercls">
  <app-header></app-header>
  <div class="main-content-wrap">
    <mat-card-content class="adm_inner_banner">
      <mat-card-title class="adm_inner_title">Details</mat-card-title>
      <p class="adm_inner_para">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
    </mat-card-content>
    <mat-card-content class="bred_cram_wrapper">
      <a mat-list-item routerLinkActive="active"> Dashboard </a>
      <a mat-list-item routerLinkActive="active activebread"> Inventory Details</a>
    </mat-card-content>

<!--<div *ngIf="spinnerval==1">
      <mat-spinner></mat-spinner>
    </div> -->

    <mat-card class="ptb-40 generalcls inventorydetail">
      <span class="mainwrappercontent">
        <span>
          <mat-card-title class="headinginfo">{{data.heading}}</mat-card-title>
          <mat-card-content>
            <span class="inventorydetailblock">
              <span class="inventorydetailblockleft">
                <span class="big_imagewrapper" >
                  <img *ngIf="data.media.photo_links[0] == null" src="../../../../assets/images/no-image-default.jpg">
                    <img [src]="data.media.photo_links[0]">
                    <span *ngIf="indexImg !=null && indexImg != ''"><img [src]="data.media.photo_links[indexImg]"></span>
                </span>
                <!-- <span class="big_imagewrapper" >
                  <img [src]="data.media.photo_links[0]">
              </span> -->
                <span class="thumb_imgwrapper">
                  <span class="flexbox4columnthumb">
                    <owl-carousel [options]="carouselOptions" [items]="TestimonialListArray" [carouselClasses]="['owl-theme', 'row', 'sliding']">
                      <span class="single_thumb_wrapper" *ngFor="let item of data.media.photo_links ; let i=index ">
                        <span class="single_thumb_imagewrapper">
                          <img [src]="item" (click)="showImage(item,i)">
                        </span>
                      </span>
                    </owl-carousel>
                  </span>
                </span>
              </span>
              <span class="inventorydetailblockright">
                <span class="inventorydetailtop">
                  <span class="inventorydetailtopinner">
                    <span class="topinnerinfoleft">
                      <mat-list>
                        <mat-list-item><span>VIN :</span> {{data.vin}} </mat-list-item>
                        <mat-list-item class="clsprice">
                          <span>Price :</span><span *ngIf="data.price != null || data.price !=''" >{{data.price}}</span> 
                          <span *ngIf="data.price == null || data.price ==''">N/A</span>
                        </mat-list-item>

                        <mat-list-item>
                          <span>Odometer :</span> <span *ngIf="data.miles != null && data.miles !=''">{{data.miles}}
                            mi</span>
                          <span *ngIf="data.miles == null || data.miles ==''">N/A</span>
                        </mat-list-item>
                        <!-- <mat-list-item *ngIf="data.miles == '' && data.miles == null "><span>Odometer :</span>N/A</mat-list-item> -->
                      </mat-list>
                    </span>

                    <!-- RSVP DETAILS for admin -->
                    <!-- <span class="topinnerinforight" *ngIf="user_details.type == 'admin'" >
                  <h1 class="btnredcls">Reject</h1>
                  <h1 class="btngreencls">Accept</h1>
                  <h1 class="btnorangecls">Pending</h1>
                  <mat-button><i class="material-icons"> favorite </i> ADD</mat-button>
                  <mat-form-field class="select-customer">
                    <mat-label>Change Status</mat-label>
                    <mat-select>
                      <mat-option>
                        Active
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </span> -->
                    <!-- END RSVP DETAILS -->

                    <!-- Search Result  customer-->


                    <span class="topinnerinforight" >
                      <mat-button class="btnredcls" 
                      *ngIf="activatedRoute.snapshot.routeConfig.path == 'rsvp-detail/:_id'" 
                      (click)="removeItem(data._id)">Remove</mat-button>
                 
                </span>
                    <!-- end Search Result -->

                    <!-- Save Search DETAILS for salesrep-->
                    <span class="topinnerinforight" 
                    *ngIf="activatedRoute.snapshot.routeConfig.path != 'rsvp-detail/:_id'" >
                      <h1 class="btnrsvp" *ngIf="user_details.type == 'customer' || user_details.type == 'salesrep'"
                        (click)="addRsvp(data)">RSVP</h1>

                      <mat-button class="btnredcls" *ngIf="router.url != '/search-detail'" 
                      (click)="removeItem(data._id)">Remove</mat-button>

                      <mat-button class="btngreencls" *ngIf="router.url == '/search-detail' 
                       && addedCar == ''" (click)="addCar(data)">Add</mat-button>  
                      
                      <mat-button class="btnredcls" *ngIf="router.url == '/search-detail' && 
                      addedCar != '' && addedCar !=null" (click)="removeAddSave(addedCar,data)">Remove</mat-button>


                      <mat-form-field class="select-customer" *ngIf="user_details.type == 'salesrep'">
                        <mat-label>Select Customer</mat-label>
                        <mat-select [(ngModel)]="customer_id">
                          <mat-option *ngFor="let item of customerList" [value]="item._id">
                            {{item.firstname}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                      <div>
                        <span class="errormsg"
                          *ngIf=" errorMsg !=null &&  errorMsg != '' && user_details.type == 'salesrep' "
                          [ngClass]="customer_id =='' ? 'errormsg':'test'">{{errorMsg}}</span>
                      </div>
                    </span>
                    <!-- end Save Search DETAILS -->

                  </span>
                </span>


                <span class="inventorydetailbottom detaillistcls inventorydetailuser">

                  <!-- For Admin ,salesrep,customer-->
                  <span class="flexcolumn " *ngIf="activatedRoute.snapshot.routeConfig.path == 'rsvp-detail/:_id'">
                <span *ngIf="user_details.type == 'admin' || user_details.type == 'salesrep' ">
                  <mat-card-title class="headerlists">User</mat-card-title>
                  <span class="rsvplisttypecontentinfowrapper">
                    <span class="rsvplisttypecontentinfo">
                      <span class="rsvplisttypeimgwrapper">
                        <img src="../../../../assets/images/imguser.jpg">
                      </span>
                      <span class="listscontent">
                        <mat-list>
                          <mat-list-item><span class="labelcls">Name:</span> <span>{{data.added_for_fullname}}</span> </mat-list-item>
                          <mat-list-item><span class="labelcls">Email ID:</span> <span>{{data.added_for_email}}</span> </mat-list-item>                                              
                          <mat-list-item><span class="labelcls">Phone:</span> <span>{{data.added_for_phone}}</span> </mat-list-item>                                              
                        </mat-list>
                        
                      </span>
                    </span>
                    <span class="rsvplisttypebottom">
                      <span>Qualified for Finance: <span class="redcls">NO</span></span>
                      <span>Job Ticket related to this car: <span class="greencls">[1]</span></span>
                    </span>
                  </span>
                </span>
                <span *ngIf="user_details.type == 'admin' || user_details.type == 'customer' ">
                  <mat-card-title class="headerlists">Salesrep</mat-card-title>
                  <span class="rsvplisttypecontentinfowrapper">
                    <span class="rsvplisttypecontentinfo">
                      <span class="rsvplisttypeimgwrapper">
                        <img src="../../../../assets/images/imguser.jpg">
                      </span>
                      <span class="listscontent">
                        <mat-list>
                          <mat-list-item><span class="labelcls">Name:</span> <span>{{data.added_by_fullname}}</span> </mat-list-item>
                          <mat-list-item><span class="labelcls">Email ID:</span> <span>{{data.added_by_email}}</span> </mat-list-item>                                              
                          <mat-list-item><span class="labelcls">Phone:</span> <span>{{data.added_by_phone}}</span> </mat-list-item>                                                     
                        </mat-list>                       
                      </span>
                    </span>
                    <span class="rsvplisttypebottom">
                      <span>Commission: <span class="redcls">NO</span></span>
                    </span>
                  </span>
                </span>
              </span>


                  <!-- For End Admin -->

                  <!-- For Sales Rep -->

                  <!-- <span class="flexcolumn " *ngIf="user_details.type == 'salesrep'">
                <span>
                  <mat-card-title class="headerlists">User</mat-card-title>
                  <span class="rsvplisttypecontentinfowrapper">
                    <span class="rsvplisttypecontentinfo">
                      <span class="rsvplisttypeimgwrapper">
                        <img src="../../../../assets/images/imguser.jpg">
                      </span>
                      <span class="listscontent">
                        <mat-list>
                          <mat-list-item><span class="labelcls">Name:</span> <span>Lorem Ipsum</span> </mat-list-item>
                          <mat-list-item><span class="labelcls">Email ID:</span> <span>Lorem Ipsum.1256@gmail.com</span> </mat-list-item>                                              
                          <mat-list-item><span class="labelcls">Phone:</span> <span>1234567890</span> </mat-list-item>                                              
                        </mat-list>
                        
                      </span>
                    </span>
                    <span class="rsvplisttypebottom">
                      <span>Qualified for Finance: <span class="redcls">NO</span></span>
                      <span>Job Ticket related to this car: <span class="greencls">[1]</span></span>
                    </span>
                  </span>
                </span>                                
              </span> -->

                  <!-- For End Sales Rep -->

                  <!-- For Customer -->

                  <!-- <span class="flexcolumn " *ngIf="user_details.type == 'customer'">               
                <span>
                  <mat-card-title class="headerlists">Salesrep</mat-card-title>
                  <span class="rsvplisttypecontentinfowrapper">
                    <span class="rsvplisttypecontentinfo">
                      <span class="rsvplisttypeimgwrapper">
                        <img src="../../../../assets/images/imguser.jpg">
                      </span>
                      <span class="listscontent">
                        <mat-list>
                          <mat-list-item><span class="labelcls">Name:</span> <span>Lorem Ipsum</span> </mat-list-item>
                          <mat-list-item><span class="labelcls">Email ID:</span> <span>Lorem Ipsum.1256@gmail.com</span> </mat-list-item>                                              
                          <mat-list-item><span class="labelcls">Phone:</span> <span>1234567890</span> </mat-list-item>                                                     
                        </mat-list>                       
                      </span>
                    </span>
                    <span class="rsvplisttypebottom">
                      <span>Commission: <span class="redcls">NO</span></span>
                    </span>
                  </span>
                </span>
              </span> -->

                  <!-- For End Customer -->

                </span>




                <span class="inventorydetailmiddle detaillistcls">
                  <span class="flexcolumn">
                    <span>
                      <mat-card-title class="headerlists"><span>Features</span></mat-card-title>
                      <mat-list class="flexbox2column">
                        <mat-list-item>
                          <label>id : </label>
                          <span>{{data.id}}</span>
                        </mat-list-item>
                        <mat-list-item>
                          <label>Drivetrain : </label>
                          <span>{{data.build.drivetrain}}</span>
                        </mat-list-item>
                        <mat-list-item>
                          <label>Year : </label>
                          <span>{{data.build.year}}</span>
                        </mat-list-item>
                        <mat-list-item>
                          <label>Fuel Type : </label>
                          <span>{{data.build.fuel_type}}</span>
                        </mat-list-item>
                        <mat-list-item>
                          <label>Make : </label>
                          <span>{{data.build.make}}</span>
                        </mat-list-item>
                        <mat-list-item>
                          <label>Exterior Color : </label>
                          <span>{{data.exterior_color}}</span>
                        </mat-list-item>
                        <mat-list-item>
                          <label>Model : </label>
                          <span>{{data.build.model }}</span>
                        </mat-list-item>
                        <mat-list-item>
                          <label>Interior Color : </label>
                          <span>{{data.interior_color}}</span>
                        </mat-list-item>

                        <mat-list-item>
                          <label>Trim : </label>
                          <span>{{data.build.trim}}</span>
                        </mat-list-item>

                        <mat-list-item>
                          <label>Engine : </label>
                          <span>{{data.build.engine}}</span>
                        </mat-list-item>

                        <mat-list-item>
                          <label>Body Type : </label>
                          <span>{{data.build.body_type}}</span>
                        </mat-list-item>

                        <mat-list-item>
                          <label>Engine Size : </label>
                          <span>{{data.build.engine_size}}</span>
                        </mat-list-item>

                        <mat-list-item>
                          <label>Body Subtype : </label>
                          <span
                            *ngIf="data.build.body_subtype != null && data.build.body_subtype != ''">{{data.build.body_subtype}}</span>
                          <span *ngIf="data.build.body_subtype == null || data.build.body_subtype == ''">N/A</span>
                        </mat-list-item>

                        <mat-list-item>
                          <label>Engine Block : </label>
                          <span>{{data.build.engine_block}}</span>
                        </mat-list-item>
                        <mat-list-item>
                          <label>Vehicle Type : </label>
                          <span>{{data.build.cylinders}}</span>
                        </mat-list-item>
                        <mat-list-item>
                          <label>Doors : </label>
                          <span>{{data.build.doors}}</span>
                        </mat-list-item>
                        <mat-list-item>
                          <label>Transmission : </label>
                          <span>{{data.build.transmission}}</span>
                        </mat-list-item>
                        <mat-list-item>
                          <label>Cylinders : </label>
                          <span>{{data.build.cylinders}}</span>
                        </mat-list-item>
                      </mat-list>
                    </span>
                  </span>
                </span>

              </span>
            </span>
          </mat-card-content>

          <mat-card-content>
            <span class="dealerinfowrapper">

              <span class="detaillistcls">
                <span class="flexcolumn">
                  <span>
                    <mat-card-title class="headerlists"><span>SELLER INFORMATION</span></mat-card-title>
                    <mat-list class="flexbox1column">
                      <mat-list-item>
                        <label>Seller Type : </label>
                        <span>{{data.seller_type}}</span>
                      </mat-list-item>
                      <mat-list-item>
                        <label>Year : </label>
                        <span>{{data.build.year}}</span>
                      </mat-list-item>
                      <mat-list-item>
                        <label>Make : </label>
                        <span>{{data.build.make}}</span>
                      </mat-list-item>
                    </mat-list>
                  </span>
                  <span>
                    <mat-card-title class="headerlists"><span>financing options</span></mat-card-title>
                    <mat-list class="flexbox1column">
                      <mat-list-item>
                        <label>Loan Term : </label>
                        <span
                          *ngIf="data.financing_options== null || data.financing_options[0].loan_term == null">N/A</span>

                        <span
                          *ngIf="data.financing_options!= null && data.financing_options[0].loan_term != null">{{data.financing_options[0].loan_term}}</span>
                      </mat-list-item>
                      <mat-list-item>
                        <label>Loan Annual Percentage Rate : </label>
                        <span
                          *ngIf="data.financing_options == null || data.financing_options[0].loan_apr == null">N/A</span>

                        <span
                          *ngIf="data.financing_options!= null && data.financing_options[0].loan_apr != null">{{data.financing_options[0].loan_apr}}</span>
                      </mat-list-item>
                      <mat-list-item>
                        <label>Down payment : </label>
                        <span
                          *ngIf="data.financing_options == null || data.financing_options[0].down_payment  == null">N/A</span>

                        <span
                          *ngIf="data.financing_options!= null && data.financing_options[0].down_payment != null">{{data.financing_options[0].down_payment}}</span>
                      </mat-list-item>
                    </mat-list>
                  </span>
                </span>
              </span>

              <span class="detaillistcls">
                <span class="singlecolumn">
                  <mat-card-title class="headerlists"><span>Dealer information</span></mat-card-title>
                  <mat-list class="flexbox4column">
                    <mat-list-item>
                      <label>Seller id : </label>
                      <span>{{data.dealer.id}}</span>
                    </mat-list-item>
                    <mat-list-item>
                      <label>Dealer Type : </label>
                      <span>{{data.dealer.dealer_type}}</span>
                    </mat-list-item>
                    <mat-list-item>
                      <label>State : </label>
                      <span>{{data.dealer.state}}</span>
                    </mat-list-item>
                    <mat-list-item>
                      <label>Longitude : </label>
                      <span>{{data.dealer.longitude}}</span>
                    </mat-list-item>
                    <mat-list-item>
                      <label>Website : </label>
                      <span>{{data.dealer.website}}</span>
                    </mat-list-item>
                    <mat-list-item>
                      <label>Street : </label>
                      <span>{{data.dealer.street}}</span>
                    </mat-list-item>
                    <mat-list-item>
                      <label>Country : </label>
                      <span>{{data.dealer.country}}</span>
                    </mat-list-item>
                    <mat-list-item>
                      <label>Zip : </label>
                      <span>{{data.dealer.zip}}</span>
                    </mat-list-item>

                    <mat-list-item>
                      <label>Name : </label>
                      <span>{{data.dealer.name}}</span>
                    </mat-list-item>

                    <mat-list-item>
                      <label>City : </label>
                      <span>{{data.dealer.city}}</span>
                    </mat-list-item>

                    <mat-list-item>
                      <label>Latitude : </label>
                      <span>{{data.dealer.latitude}}</span>
                    </mat-list-item>

                  </mat-list>
                </span>
              </span>
            </span>
          </mat-card-content>


          <mat-card-content class="adm_dashboard_block2 inventorydetailsimilarv" *ngIf="router.url != '/search-detail'">
            <mat-card-title class="sectionheader">Similar Vehicles</mat-card-title>
            <mat-list role="list" class="flexbox4columnsv">

              <!-- <mat-list-item role="listitem" class="block1socialadvosingle">
                <span class="block1socialadvosingleinner">
                    <span class="topblock">
                        <span class="rsvplistimgwrapper">                           
                            <img src="../../../../assets/images/adm-socialadvo-img1.jpg">
                        </span>
                      </span>


                      <span class="middleblock">   

                        <h2>BMW 535I, NAVI, LEATHER,  ABS</h2>
                        <span class="pricecls">
                            $ 45 000
                        </span>
                        <span class="titlecls">
                          <h1 class="btnrsvp">RSVP</h1>
                        </span>
                      </span>
                      <span class="bottomblockss">                                  
                        <mat-list>
                            <mat-list-item class="pa_blockfootertext"> <strong><img src="../../../../assets/images/milesicon.png"></strong> 108926</mat-list-item>                                        
                            <mat-list-item class="pa_blockfootertext"> <strong><img src="../../../../assets/images/drivetrainicon.png"></strong> 4WD</mat-list-item> 
                            <mat-list-item class="pa_blockfootertext"> <strong><img src="../../../../assets/images/bodytypeicon.png"></strong> Manual</mat-list-item>
                          </mat-list>
                      </span>
                </span>                                
            </mat-list-item> -->
              <mat-list-item role="listitem" class="block1socialadvosingle"
                *ngFor="let item of saveList | slice:0:indexVal">
                <span class="block1socialadvosingleinner">
                  <span class="topblock">
                    <span class="rsvplistimgwrapper">
                      <img [src]="item.media.photo_links[0]">
                      <img *ngIf="item.media.photo_links == null"
                        src="../../../../assets/images/adm-socialadvo-img2.jpg">

                    </span>
                  </span>
                  <span class="middleblock">
                    <h2>{{item.heading}} <span (click)="inventoryDetails(item._id)">View Details</span></h2>

                    <span class="pricecls" > 
                      $ {{item.price}}</span>
                     

                    <span class="titlecls">
                      <!-- <h1 class="btnrsvp">RSVP</h1> -->
                      <h1 class="btnrsvp" *ngIf="user_details.type == 'customer' || user_details.type == 'salesrep'"
                        (click)="inventoryDetails(item._id)">RSVP</h1>
                    </span>

                    <!-- for rsvp, remove,and select custometr -->
                    <!-- <span class="topinnerinforight"   >
                  <h1  class="btnrsvp" *ngIf="user_details.type == 'customer' || user_details.type == 'salesrep'" (click)="addRsvp(itemVal,data)">RSVP</h1>
                  <mat-button class="btnredcls" (click)="removeRsvp(itemVal,data)">Remove</mat-button> 
                  <mat-form-field class="select-customer" *ngIf="user_details.type == 'salesrep'">
                    <mat-label >Select Customer</mat-label>
                    <mat-select [(ngModel)]="customer_id">
                      <mat-option *ngFor="let item of customerList" [value]="item._id">
                        {{item.firstname}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                  <div>
                    <span class="errormsg" *ngIf=" errorMsg !=null &&  errorMsg != '' && user_details.type == 'salesrep' "     [ngClass]="customer_id =='' ? 'errormsg':'test'" >{{errorMsg}}</span>
                  </div>
                </span> -->

                  </span>
                  <span class="bottomblockss">
                  <mat-list>
                     <mat-list-item class="pa_blockfootertext">
                      <strong><img src="../../../../assets/images/milesicon.png">
                   </strong><span *ngIf="item.miles !=null && item.miles != ''">{{item.miles}}</span>
                        <span *ngIf="item.miles ==null || item.miles == ''">N/A</span>
                      </mat-list-item>

                      <mat-list-item class="pa_blockfootertext"> <strong><img
                            src="../../../../assets/images/drivetrainicon.png"></strong> {{item.build.drivetrain}}
                      </mat-list-item>
                      <mat-list-item class="pa_blockfootertext"> <strong><img
                            src="../../../../assets/images/bodytypeicon.png"></strong>{{item.build.transmission}}
                      </mat-list-item>
                    </mat-list>
                  </span>
                </span>
              </mat-list-item>
              <!-- <mat-list-item role="listitem" class="block1socialadvosingle">
                  <span class="block1socialadvosingleinner">
                      <span class="topblock">
                          <span class="rsvplistimgwrapper">                           
                              <img src="../../../../assets/images/adm-socialadvo-img3.jpg">
                          </span>
                        </span>


                        <span class="middleblock">   

                          <h2>BMW 535I, NAVI, LEATHER,  ABS</h2>
                          <span class="pricecls">
                              $ 45 000
                          </span>
                          <span class="titlecls">
                            <h1 class="btnrsvp">RSVP</h1>
                          </span>
                        </span>
                        <span class="bottomblockss">                                  
                          <mat-list>
                              <mat-list-item class="pa_blockfootertext"> <strong><img src="../../../../assets/images/milesicon.png"></strong> 108926</mat-list-item>                                        
                              <mat-list-item class="pa_blockfootertext"> <strong><img src="../../../../assets/images/drivetrainicon.png"></strong> 4WD</mat-list-item> 
                              <mat-list-item class="pa_blockfootertext"> <strong><img src="../../../../assets/images/bodytypeicon.png"></strong> Manual</mat-list-item>
                            </mat-list>
                        </span>
                  </span>                                
              </mat-list-item>
              <mat-list-item role="listitem" class="block1socialadvosingle">
                <span class="block1socialadvosingleinner">
                    <span class="topblock">
                        <span class="rsvplistimgwrapper">                           
                            <img src="../../../../assets/images/adm-socialadvo-img4.jpg">
                        </span>
                      </span>

                      <span class="middleblock">   
                        <h2>BMW 535I, NAVI, LEATHER,  ABS</h2>
                        <span class="pricecls">
                            $ 45 000
                        </span>
                        <span class="titlecls">
                          <h1 class="btnrsvp">RSVP</h1>
                        </span>
                      </span>
                      <span class="bottomblockss">                                  
                        <mat-list>
                            <mat-list-item class="pa_blockfootertext"> <strong><img src="../../../../assets/images/milesicon.png"></strong> 108926</mat-list-item>                                        
                            <mat-list-item class="pa_blockfootertext"> <strong><img src="../../../../assets/images/drivetrainicon.png"></strong> 4WD</mat-list-item> 
                            <mat-list-item class="pa_blockfootertext"> <strong><img src="../../../../assets/images/bodytypeicon.png"></strong> Manual</mat-list-item>
                          </mat-list>
                      </span>
                </span>                                
            </mat-list-item> -->

            </mat-list>
            <span class="btnwrappercls">
              <mat-button mat-button class="btnblue" (click)="viewAll()" *ngIf="saveList !=null &&  saveList.length >= indexVal" >View All</mat-button>
            </span>
          </mat-card-content>

        </span>
      </span>
    </mat-card>



  </div>
</div>

<app-footer></app-footer>